<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link id="CustomTheme" type="text/css" rel="stylesheet"
              href="../../Resource/css/index/customLightBlue.css" />
        <link id="EasyuiTheme" type="text/css" rel="stylesheet"
              href="../../Resource/js/easyUI/themes/easyuiLightBlue.css" />
        <link id="JqgridTheme" type="text/css" rel="stylesheet"
              href="../../Resource/js/jqueryUI/theme/jqgridLightBlue/jquery-ui-1.10.4.custom.css" />
        <link type="text/css" rel="stylesheet"
              href="../../Resource/js/easyUI/themes/icon.css" />
        <link type="text/css" rel="stylesheet"
              href="../../Resource/js/jqueryUI/theme/ui.jqgrid.css" />
        <link type="text/css" rel="stylesheet" href="../../View/ywgl/css/trainsPlan.css" />
        <link type="text/css" rel="stylesheet" href="css/tyle.css"/>
        <title>#{supplier.detail.thisPage}</title>
    </head>
    <body style="overflow:hidden">
        <div id="toolbar" class="easyui-panel" style="padding: 4px; border-width: 0; border-bottom-width: 1px;">
            #{PAGE_TOOLBAR_BUTTONROLE}
        </div>
        <form id="addForm" class="easyui-form" method="post" data-options="novalidate:true">
            <table class="editTable">
                <tr>
                    <td></td>
                    <td class="editControl">总量</td>
                    <td class="editControl">拆分</td>
                    <td class="editControl">剩余</td>
                </tr>
                <tr>
                    <td class="editTitle">体积：</td>
                    <td class="editControl"><input class="easyui-textbox" name="allCountVol" id="allCountVol" style="width: 70px;" data-options="editable:false"/></td>
                    <td class="editControl"><input class="easyui-textbox" name="breakVol" id="breakVol" missingmessage="拆分体积必填" style="width: 70px;" data-options="required:true"/><span style="color:red;font-size:16px;text-align:center;">*</span></td>
                    <td class="editControl"><input class="easyui-textbox" name="remainingVol" id="remainingVol" style="width: 70px;" data-options="editable:false"/></td>
                </tr>
                <tr>
                    <td class="editTitle">重量：</td>
                    <td class="editControl"><input class="easyui-textbox" name="allCountGwt" id="allCountGwt" style="width: 70px;" data-options="editable:false"/></td>
                    <td class="editControl"><input class="easyui-textbox" name="breakGwt" id="breakGwt" style="width: 70px;" missingmessage="拆分重量必填" data-options="required:true"/><span style="color:red;font-size:16px;text-align:center;">*</span></td>
                    <td class="editControl"><input class="easyui-textbox" name="remainingGwt" id="remainingGwt" style="width: 70px;" data-options="editable:false"/></td>
                </tr>
                <tr>
                    <td class="editTitle">件数：</td>
                    <td class="editControl"><input class="easyui-textbox" name="allCountQty" id="allCountQty" style="width: 70px;" data-options="editable:false"/></td>
                    <td class="editControl"><input class="easyui-textbox" name="breakQty" id="breakQty" style="width: 70px;" missingmessage="拆分件数必填" data-options="required:true"/><span style="color:red;font-size:16px;text-align:center;">*</span></td>
                    <td class="editControl"><input class="easyui-textbox" name="remainingQty" id="remainingQty" style="width: 70px;" data-options="editable:false"/></td>
                </tr>
            </table>
        </form>
        <script type="text/javascript" src="../../Resource/js/My97DatePicker/WdatePicker.js"></script>
        <script type="text/javascript" src="../../Resource/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery.i18n.properties.js"></script>
        <script type="text/javascript" src="../../Resource/js/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="../../Resource/js/easyUI/jquery.easyui.min.js"></script>
        <script type="text/javascript" src="../../Resource/js/easyUI/easyui-lang-zh_CN.js"></script>
        <script type="text/javascript" src="../../Resource/js/easyUI/jquery.easyuiExtend.min.js"></script>
        <script type="text/javascript" src="../../Resource/js/base/commonControl.js"></script>
        <script type="text/javascript" src="../../Resource/js/base/globalVariable.js"></script>
        <script type="text/javascript" src="../../Resource/js/base/commonBusiness.js"></script>
        <script type="text/javascript" src="../../Resource/js/jqueryUI/i18n/grid.locale-cn.js"></script>
        <script type="text/javascript" src="../../Resource/js/jqueryUI/jquery.jqGrid.min.js"></script>
        <script type="text/javascript" src="../../Resource/js/jqueryUI/plugins/grid.setcolumns.js"></script>
        <script type="text/javascript" src="../../Resource/js/cookie/jquery.cookie.js"></script>
        <script type="text/javascript" src="../../Resource/js/jquery.contextmenu.r2.js"></script>
        <script language="javascript" type="text/javascript">
            var detailGuid = "";
            var parentDetailGuid = "";
            $(function() {
                var params = getUrlParms();
                detailGuid = params["detailGuid"];
                parentDetailGuid = params["parentDetailGuid"];
                initScript();
                //获取mostly表数据
                initData();
                initStyle();


                $("#breakGwt").textbox({
                   onChange: function() {
                    var breakGwt = $("#breakGwt").textbox("getValue");
                    var countGwt = $("#allCountGwt").textbox("getValue");
                    // 判断拆分的重量不能超过总的重量
                    if(parseFloat(breakGwt) > parseFloat(countGwt)) {
                        errorNotification({ SimpleMessage: "拆分的重量不能超过总重量"});
                        return;
                    }
                    $("#remainingGwt").textbox("setValue", parseFloat(countGwt - breakGwt));
                   }
                });

                $("#breakQty").textbox({
                   onChange: function() {
                       var breakQty = $("#breakQty").textbox("getValue");
                       var countQty = $("#allCountQty").textbox("getValue");
                       // 判断拆分的体积不能超过总体积
                       if(parseFloat(breakQty) > parseFloat(countQty)) {
                           errorNotification({ SimpleMessage: "拆分的体积不能超过总体积"});
                           return;
                       }
                       $("#remainingQty").textbox("setValue", parseFloat(countQty - breakQty));
                   }
                });

                $("#breakVol").textbox({
                   onChange: function() {
                       var breakVol = $("#breakVol").textbox("getValue");
                       var countVol = $("#allCountVol").textbox("getValue");
                       // 判断拆分的体积不能超过总体积
                       if(parseFloat(breakVol) > parseFloat(countVol)) {
                           errorNotification({ SimpleMessage: "拆分的体积不能超过总体积"});
                           return;
                       }
                       $("#remainingVol").textbox("setValue", parseFloat(countVol - breakVol));
                   }
                });
            });

            $(window).load(function() { hideLoading(); });

            var time = function(date){
                $("[name=planBeginDate]").val(date);
            }

            var initStyle = function() {
                enterTriggerEvent('searchParamesTable', 'searchData2');
            };

            var initScript = function() {
                var v = 0;
            };

            var initData = function() {
                loadOrderDetail();
            }

            // 首先根据id获取当前运单明细的数据
            var loadOrderDetail = function() {
                $.ajax({
                    url: '../../bussiness/planExec/getOrderByGuid?t=' + Math.random(),
                    type: 'POST',
                    data: {'detailGuid': detailGuid, 'parentDetailGuid': parentDetailGuid},
                    success: function(dataObj) {
                        var data = dataObj.resultDataFull
                        $("#allCountVol").textbox("setValue", data.vol);
                        $("#allCountGwt").textbox("setValue", data.gwt);
                        $("#allCountQty").textbox("setValue", data.qty);
                    }
                });
            }

            var save = function() {
                if(!validate()) {
                    return;
                }
                var dataForm = FormUtils.toJSONObject($("#addForm"));
                dataForm.detailGuid = detailGuid;
                dataForm.parentDetailGuid = parentDetailGuid;
                $.messager.confirm('提示', '确定要保存吗?', function(r){
                   if(r) {
                       $.ajax({
                          url: '../../bussiness/planExec/breakorderdetail?t=' + Math.random(),
                          type: 'POST',
                          data: 'jsonData=' + JSON.stringify(dataForm),
                          success: function(dataObj) {
                              hideLoading();
                              if (isServerResultDataPass(dataObj)) {
                                  correctNotification({ SimpleMessage : '保存成功'});
                                  //刷新父页面
                                  getCurrentTab().searchData2();
                                  close();
                              } else {
                                  FailResultDataToTip(dataObj);
                              }
                          },
                           error : function(message) {
                               hideLoading();
                           }
                       });
                   }
                });
            }

            var validate = function () {
                var validated = $("#addForm").form('enableValidation').form('validate');
                if (!validated) {
                    errorNotification({ SimpleMessage: "您有必填项没有通过" });
                    return false;
                }
                return true;
            }

        </script>
    </body>
</html>