<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link id="CustomTheme" type="text/css" rel="stylesheet"
	href="../../Resource/css/index/customLightBlue.css" />
<link id="EasyuiTheme" type="text/css" rel="stylesheet"
	href="../../Resource/js/easyUI/themes/easyuiLightBlue.css" />
<link id="JqgridTheme" type="text/css" rel="stylesheet"
	href="../../Resource/js/jqueryUI/theme/jqgridLightBlue/jquery-ui-1.10.4.custom.css" />
<link type="text/css" rel="stylesheet"
	href="../../Resource/js/easyUI/themes/icon.css" />
<link type="text/css" rel="stylesheet"
	href="../../Resource/js/jqueryUI/theme/ui.jqgrid.css" />
<style type="text/css">
.splitBox{display: table;width: 100%;height:20px;}
.splitBox .splitTitle{display: table-cell;cursor:pointer; text-align:center;width:15%;font-size: 12px;font-weight: bold; color:#fff; background-color:#C2D3E9; vertical-align: middle;}
.splitBox .splitHr{display: table-cell;text-align: left;vertical-align: middle;}
.splitBox .splitHr hr{height: 1px;border: none;border-top: 1px dotted #3eafe0;margin-top: 2px; margin-bottom: 2px;}
.splitBox .splitRemark{display: table-cell;font-size: 12px;color: #3eafe0; text-align: right; width: 130px; vertical-align: middle; font-weight:bold;}
.editTable table input{width:auto;}
</style>
    <title>#{contractor.detail.thisPage}</title>
</head>
<body style="overflow:hidden">
    <div id="toolbar" class="easyui-panel" style="padding: 4px; border-width:0; border-bottom-width:1px;">
      #{PAGE_TOOLBAR_BUTTONROLE}
    </div>
    <form id="addForm" class="easyui-form" method="post" data-options="novalidate:true">
    <div style="padding: 3px">
				<input type="hidden" id="sn" name="sn" />
				<table class="editTable" >
				 <tr>
                    <td colspan="8" style="border: 0px solid #EEEEEE; padding-left: 0; padding-top: 7px;">
                        <div class="splitBox">
                            <div class="splitTitle" style="width:20%;" style="color: black;">
                             	<label data-locale="planExec_mostly_detail"/>
                            </div>
                            <div class="splitHr">
                                <hr />
                            </div>
                        </div>
                    </td>
                </tr>
					<tr>
						<td class="editRequiredTitle" style="color: black;"><label data-locale="detail.goodsname"/>:</td>
						<td class="editControl">
							<input class="easyui-textbox"  data-locale-missingmessage="contractor.detail.message.notEmptyValid" autocomplete="off"  data-options="required:true" name="goodsName" id="goodsName" />
						</td>
					
						<td class="editRequiredTitle" style="color: black;"><label data-locale="detail.unit"/>:</td>
						<td class="editControl">
							<input class="easyui-textbox" data-locale-missingmessage="contractor.detail.message.notEmptyValid" autocomplete="off"  data-options="required:true" name="unit" id="unit" />
						</td>
					</tr>
					<tr>
						<td class="editRequiredTitle" style="color: black;"><label data-locale="detail.vol"/>:</td>
						<td class="editControl">
							<input class="easyui-textbox" data-locale-missingmessage="contractor.detail.message.notEmptyValid" autocomplete="off"  data-options="required:true" name="vol" id="vol" />
						</td>
					
						<td class="editRequiredTitle" style="color: black;"><label data-locale="detail.gwt"/>:</td>
						<td class="editControl">
							<input class="easyui-textbox" data-locale-missingmessage="contractor.detail.message.notEmptyValid" autocomplete="off"  data-options="required:true" name="gwt" id="gwt" />
						</td>
					</tr>
					<tr>
						<td class="editRequiredTitle" style="color: black;"><label data-locale="detail.qty"/>:</td>
						<td class="editControl">
							<input class="easyui-textbox" data-locale-missingmessage="contractor.detail.message.notEmptyValid" autocomplete="off"   data-options="required:true" name="qty" id="qty" />
						</td>
					</tr>
				</table>
		</div>
    	<div data-locale-title="planExec_mostly_detail">
                <table class="editTable">
                <!-- <tr>
                    <td colspan="8" style="border: 0px solid #EEEEEE; padding-left: 0; padding-top: 7px;">
                        <div class="splitBox">
                            <div class="splitTitle" style="width:20%;">
                             	<label data-locale="planExec_mostly_detail"/>
                            </div>
                            <div class="splitHr">
                                <hr />
                            </div>
                        </div>
                    </td>
                </tr> -->
                <tr  style="border:0px;">
                    <td>
                    	<img onclick="add('gridTable')" src="../../Resource/images/btn_bg_edit.png" width="25" height="25"/>
                    </td>
			    </tr>
                <tr>
                    <td>
                      	<div id="gridControl">
                			<table id="gridTable">
                			</table>
            			</div>
                    </td>
			    </tr>
            </table>     
        	</div>
      </form>
</body>
<script type="text/javascript"
	src="../../Resource/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery.i18n.properties.js"></script>
<script type="text/javascript"
	src="../../Resource/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript"
	src="../../Resource/js/easyUI/jquery.easyui.min.js"></script>
<script type="text/javascript"
	src="../../Resource/js/easyUI/jquery.easyuiExtend.min.js"></script>
<script type="text/javascript"
	src="../../Resource/js/easyUI/easyui-lang-zh_CN.js"></script>
<script type="text/javascript"
	src="../../Resource/js/base/commonControl.js"></script>
<script type="text/javascript"
	src="../../Resource/js/base/globalVariable.js"></script>
<script type="text/javascript"
	src="../../Resource/js/base/commonBusiness.js"></script>
<script type="text/javascript"
	src="../../Resource/js/jqueryUI/i18n/grid.locale-cn.js"></script>
<script type="text/javascript"
	src="../../Resource/js/jqueryUI/jquery.jqGrid.min.js"></script>
<script type="text/javascript"
	src="../../Resource/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript"
	src="../../Resource/js/jqueryUI/plugins/grid.setcolumns.js"></script>
<script type="text/javascript" src="../../Resource/js/regex/regex.js"></script>
<script type="text/javascript" src="../../Resource/js/cookie/jquery.cookie.js"></script>
<script language="javascript" type="text/javascript">
    var afterSave = "close";
    var werks ="";
    var trans_mode="";
    var supply_method="";
    var code = "";
    var sn="";
    var callerId = "";
    var callerType = "";
    var callbackFlag = "";
    var originalFormData = "";
    var globalStateArray=null; // 全局状态变量
    var savedRow1 = null;
    var savedCol1 = null;
    var flag = true;
    var detail_guid = "";
    var mostly_guid = "";
    var guid = "";
    var trainNo = "";
    $(function () {
        var parms = getUrlParms();
        code = parms["code"];
        sn = parms["sn"];
        trainno = parms["trainNo"];
        detail_guid=parms["detail_guid"];
        mostly_guid = parms["mostly_guid"];
        $("#sn").val(sn);
        callerId = parms["callerId"];
        callerType = parms["callerType"];
        callbackFlag = parms["callbackFlag"];
        initData();
        
       /*  var userLevle = $.cookie("userlevel");
		if(userLevle=="2"){
			$("#code").textbox('setValue',$.cookie("OSUN_whcenter"));
			$("#name").textbox('setValue',$.cookie("OSUN_whcenter_name"));
			$("#code").textbox('textbox').attr('readonly',true); 
			$("#name").textbox('textbox').attr('readonly',true); 

		} */
    });

    $(window).load(function () {
        hideLoading();
    });
    
    var initCombValid = function(){
    	$.extend($.fn.validatebox.defaults.rules, {
  	    	comboValid : {
  				validator: function(value,param){
  					if(value.indexOf("--")!=-1){
  						 if(flag){
  	  	            		return true;
  	  	            	  }
  	  	              	return false;
  	  	              }
  	  	            return true;
  	  	         },
  	  	         message: '#{contractor.detail.message.combValid}.'
  	  		}
  	  	});
    }

    var initData = function () {
    	loadBusinessMode();
    	loadWaybillType();
    	loadTransportMode();
    	loadLocLocation();
    	loadDesLocation();
    	loadList();
    	initGridStyle();
    	initCombValid();
        loadDetail();
           // originalFormData = $('#addForm').serialize();
        }
    
    var initGridStyle = function(){
		var width = $("#gridTable").css("width");
    	var num = parseInt(width.substring(0,width.indexOf("px")))+38;
    }
    
    var loadWaybillType = function(){
    	$("#waybill_type").combobox({
    		  url : "../../scts/basic/findDictionaryByType?t=" + Math.random()+"&type=waybillType_IO",
    		  method : "GET",
    		  valueField: 'code',  
    		  textField: 'values1',
    		  onLoadSuccess: function () { 
    			  if(code==""){
    				  $(this).combobox("setValue","--#{contractor.detail.switch}--");
    			  }
              }
    	});
    }
    
    var loadLocLocation = function(){
    	$("#disp_loc").combobox({
    		  url : "../../jcda/contractor/findLocation?t=" + Math.random(),
    		  method : "GET",
    		  valueField: 'code',  
    		  textField: 'name',
    		  onLoadSuccess: function (data) { 
    			  if(code==""){
    				  $(this).combobox("setValue","--#{contractor.detail.switch}--");
    			  }
              }
    	});
    }
    
    var loadDesLocation = function(){
    	$("#destination").combobox({
  		  url : "../../jcda/contractor/findLocation?t=" + Math.random(),
  		  method : "GET",
  		  valueField: 'code',  
  		  textField: 'name',
  		  onLoadSuccess: function (data) { 
  			  if(code==""){
  				  $(this).combobox("setValue","--#{contractor.detail.switch}--");
  			  }
            }
  	});
    }
   
    var loadBusinessMode = function(){
    	$("#business_mode").combobox({
    		  url : "../../scts/basic/findDictionaryByType?t=" + Math.random()+"&type=businessMode_IO",
    		  method : "GET",
    		  valueField: 'code',  
    		  textField: 'values1',
    		  onLoadSuccess: function () { //加载完成后,val[0]写死设置选中第一项
    			  if(code==""){
    				  $(this).combobox("setValue","--#{contractor.detail.switch}--");
    			  }
              }
    	});
    }
    
    function searchData(name) {
        $("#"+name).jqGrid('setGridParam', {
            url: getDetailChild(name),
            datatype: 'json',
            mtype : "POST",
            postData: { "filters": "" },
            page: 1
        }).trigger("reloadGrid");
    }
    
    var initCodekeyDown = function(){
    	$('#code').textbox({
            inputEvents: $.extend({},$.fn.textbox.defaults.inputEvents,{
            	keyup:function(event){
            		if(event.keyCode == 13) {
           				searchData('gridTable');
            		}
            	},
            	blur : function(evet){
            		if(!flag){
       					searchData('gridTable');
            		}
            	}
         	})
      	})
    }
    
    var loadTransportMode = function(){
    	$("#transport_mode5").combobox({
    		  url : "../../scts/basic/findDictionaryByType?t=" + Math.random()+"&type=transportMode_IO",
    		  method : "GET",
    		  valueField: 'code',  
    		  textField: 'values1',
    		  onLoadSuccess: function () { //加载完成后,val[0]写死设置选中第一项
    			  if(code==""){
    				  $(this).combobox("setValue","--#{contractor.detail.switch}--");
    			  }
              }
    	});
    }
  
    var add = function (name) {
    	loseGridFocus();
        var ids = $("#"+name).jqGrid('getDataIDs');
        var rowid = Math.max.apply(Math, ids);
        if (rowid == "-Infinity"){
            rowid = 0;
        }
        var newrowid = rowid + 1;
        var dataRow = {
        	rowid: newrowid,
        };
        $("#"+name).jqGrid("addRowData", newrowid, dataRow, "last");
    }
    
    var close = function () {
    	closeDialog("orderDetailChild");
    }

    var validate = function () {
        var validated = $("#addForm").form('enableValidation').form('validate');
        if (!validated) {
            errorNotification({
                SimpleMessage: $.i18n.prop('basic.message.saveValid')
            });
            return false;
        }
        var newFormData = $('#addForm').serialize();
        if (newFormData == originalFormData) {
            errorNotification({
                SimpleMessage: $.i18n.prop('business.message.notChange')
            });
            return false;
        }
        return true;
    }

   
    
    var afterSaveOperate = function () {
        switch (afterSave) {
            case "edit":
			code = $("#code").textbox("getValue");
			refreshCallerData();
			openDetail(code);
			break;
            case "close":
                refreshCallerData();
                close();
                break;
            case "clear":
                $('form').form('clear');
                $("#sn").val("0");
                $("input", $("#code").next("span")).removeAttr("readonly");
                refreshCallerData();
                break;
            case "copy":
                $("#sn").val("0");
                $("input", $("#code").next("span")).removeAttr("readonly");
                $("#code").textbox('setValue', '');
                refreshCallerData();
                break;
        }
    }

    var refreshCallerData = function () {
        if (callerType == Global_Constant.Global_Constant_CallerType_Dialog) {
            //此callerId此时为dialog的id
            getDialog(callerId).refreshCallerData(callbackFlag);
        } else {
            //此callerId此时为frame的id
            getCurrentTab(callerId).refreshCallerData(callbackFlag);
        }
    }
    
    var getDetailFilters = function() {
		var parmsArray = [
		{ name: 'o.guid', value: detail_guid, op: "eq" },
        ];
        return formatSearchParames(parmsArray);
    };
    
    
    //加载订单详情
    var loadDetail = function () {
        showLoading($.i18n.prop('order.detail.loading'));
        var supplierVO = {};
        if(sn!=null||sn!=undefined){
        	var serverUrl = "../../order/findOrderDetial?t="+ Math.random()+'&customSearchFilters=' + encodeURI(getDetailFilters());
            $.ajax({
    			type : "POST",
    			url : serverUrl,
    			contentType : 'application/json;charset=utf-8', // 设置请求头信息
    			success : function(dataObj) {
    				if (dataObj.rows[0]!=null){
    					$("#sn").val(dataObj.rows[0].sn);  
    		            $("#unit").val(dataObj.rows[0].unit);
    		            $("#vol").val(dataObj.rows[0].vol);
    		            $("#gwt").val(dataObj.rows[0].gwt);
    		            $("#qty").val(dataObj.rows[0].qty);
    		            $("#goodsName").val(dataObj.rows[0].goodsName);
                    	originalFormData = $('#addForm').serialize();
                } else {	
                    FailResultDataToTip(dataObj);
                }
                hideLoading();
    			},
            });
        }
    }
	var getFormSerializeData = function() {
		originalFormData = $('#addForm').serialize();
	}
    //加载订单详情子明细
    var loadList = function () {
        $("#gridTable").jqGrid({
            url: getDetailChild(detail_guid),
            datatype: "json",
            colNames: ['','sn',$.i18n.prop('planExec_mostly_detailChild_Guid'),$.i18n.prop('planExec_mostly_detailChild_detailGuid'),$.i18n.prop('planExec_mostly_detailChild_goodCode'),$.i18n.prop('planExec_mostly_detailChild_goodName'),$.i18n.prop('planExec_mostly_detailChild_vol'), 
                       $.i18n.prop('planExec_mostly_detailChild_gwt'), $.i18n.prop('planExec_mostly_detailChild_qty')],
            colModel: [
                { name : 'delete',width:40 , index : 'delete' ,align:'center',formatter:function(value,row,rowIndex){return "<a style='text-decoration:underline;color:blue;' href='javascript:deleteRow("+row.rowId+",\"gridTable\")'>"+delText+"</a>";}},
                { name: 'SN', index: 'SN', hidden: true  },
                { name: 'ODCGUID', index: 'ODCGUID', hidden: true  },
                { name: 'DETAIL_GUID', index: 'DETAIL_GUID', hidden: true  },
                { name: 'GOOD_CODE', index: 'GOOD_CODE', hidden: true  },
                { name: 'GOOD_NAME', index: 'GOOD_NAME', editable: true, edittype: 'text', align: 'center', fixed: true, width:200, search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] }
	                , editoptions: {
	                    dataEvents: [{ type: 'focus', data: {}, fn: function () {
	                        $(this).select();
	                    }
	                    }]
	                }
                },
                { name: 'VOL', index: 'VOL', editable: true, edittype: 'text', align: 'center', fixed: true, width: 200, search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] }
                , editoptions: {
                    dataEvents: [{ type: 'focus', data: {}, fn: function () {
                        $(this).select();
                    },
                    editrules:{
	                    required : true,
	                    custom:true,
	                    custom_func:function(value, colNames){ 
	                      if(!(/^(1[3-9])\d{9}$/.test(value))){
	                         return [false, $.i18n.prop('contractor.detail.message.telValid')]; 
	                      }else{
	                         return [true,""];
	                      }  
	                    }
	                 },
                    }]
                }
            },
                { name: 'GWT', index: 'GWT', editable: true, edittype: 'text', align: 'center', fixed: true, width: 200, search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] }
	                , editoptions: {
	                    dataEvents: [{ type: 'focus', data: {}, fn: function () {
	                        $(this).select();
	                    }
	                    }]
	                }
            	},
            	{ name: 'QTY', index: 'QTY', editable: true, edittype: 'text', align: 'center', fixed: true, width:200, search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] }
                , editoptions: {
                    dataEvents: [{ type: 'focus', data: {}, fn: function () {
                        $(this).select();
                    }
                    }]
                }
            },
            ],
            cellEdit: true,
            cellsubmit: 'clientArray',
            shrinkToFit: false,
            altRows: true,
            altclass: 'gridSpacingClass',
            forceFit: true,
            cellLayout: 0,
            scroll: false,
            autowidth: true,
            loadonce: false,
            mtype: "POST",
            viewrecords: true,
            rownumbers: true,
            rowNum: 100,
            height: "20%",
            rowList: [15, 20, 30, 50, 100],
            pager: "#gridPager",
            jsonReader: {
                root: "rows",
                total: "total",
                page: "page",
                records: "records",
                repeatitems: false
            },
            gridComplete: function () {
            },
            loadComplete: function (xhr) {
                FailResultDataToTip(xhr);
                hideLoading();
            },
            onSelectRow: function () {
            }
        });
        setGridHeightWidth();
        $('#gridTable').setGridParam({
            beforeEditCell: function (rowid, cellname, value, iRow, iCol) {
                savedRow1 = iRow;
                savedCol1 = iCol;
            }
        });
    }
    
	var getSearchFilters = function (detail_guid) {
    	
        var parmsArray = [
		  { name: 'detail_guid', value: detail_guid, op: "eq" }
        ];

        return formatSearchParames(parmsArray);
    }
    
    var getDetailChild = function(detail_guid){
    	if(detail_guid!=null&&detail_guid!=undefined){
    		var url = "../../order/findOrderChildBydetailGuid?t="+ Math.random()+"&customSearchFilters=" + encodeURI(getSearchFilters(detail_guid));
    		return url;  
    	}
    	return;
    }
    
    var delText = $.i18n.prop('planExec_mostly_detailChild_text_delete');
    
    var deleteRow = function(index,name){
    	$.messager.confirm($.i18n.prop('planExec_mostly_detailChild_prompt'), '#{planExec_mostly_detailChild_message_deleteQuestion}?', function (r) {
    		if(r){
    			var rowData = $("#"+name).jqGrid('getRowData',index);
    			if(rowData.SN!='' && rowData.SN!=undefined && rowData.SN!=null){
    				showLoading($.i18n.prop('order.detail.child.loading'));
                	$.ajax({
                		url : "../../order/deleteOrderDetailChildBySn?t="+Math.random(),
                		data:{sn:rowData.SN},
                		type:"POST",
                		success:function(data){
                			  if (isServerResultDataPass(data)) {
                	                correctNotification({
                	                    SimpleMessage: data.resultDataFull.simpleMessage
                	                });
                	                $("#"+name).delRowData(index);
                	    	    	
                	    	    	if($("#"+name).jqGrid("getRowData").length<=0){
               	    	    			savedRow1 = null;
               	    	                savedCol1 = null;
                	    	    	}
                	            } else {
                	                FailResultDataToTip(data);
                	            }
                	            hideLoading();
                		}
                	});
    			}else {
    				$("#"+name).delRowData(index);
        	    	
        	    	if($("#"+name).jqGrid("getRowData").length<=0){
       	    			savedRow1 = null;
       	                savedCol1 = null;
        	    	}
    			}
    		}
    	});
    }
    
    var loseGridFocus = function () {
        if (savedRow1 && savedCol1) {
            $('#gridTable').jqGrid('saveCell', savedRow1, savedCol1);
        }
    }
    
    var verified = function () {
    	loseGridFocus();
        var errorMessage = "";
        
        var mailUserArr = [];
        var mailArr = [];
        var gridAllData = $("#gridTable").jqGrid("getRowData");
        for (var i = 0; i < gridAllData.length; i++) {
            if (gridAllData[i]["VOL"] == "") {
            	errorMessage += "<p>#{contractor.detail.field.usermail}#{contractor.detail.message.di}" + (i + 1) + "#{contractor.detail.message.userValid}</p>";
            	break;
            }

            if (gridAllData[i]["GWT"] == "") {
                errorMessage += "<p>#{contractor.detail.field.usermail}#{contractor.detail.message.di}" + (i + 1) + "#{contractor.detail.message.emailValid}</p>";
                break;
            }
            if(gridAllData[i]["QTY"] == ""){
                errorMessage += "<p>#{contractor.detail.field.usermail}#{contractor.detail.message.mailNotRepet}</p>";
            	break;
            }
            if(gridAllData[i]["GOOD_NAME"] == ""){
                errorMessage += "<p>#{contractor.detail.field.usermail}#{contractor.detail.message.userNotRepet}</p>";
            	break;
            }
            mailUserArr.push(gridAllData[i]["mailUser"]);
            mailArr.push(gridAllData[i]["mail"]);
        }

        if (errorMessage != "") {
            errorNotification({
                SimpleMessage: $.i18n.prop('contractor.detail.message.guidValid'),
                MoreMessage: errorMessage
            });
            return false;
        }
        return true;
    }
    
    
    var save = function () {
        if (!validate() || !verified()) {
            return;
        }

        $.messager.confirm($.i18n.prop('order.detail.child.prompt'), '#{order.detail.child.message.saveQuestion}?', function (r) {
            if (r) {
                afterSave = "close";
                save2();
            }
        });
    }
    
 var save2 =function(){	
	 	OrderDetailChildVO = FormUtils.toJSONObject($("#addForm"));
        var gridAllData = $("#gridTable").jqGrid("getRowData");
        OrderDetailChildVO.childs = [];
        var volcount = 0;
        var gwtcount = 0;
        var qtycount = 0;
        for (var i = 0; i < gridAllData.length; i++) {
        	var detailChild = {};
        	detailChild.sn = gridAllData[i].SN;
        	detailChild.detailGuid = detail_guid;
        	detailChild.goodName = gridAllData[i].GOOD_NAME;
        	detailChild.vol = gridAllData[i].VOL;
        	detailChild.gwt=gridAllData[i].GWT;
        	detailChild.qty = gridAllData[i].QTY;
        	OrderDetailChildVO.childs.push(detailChild);
        	qtycount+=parseInt(detailChild.qty);
        	volcount+=parseInt(detailChild.vol);
        	gwtcount+=parseInt(detailChild.gwt);
        }
        if(sn!=undefined){
        	OrderDetailChildVO.sn = sn;
        } else {
        	OrderDetailChildVO.sn ="";
        }
        OrderDetailChildVO.mostlyGuid=mostly_guid;
        OrderDetailChildVO.trainNo = trainno;
        OrderDetailChildVO.guid=detail_guid;
        if(OrderDetailChildVO.vol!=volcount||OrderDetailChildVO.qty!=qtycount||OrderDetailChildVO.gwt!=gwtcount){
        	 $.messager.confirm($.i18n.prop('planExec_mostly_detailChild_prompt'), '#{planExec_mostly_detailChild_message_deleteQuestion}?', function (r) {
        		 if(r){
        			 OrderDetailChildVO.vol = volcount;
            		 OrderDetailChildVO.qty = qtycount;
            		 OrderDetailChildVO.gwt = gwtcount;
        		 }
        		 showLoading($.i18n.prop('order.detail.child.loading'));
        		 $.ajax({
              		url : "../../order/save?"+Math.random(),
          			type : 'POST',
          			//contentType : 'application/json;charset=utf-8',
          			data : "jsonData="+JSON.stringify(OrderDetailChildVO),
                      success : function(dataObj) {
          				if (isServerResultDataPass(dataObj)) {
          					correctNotification(dataObj.resultDataFull);
          					hideLoading();
          					afterSaveOperate();
          				} else {
          					hideLoading();
          					FailResultDataToTip(dataObj);
          				}
          			}
              	});
             })
        }/* else{
        	showLoading($.i18n.prop('order.detail.child.loading'));
        	$.ajax({
         		url : "../../order/save?"+Math.random(),
     			type : 'POST',
     			//contentType : 'application/json;charset=utf-8',
     			data : "jsonData="+JSON.stringify(OrderDetailChildVO),
                 success : function(dataObj) {
     				if (isServerResultDataPass(dataObj)) {
     					correctNotification(dataObj.resultDataFull);
     					hideLoading();
     					afterSaveOperate();
     				} else {
     					hideLoading();
     					FailResultDataToTip(dataObj);
     				}
     			}
         	});
        } */
    }
 
	function isInArray(arr,value){
	    for(var i = 0; i < arr.length; i++){
	        if(value === arr[i]){
	            return true;
	        }
	    }
	    return false;
	}
</script>
</html>