<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link id="CustomTheme" type="text/css" rel="stylesheet"
	href="../../Resource/css/index/customLightBlue.css" />
<link id="EasyuiTheme" type="text/css" rel="stylesheet"
	href="../../Resource/js/easyUI/themes/easyuiLightBlue.css" />
<link id="JqgridTheme" type="text/css" rel="stylesheet"
	href="../../Resource/js/jqueryUI/theme/jqgridLightBlue/jquery-ui-1.10.4.custom.css" />
<link type="text/css" rel="stylesheet"
	href="../../Resource/js/easyUI/themes/icon.css" />
<link type="text/css" rel="stylesheet"
	href="../../Resource/js/jqueryUI/theme/ui.jqgrid.css" />
    <title>#{basic.page.detail}</title>
</head>
<body>
    <div id="toolbar" class="easyui-panel" style="padding: 4px; border-width:0; border-bottom-width:1px;">
      #{PAGE_TOOLBAR_BUTTONROLE}
    </div>
    <form id="addForm" class="easyui-form" method="post" data-options="novalidate:true">
    <input type="hidden" id="sn" name="sn" />
    <table class="editTable">
        <tr>
            <td class="editRequiredTitle">
                <label data-locale="trainNo"/>:
            </td>
            <td class="editControl">
            	<input id="trainNo" name="trainNo" readonly="readonly" style="width: 153px;height: 20px;"/>
            </td>
            <td class="editRequiredTitle">
                <label data-locale="cusWeituo"/>:
            </td>
            <td class="editControl">
            	<input id="cusWeituo"  name="cusWeituo"  style="width: 153px;height: 20px;" />
            </td>
            <td class="editRequiredTitle">
                <label data-locale="state"/>:
            </td>
            <td class="editControl">
            	<select id="state" class="easyui-combobox" name="state" data-options="editable:false,panelHeight:'150'" >
            		<option value="0">正常</option>
					<option value="1">审核</option>
					<option value="2">已派遣</option>
					<option value="3">运输中</option>
					<option value="4">运输完成</option>
					<option value="5">已注销</option>
					<option value="6">中途取消</option>
            	</select>
            </td>
        </tr>
        <tr>
            <td class="editRequiredTitle">
                <label data-locale="cusNo"/>:
            </td>
            <td class="editControl">
            	<input id="cusNo" class="easyui-combobox" name="cusNo" data-options="panelHeight:'150'" />
            </td>
            <td class="editRequiredTitle">
                <label data-locale="planBeginDate"/>:
            </td>
            <td class="editControl">
            	<input id="planBeginDate" class="easyui-datebox" name="planBeginDate" data-options="onChange:time,editable:false,panelHeight:'150'"  />
            </td>
            <td class="editRequiredTitle">
                <label data-locale="transportType"/>:
            </td>
            <td style="text-align:left" class="editControl">
	            <input  type="radio" name="transportType" value="0" checked="checked"><label>汽运</label></input>
	            <input  type="radio" name="transportType" value="1"><label>快运</label></input>
	            <input  type="radio" name="transportType" value="2"><label>铁路</label></input>
	            <input  type="radio" name="transportType" value="3"><label>水路</label></input>
	            <input  type="radio" name="transportType" value="4"><label>联运</label></input>
       		</td>
        </tr>
        <tr>
           <td class="editRequiredTitle">
              <label data-locale="beginCity"/>:
            </td>
            <td class="editControl">
                <input name="beginCity" id="tipinputbegin" autocomplete="off" style="width: 153px;height: 20px;" />  
            </td>
            <td class="editRequiredTitle">
              <label data-locale="endCity"/>:
            </td>
            <td class="editControl">
                <input name="endCity" id="tipinputend" autocomplete="off"  style="width: 153px;height: 20px;" />  
            </td>
            <td align="right" class="filltitle"><label data-locale="trainType"/></td>
			<td>
				<input id="trainType" style="width: 153px;height: 20px;" data-options="editable:false" class="easyui-combobox" name="trainType"  />
			</td>
        </tr>
         <tr>
           <td class="editRequiredTitle">
                 <label data-locale="contractorName"/>:
            </td>
            <td class="editControl">
                <input type="text"  name="contractorName" id="contractorName" 
                	readonly="readonly"  style="width: 153px;height: 20px;"/>
            </td>
            <td class="editRequiredTitle">
                 <label data-locale="trucknoq"/>:
            </td>
            <td class="editControl">
                <input type="text"  name="trucknoq" id="trucknoq" 
                	readonly="readonly" style="width: 153px;height: 20px;" />
            </td>
            <td class="editRequiredTitle">
                 <label data-locale="driverName"/>:
            </td>
            <td class="editControl">
                <input type="text"  name="driverName" readonly="readonly" style="width: 153px;height: 20px;" id="driverName"  />
            </td>
        </tr>
    </table>
    </form>
</body>
<script type="text/javascript"
	src="../../Resource/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery.i18n.properties.js"></script>
<script type="text/javascript"
	src="../../Resource/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript"
	src="../../Resource/js/easyUI/jquery.easyui.min.js"></script>
<script type="text/javascript"
	src="../../Resource/js/easyUI/jquery.easyuiExtend.min.js"></script>
<script type="text/javascript"
	src="../../Resource/js/easyUI/easyui-lang-zh_CN.js"></script>
<script type="text/javascript"
	src="../../Resource/js/base/commonControl.js"></script>
<script type="text/javascript"
	src="../../Resource/js/base/globalVariable.js"></script>
<script type="text/javascript"
	src="../../Resource/js/base/commonBusiness.js"></script>
<script type="text/javascript"
	src="../../Resource/js/jqueryUI/i18n/grid.locale-cn.js"></script>
<script type="text/javascript"
	src="../../Resource/js/jqueryUI/jquery.jqGrid.min.js"></script>
<script type="text/javascript"
	src="../../Resource/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript"
	src="../../Resource/js/jqueryUI/plugins/grid.setcolumns.js"></script>
<script type="text/javascript" src="../../Resource/js/regex/regex.js"></script>
<script type="text/javascript" src="API/AMap/js/es5.min.js"></script>
<script type="text/javascript" src="API/AMap/js/maps.js"></script>
<script type="text/javascript" src="../../Resource/js/cookie/jquery.cookie.js"></script>
<script language="javascript" type="text/javascript">
    var afterSave = "close";
    var code = "";
    var sn="";
    var callerId = "";
    var callerType = "";
    var callbackFlag = "";
    var originalFormData = "";
    var lang = "zh";
    var globalStateArray=null; // 全局状态变量
  	//从cookie获取当前业务地点
	var ywlocation = $.cookie("OSUN_whcenter");
    $(function () {
    	/*  $("#type_name").textbox('textbox').attr("readonly","true"); */
        var parms = getUrlParms();
        code = parms["code"];
        sn= parms["sn"];
        lang= parms["lang"];
        moduleId = parms["moduleId"];
        callerId = parms["callerId"];
        callerType = parms["callerType"];
        callbackFlag = parms["callbackFlag"];
        initCombType();
        if(sn!="-1"){
        	$("#cusWeituo").attr("readOnly","true");
        	initData();
        }
     // 初始化客户下拉框
    	$("#cusNo").combobox({
    		valueField : "code",
    		textField : "name",
    		method : "GET",
    		loader:function(param,success,error){  
                $.ajax({  
                    url:"../../dictionary/getCustomerByYwlocation?ywlocation="+ywlocation,
                    dataType: 'json',  
                    method:"GET",
                    success: function(data){
                    	success(data.resultDataFull); 
                    } 
                }); 
            },
            onChange:function(param,success,error){
            	 $.ajax({  
                     url:"../../dictionary/getCustomerByYwlocation?ywlocation="+ywlocation,
                     dataType: 'json',  
                     method:"GET",
                     success: function(data){
                     	success(data.resultDataFull); 
                     } 
                 }); 
            }
    	});
     // 运输方式单选框绑定事件
    	/* $("input[name=transportType]").click(function() {
    		$("input[name=transportType]").removeClass("field");
    	 $(this).addClass("field"); 
    	}); */

    	// 初始化下拉框
    	/* $.each(dictionary.stateText, function(key, value) {
    		$("#state").append(generalOption(key, value));
    	}); */
    	var map = new AMap.Map('container', {
    		resizeEnable : true,
    		zoom : 12,
    		center : [ 118.756376, 32.052573 ]
    	});

    	// 初始化车型下拉框
    	$("#trainType").combobox({
    		valueField : "code",
    		textField : "name",
    		method : "GET",
    		loader:function(param,success,error){  
                $.ajax({  
                    url:"../../dictionary/findTruckType",
                    dataType: 'json',  
                    method:"GET",
                    success: function(data){
                    	success(data.resultDataFull); 
                    } 
                }); 
            }
    	});

    	// 自定义窗体
    	var infowindow;
    	map.plugin('AMap.AdvancedInfoWindow', function() {
    		infowindow = new AMap.AdvancedInfoWindow({
    			panel : 'panel',
    			placeSearch : true,
    			asOrigin : true,
    			asDestination : true
    		});
    	});

    	// 起运城市与目的城市分别绑定高德地图城市查询API
    	$("#tipinputbegin").focus(function() {
    		tipinput("tipinputbegin");
    	});

    	$("#tipinputend").focus(function() {
    		tipinput("tipinputend");
    	});

    	function tipinput(tipinput) {
    		var autoOptions = new AMap.Autocomplete({
    			input : tipinput
    		});
    		// 城市搜索
    		var auto = new AMap.Autocomplete(autoOptions);
    		var placeSearch = new AMap.PlaceSearch({
    			map : map
    		}); // 构造地点查询类
    		/*
    		 * AMap.event.addListener(auto, "select", select);//注册监听，当选中某条记录时会触发
    		 */function select(e) {
    			placeSearch.setCity(e.poi.adcode);
    			placeSearch.search(e.poi.name); // 关键字查询查询
    		}
    	}
    });
    $(window).load(function () {
        hideLoading();
    });
    var time = function(date){
		$("[name=planBeginDate]").val(date);
	}
    
    var getSearchFilters = function() {
		var parmsArray = [
		{ name: 'sn', value: sn, op: "cn" }
        ];
        return formatSearchParames(parmsArray);
    };
    
    var getSearchGridUrl = function() {
        return '../../bussiness/planExec/findTrainsListing?t=' + Math.random() + '&customSearchFilters=' + encodeURI(getSearchFilters());
    };
    var initData = function () {

    	
        if (code != "") {
            loadDetail();
        } else {
            $("#sn").val("0");
            originalFormData = $('#addForm').serialize();
        }
    }
    
    var initCombType = function(){
    	
    	var dicText = "dicText";
    	
    	if(lang=="en"){
    		dicText = "dicText_en"
    	}
    	
    	$("#type").combobox({
    	  url:"../../sysInfo/dictionaryData/getDictionaryDataList?t=" + Math.random()+"&dicTypeCode=SCTS_BASIC",
  		  valueField: dicText,  
  		  textField: 'dicValue',
  		  method:"GET",
  		  onChange : function(){
  			  var val = $(this).combobox('getText');
  			  if(val.indexOf("--")==-1){
  				var text = $(this).combobox('getValue');
  				$("#type_name").textbox("setValue",text);
  			  }
  		  },
  		  onLoadSuccess: function () { 
  			$(this).combobox("setValue","--#{basic.switch}--");
  			$.extend($.fn.validatebox.defaults.rules, {
    	        selectValueRequired: {
    	            validator: function(value,param){
    	               	if(value.indexOf("--")!=-1){
    	               		return false;
    	               	}
    	                return true;
    	            },
    	            message: '#{basic.message.typeValid}.'
    	        }
    	    });
          }
  		});
    }
  
    var reset = function() {
    	var isReadOnly = $("#code").textbox('textbox').attr("readonly");
    	if(isReadOnly==undefined){
    		$("#code").textbox("setValue", "");
    	}
		$("#values1").textbox("setValue", "");
		$("#type_name").textbox("setValue", "");
		$("#type").combobox("setValue","--#{basic.switch}--");
		$("#remark").val("");
	}

    var validate = function () {
        var validated = $("#addForm").form('enableValidation').form('validate');
        if (!validated) {
            errorNotification({
                SimpleMessage: $.i18n.prop('basic.message.saveValid')
            });
            return false;
        }
        var newFormData = $('#addForm').serialize();
        if (newFormData == originalFormData) {
            errorNotification({
                SimpleMessage: $.i18n.prop('business.message.notChange')
            });
            return false;
        }
        return true;
    }

    var save = function () {
        if (!validate()) {
            return;
        }

        $.messager.confirm($.i18n.prop('business.message.prompt'), $.i18n.prop('business.message.saveQuestion'), function (r) {
            if (r) {
            	showLoading();
                afterSave = "close";
                save2();
            }
        });
    }

    var close = function(){
    	closeDialog("planExecDetail");
    }
    
    var afterSaveOperate = function () {
        switch (afterSave) {
            case "edit":
			code = $("#code").textbox("getValue");
			refreshCallerData();
			openDetail(code);
			break;
            case "close":
                refreshCallerData();
                close();
                break;
            case "clear":
                $('form').form('clear');
                $("#sn").val("0");
                $("input", $("#code").next("span")).removeAttr("readonly");
                refreshCallerData();
                break;
            case "copy":
                $("#sn").val("0");
                $("input", $("#code").next("span")).removeAttr("readonly");
                $("#code").textbox('setValue', '');
                refreshCallerData();
                break;
        }
    }
    
    var refreshCallerData = function () {
        if (callerType == Global_Constant.Global_Constant_CallerType_Dialog) {
            //此callerId此时为dialog的id
            getDialog(callerId).refreshCallerData_zdTruckType(callbackFlag);
        } else {
            //此callerId此时为frame的id
            getCurrentTab(callerId).refreshCallerData_zdTruckType(callbackFlag);
        }
    }
    
    	//加载车次详情
        var loadDetail = function () {
            showLoading();
            var planExecVO = {};
            planExecVO.sn = sn;
            var serverUrl = "../../bussiness/planExec/getPlanExecVO?t="+ Math.random();
            $.ajax({
    			type : "POST",
    			url : serverUrl,
    			data :sn,
    			contentType : 'application/json;charset=utf-8', // 设置请求头信息
    			success : function(dataObj) {
    				if (isServerResultDataPass(dataObj)){
                    $("#state").combobox('select', dataObj.resultDataFull.state);
                    $("#trainNo").val(dataObj.resultDataFull.trainNo);
                    $("#cusWeituo").val(dataObj.resultDataFull.cusWeituo);
                    $("#cusNo").combobox('select',dataObj.resultDataFull.cusNo);
                    $("#planBeginDate").datebox("setValue",dataObj.resultDataFull.planBeginDate);
                    $(":radio[name='transportType'][value='" + dataObj.resultDataFull.transportType + "']").prop("checked", "checked");
                    $("[name=beginCity]").val(dataObj.resultDataFull.beginCity);
                    $("[name=endCity]").val(dataObj.resultDataFull.endCity);
                    $("#trainType").combobox('setValue',dataObj.resultDataFull.trainType);
                    $("#contractorName").val(dataObj.resultDataFull.contractorName);
                    $("#trucknoq").val(dataObj.resultDataFull.trucknoq);
                    $("#driverName").val(dataObj.resultDataFull.driverName);
                    originalFormData = $('#addForm').serialize();
                } else {	
                    FailResultDataToTip(dataObj);
                }
                hideLoading();
    			},
            });
        }
	
	var getFormSerializeData = function() {
		originalFormData = $('#addForm').serialize();
	}

    var save2 =function(){
    	planExecVO = FormUtils.toJSONObject($("#addForm"));
    	planExecVO.sn = sn;
    	var url = "";
    	if(sn==-1){
    		url = "../../bussiness/planExec/addPlanExec?t=";
    	}else{
    		url = "../../bussiness/planExec/updatePlanExec?t=";
    	}
    	$.ajax({
    		url : url+ Math.random(),
		    contentType : 'application/json;charset=utf-8',
			type : 'POST',
			data : JSON.stringify(planExecVO),
            success : function(dataObj) {
				if (isServerResultDataPass(dataObj)) {
					correctNotification(dataObj.resultDataFull);
					hideLoading();
					afterSaveOperate();
				} else {
					hideLoading();
					FailResultDataToTip(dataObj);
				}
			}
    	})
    }
</script>
</html>
