<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <link id="CustomTheme" type="text/css" rel="stylesheet" href="../../Resource/css/index/customLightBlue.css" />
    <link id="EasyuiTheme" type="text/css" rel="stylesheet" href="../../Resource/js/easyUI/themes/easyuiLightBlue.css" />    
    <link id="JqgridTheme" type="text/css" rel="stylesheet" href="../../Resource/js/jqueryUI/theme/jqgridLightBlue/jquery-ui-1.10.4.custom.css" />
    <link type="text/css" rel="stylesheet" href="../../Resource/js/easyUI/themes/icon.css" />
    <link type="text/css" rel="stylesheet" href="../../Resource/js/moment/css/daterangepicker.css" />
    <link type="text/css" rel="stylesheet" href="../../Resource/js/jqueryUI/theme/ui.jqgrid.css" />
    <link type="text/css" rel="stylesheet" href="../../Resource/js/fileUpload/css/fileUpload.css" />
    <title>税率档案</title>
</head>
<body>
    <div id="toolbar" class="easyui-panel" style="padding: 4px; border-width:0; border-bottom-width:1px;">
        #{PAGE_TOOLBAR_BUTTONROLE}
    </div>
    <div class="searchParamesPanel">
        <table id="searchParamesTable">
          <tr class="searchParamesTrShow">
              <td class="searchParamesTdTitle">
                  日期起:
              </td>
              <td class="searchParamesTdControl">
                  <input type="text" name="begin_date_start" id="begin_date_start" class="easyui-datebox" style="width: 100px" />
              </td>
              <td class="searchParamesTdTitle">
                  -
              </td>
              <td class="searchParamesTdControl">
                  <input type="text" name="begin_date_end" id="begin_date_end" class="easyui-datebox" style="width: 100px" />
              </td>
            </tr>
        </table>
    </div>
    <div id="gridControl">
        <table id="gridTable">
        </table>
        <div id="gridPager">
        </div>
    </div>
</body>
<script type="text/javascript"	src="../../Resource/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery.i18n.properties.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/jquery.easyuiExtend.min.js"></script>
<script type="text/javascript" src="../../Resource/js/base/commonControl.js"></script>
<script type="text/javascript" src="../../Resource/js/base/globalVariable.js"></script>
<script type="text/javascript" src="../../Resource/js/base/commonBusiness.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/i18n/grid.locale-cn.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/plugins/grid.setcolumns.js"></script>
<script type="text/javascript" src="../../Resource/js/fileUpload/js/upload.js"></script>
<script type="text/javascript" src="../../Resource/js/fileUpload/js/file.js"></script>
<script language="javascript" type="text/javascript">
    var moduleId = 0;
    $(function () {
        var parms = getUrlParms();
        moduleId = parms["moduleId"];
        initScript();
        initData();
        initStyle();
    });

    $(window).load(function () {
        hideLoading();
    });

    var initStyle = function () {
        enterTriggerEvent("searchParamesTable", "searchData");
    }
    var oldSetGridHeightWidth = setGridHeightWidth;
    var setGridHeightWidth = function() {
        oldSetGridHeightWidth(40,170);
        oldSetGridHeightWidth(5, 128);
    };
    var initScript = function () {
        var v = 0;
        $(window).resize(function() {
            if (v == 0) {
                setTimeout(function() {
                    setGridHeightWidth();
                    v = 0;
                }, 200)
                v = 1;
            }
            setGridHeightWidth();
            setToolbarHeightWidth();
        });
    }
    var initData = function () {
        //formatDate();
        loadList();
    }

    function searchData() {
        $("#gridTable").jqGrid('setGridParam', {
            url: getSearchGridUrl(),
            datatype: 'json',
            postData: { "filters": "" },
            page: 1
        }).trigger("reloadGrid");
    }

    function getSearchGridUrl() {
        return '../../jcda/tax_rate/getListForGrid?t=' + Math.random() + '&customSearchFilters=' + encodeURI(getRequestParams());
    }

    function getRequestParams() {
        var begin_date_end=$('#begin_date_end').datebox('getValue');
        if(begin_date_end!="")
            begin_date_end=addDate(begin_date_end,1);
        var parmsArray = [
            {name: 'tax_month', value: $('#begin_date_start').datebox('getValue'), op: 'ge'},
            {name: 'tax_month', value: begin_date_end, op: 'le'}
        ];
        return formatSearchParames(parmsArray);
    }

    function loadList() {
        $("#gridTable").jqGrid({
            url: getSearchGridUrl(),
            datatype: "json",
            width: "none",
            colNames: ['ID','日期','税率'],
            colModel: [
                { name: 'id', index: 'id', align: 'center', sorttype: 'int', search: false, sortable: false, key: true, width: 40, hidden: true },
                { name: 'tax_month', index: 'tax_month', align: 'center', width: 180, type: 'string',  search: false,formatoptions: {srcformat:'Y-m-d H:i:s',newformat:'Y-m'} },
                { name: 'tax_rate', index: 'tax_rate', align: 'center', isSort: false, width: 250, type: 'string',  search: true, searchoptions: { sopt: ['cn', 'eq', 'ne']}
                ,formatter: function (value, grid, rows) {
                        var tax_rate=rows.tax_rate;
                        if(tax_rate>0)
                        {
                            tax_rate= (tax_rate*100).toString()+"%";
                        }
                        return tax_rate;
                 } }
            ],
            shrinkToFit: false,
            altRows: true,
            altclass: 'gridSpacingClass',
            forceFit: true,
            cellLayout: 0,
            scroll: false,
            autowidth: true,
            sortname: 'tax_month',
            sortorder: "desc",
            loadonce: false,
            mtype: "POST",
            viewrecords: true,
            rownumbers: true,
            multiselect: true,
            rowNum: 15,
            height: "100%",
            rowList: [100, 200, 300, 500],
            pager: "#gridPager",
            jsonReader: {
                root: "rows",
                total: "total",
                page: "page",
                records: "records",
                repeatitems: false
            },
            gridComplete: function () {
                $(".cbox").shiftSelect();
                afterRedRow();
            },
            ondblClickRow: function (id) {
                showChildModule(id);
            },
            loadComplete: function (xhr) {
                $('.gridViewPicLink').tooltip({
                    position: 'bottom',
                    content: $(this).attr("title"),
                    onShow: function () {
                        $(this).tooltip('tip').css({
                            backgroundColor: '#FCF8E3',
                            borderColor: '#FAEBCC'
                        });
                    }
                });
                FailResultDataToTip(xhr);
            }
        });

        $("#gridTable").jqGrid('navGrid', '#gridPager', { add: false, edit: false, del: false, refresh: true.sear }, {}, {}, {}, { multipleSearch: true, closeOnEscape: true, closeAfterSearch: true });
        $("#gridTable").jqGrid('navButtonAdd', '#gridPager', {
            caption: "设置列",
            title: "Reorder Columns",
            onClickButton: toggleGridColumns
        });

        $("#gridTable").jqGrid('navButtonAdd', '#gridPager', {
            caption: "快捷搜索",
            title: "",
            onClickButton: toggleGridSearchToolbar
        });
        setGridHeightWidth();
    }

    //jqGrid加载
    function afterRedRow() {
        var ids = $("#gridTable").jqGrid("getDataIDs");
        for (var i = 0; i < ids.length; i++) {
            var rowData = $("#gridTable").getRowData(ids[i]);
          /*  if (rowData.status == '注销') {
                $('#gridTable #' + ids[i]).find("td").css('color', "#8B0000");//注销标注为红色
            }*/
        }
    }

    /**双击打开明细*/
    function showChildModule(id) {
        var rowData = $("#gridTable").jqGrid('getRowData',id);
        openDetail(rowData.id);
    };

    /**新增*/
    function add() {
        openDetail("");
    }

    /**修改*/
    function edit() {
        var selectRowItems = $("#gridTable").jqGrid("getGridParam", "selarrrow");
        if (selectRowItems.length > 1 || selectRowItems.length == 0) {
            errorNotification({
                SimpleMessage: $.i18n.prop('selectOneDataRowOperator')
            });
            return;
        }
        var rowData = $("#gridTable").jqGrid('getRowData', selectRowItems);
        openDetail(rowData.id,rowData.code);
    }

    /**打开明细*/
    var openDetail = function (id) {
        showLoading();
        var href = "../View/jcda/Tax_rateDetail.html?moduleId=" + moduleId+"&id=" + id;
        openDialog({ title: "税率明细", id: 'Tax_rateDetail', width:500, height: 300, isResize: true, href: href, closable: true });
    }


    /**批量注销*/
    function remove() {
        var list = [];
        var selectRowItems = $("#gridTable").jqGrid("getGridParam", "selarrrow");
        if (selectRowItems.length == 0) {
            errorNotification({
                SimpleMessage : $.i18n.prop("selectLeastOneDataRowOperator")
            });
            return;
        }

        for ( var i = 0; i < selectRowItems.length; i++) {
            var rowData = $("#gridTable").jqGrid('getRowData',selectRowItems[i]);
            list.push({id : rowData.id});
        }
        $.messager.confirm('提示','确定删除税率吗？<br/>删除后结算数据可能无法匹配到税率',
            function(r) {
                if (r) {
                    showLoading();
                    $.ajax({url : "../../jcda/tax_rate/remove?t="+ Math.random(),
                        type : "POST",
                        data:JSON.stringify(list),
                        contentType:'application/json; charset=utf-8',
                        success : function(dataObj) {
                            if (isServerResultDataPass(dataObj)) {
                                correctNotification(dataObj.resultDataFull);
                                searchData(); // 删除时需要重新搜索
                            } else {
                                FailResultDataToTip(dataObj);
                            }
                            hideLoading();
                        },
                        error : function(message) {
                            console.log(message);
                            hideLoading();
                        }
                    });
                }
            });
    }

    function refreshCallerData_ZdCus() {
        searchData();
    }

    /**格式化日期*/
    function formatDate() {
        $('#tax_month').datebox({
            //显示日趋选择对象后再触发弹出月份层的事件，初始化时没有生成月份层
            onShowPanel: function () {
                //触发click事件弹出月份层
                span.trigger('click');
                if (!tds)
                //延时触发获取月份对象，因为上面的事件触发和对象生成有时间间隔
                    setTimeout(function() {
                        tds = p.find('div.calendar-menu-month-inner td');
                        tds.click(function(e) {
                            //禁止冒泡执行easyui给月份绑定的事件
                            e.stopPropagation();
                            //得到年份
                            var year = /\d{4}/.exec(span.html())[0] ,
                                //月份
                                //之前是这样的month = parseInt($(this).attr('abbr'), 10) + 1;
                                month = parseInt($(this).attr('abbr'), 10);

                            //隐藏日期对象
                            $('#tax_month').datebox('hidePanel')
                            //设置日期的值
                                .datebox('setValue', year + '-' + month);
                        });
                    }, 0);
            },
            //配置parser，返回选择的日期
            parser: function (s) {
                if (!s) return new Date();
                var arr = s.split('-');
                return new Date(parseInt(arr[0], 10), parseInt(arr[1], 10) - 1, 1);
            },
            //配置formatter，只返回年月 之前是这样的d.getFullYear() + '-' +(d.getMonth());
            formatter: function (d) {
                var currentMonth = (d.getMonth()+1);
                var currentMonthStr = currentMonth < 10 ? ('0' + currentMonth) : (currentMonth + '');
                return d.getFullYear() + '-' + currentMonthStr;
            },
            onChange : function () {
                searchData();
            }
        });

        //日期选择对象
        var p = $('#tax_month').datebox('panel'),
            //日期选择对象中月份
            tds = false,
            //显示月份层的触发控件
            span = p.find('span.calendar-text');
        var curr_time = new Date();

        //设置前当月
        $("#tax_month").datebox("setValue", myformatter(curr_time));
    };
    //格式化日期
    function myformatter(date) {
        //获取年份
        var y = date.getFullYear();
        //获取月份
        var m = date.getMonth() + 1;
        return y + '-' + m;
    }
</script>
</html>
  