<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link id="CustomTheme" type="text/css" rel="stylesheet" href="../../Resource/css/index/customLightBlue.css" />
	<link id="EasyuiTheme" type="text/css" rel="stylesheet" href="../../Resource/js/easyUI/themes/easyuiLightBlue.css" />
	<link id="JqgridTheme" type="text/css" rel="stylesheet" href="../../Resource/js/jqueryUI/theme/jqgridLightBlue/jquery-ui-1.10.4.custom.css" />
	<link type="text/css" rel="stylesheet" href="../../Resource/js/easyUI/themes/icon.css" />
	<link type="text/css" rel="stylesheet" href="../../Resource/js/jqueryUI/theme/ui.jqgrid.css" />
	<title>用户明细</title>
</head>
<body>
<div id="toolbar" class="easyui-panel" style="padding: 4px; border-width: 0; border-bottom-width: 1px;">
	#{PAGE_TOOLBAR_BUTTONROLE}
</div>
<form id="addForm" class="easyui-form" method="post" data-options="novalidate:true">
	<input type="hidden" value="" id="id" name="id"/>
	<table class="editTable">
		<tr>
			<td colspan="6" style="border:0px solid #EEEEEE;padding-left:0;padding-top:7px;">
				<div class="splitBox">
					<div class="splitTitle" style="width:130px;">基础信息</div>
					<div class="splitHr"><hr /></div>
				</div>
			</td>
		</tr>
		<tr>
			<td class="editRequiredTitle"><label data-locale="code"/>:</td>
			<td class="editControl">
				<input type="text" data-locale-missingmessage="sysUserDetail_theUserIdCannotBeEmpty"
					   data-options="required:true" name="userId" id="txtUserId" class="easyui-textbox"/>
			</td>
			<td class="editTitle"><label data-locale="name"/>:</td>
			<td class="editControl">
				<input type="text" data-locale-missingmessage="sysUserDetail_theUserNameCannotBeEmpty"
					   data-options="required:true" name="realName" id="txtUserName" class="easyui-textbox"/>
			</td>
		</tr>
		<tr>
			<td class="editTitle"><label data-locale="possword"/>:</td>
			<td class="editControl">
				<input type="text" data-locale-missingmessage="sysUserDetail_thePasswordCannotBeEmpty"
					   data-options="required:true" id="password" name="password" class="easyui-textbox" value=""/>
			</td>
			<td class="editTitle"><label data-locale="Email"/>:</td>
			<td class="editControl">
				<input type="text" name="mail" id="txtMail" class="easyui-textbox" />
			</td>
		</tr>
		<tr>
			<td class="editTitle"><label data-locale="sex"/>:</td>
			<td class="editControl"><div id="div_sex"></div></td>
			<td class="editTitle"><label data-locale="brithday"/>:</td>
			<td class="editControl">
				<input type="text" name="birthday" id="txtBirthday" data-options="editable:false" class="easyui-datebox"/>
			</td>
		</tr>
		<tr>
			<td class="editTitle"><label data-locale="wechat"/>:</td>
			<td class="editControl">
				<input type="text" name="wechat" id="wechat" class="easyui-textbox"/>
			</td>
			<td class="editTitle"><label data-locale="phone"/>:</td>
			<td class="editControl">
				<input type="text" name="tel" id="tel" class="easyui-textbox"/>
			</td>
		</tr>
		<!--<tr>
			<td class="editTitle">
				<label data-locale="userLevel"/>:
			</td>
			<td class="editControl">
				<input type="text" name="userLevel" id="userLevel" class="easyui-combobox"  data-options="required:true,validType:['seleteValueRequired']" />
			</td>
			<td class="editTitle">
				<label data-locale="contractor_code"/>:
			</td>
			<td class="editControl">
				<input type="text" name="contractor" id="contractor" class="easyui-combobox"  data-options="required:true,validType:['seleteValueRequired']" />
			</td>
		</tr>-->
		<tr>
			<td class="editTitle">
				<label data-locale="remark"/>:
			</td>
			<td class="editControl" colspan="4">
				<input type="text" name="remark" id="txtRemark" style="height: 60px; width: 564px;"
					   data-options="multiline:true" class="easyui-textbox"/>
			</td>
		</tr>
		<tr>
			<td colspan="6" style="border:0px solid #EEEEEE;padding-left:0;padding-top:7px;">
				<div class="splitBox">
					<div class="splitTitle" style="width:130px;">返佣设置</div>
					<div class="splitHr"><hr /></div>
				</div>
			</td>
		</tr>
		<tr>
			<td class="editTitle">返佣层级</td>
			<td class="editControl">
				<input type="text" name="userLevel" id="userLevel" class="easyui-combobox"  data-options="required:true,validType:['seleteValueRequired']" />
			</td>
			<td class="editTitle">上级用户</td>
			<td class="editControl">
				<input type="text" name="contractor" id="contractor" class="easyui-combobox"  data-options="required:true,validType:['seleteValueRequired']" />
			</td>
		</tr
	</table>
</form>
</body>
<script type="text/javascript" src="../../Resource/js/jquery-2.0.0.min.js?s=0.181206001"></script>
<script type="text/javascript" src="../../Resource/js/jquery.i18n.properties.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery-migrate-1.2.1.min.js?s=0.181206001"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/jquery.easyui.min.js?s=0.181206001"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/easyui-lang-zh_CN.js?s=0.181206001"></script>
<script type="text/javascript" src="../../Resource/js/base/commonControl.js?s=0.181206001"></script>
<script type="text/javascript" src="../../Resource/js/base/globalVariable.js?s=0.181206001"></script>
<script type="text/javascript" src="../../Resource/js/base/commonBusiness.js?s=0.181206001"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/i18n/grid.locale-cn.js?s=0.181206001"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/jquery.jqGrid.min.js?s=0.181206001"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/plugins/grid.setcolumns.js?s=0.181206001"></script>
<script type="text/javascript" src="../../Resource/js/My97DatePicker/WdatePicker.js?s=0.181206001"></script>
<script type="text/javascript" src="../../Resource/js/cookie/jquery.cookie.js?s=0.181206001"></script>
<script type="text/javascript" src="../../Resource/js/jsLinq/linq.js?s=0.181206001"></script>
<script language="javascript" type="text/javascript">
	var afterSave = "edit";
	var userId = "";
	var lang = "zh";
    $(function () {
		var parms = getUrlParms();
		lang = parms["lang"];
		userId = parms["userId"];
		initScript();
		initData();
	});

	$(window).load(function () {
		hideLoading();
		if (userId) {
            loadDetail();
		} else {
		    $("#id").val(0);
		}
	});

	var initScript = function () {
/*        if($("#userLevel").combobox("getValue")!= '5') {
            $("#contractor").combobox({required:false});
            $("#contractor").combobox("disable");
        }*/
    }

	var initData = function () {
		getDictionaryData({
			dicTypeCode: Global_DicType.Global_DicType_User_Userlevel,
			callback: function (callbackData) {
                $("#userLevel").combobox({
                    valueField: 'dicvalue',
                    textField: 'dictext',
                    panelHeight: 200,
                    panelWidth: 200,
                    editable: true,
                    onLoadSuccess:function(data){
                        //默认选中第一个
                        var array=$(this).combobox("getData");
                        for(var item in array[0]){
                            if(item=="dicvalue"){
                                $(this).combobox('setValue',array[0][item]);
                            }
                        }
                    },
					onSelect : function (tx) {
                        if (tx.dicvalue == 5) {
                            getCarrier();
                            $("#contractor").combobox({
                                disable:false,
                                required:true
                            });
                        } else {
                            $('#contractor').combobox({required:false}).combobox("clear");
                            $("#contractor").combobox("disable");
                        }
                    }
                });
                $("#userLevel").combobox("loadData", callbackData);
			}
		});
		var data=[{"dictext":"男","dicvalue":"男"},{"dictext":"女","dicvalue":"女"}];
        var formatData= { data: data, needChooseAll: false, defaultValue: "男",
            bindBoxName: "div_sex", bindControlPrefix: "sex", onClick:function(){
            } };
        formatDefaultRadio_Local(formatData);
	}


    // 承运商
    var getCarrier = function() {
        var requestParam = [];
        requestParam.push("ZD_CARRIER");
        $.ajax({
            url: "../../base/Base_DataController/getBaseData",
            type: "POST",
            async: false,
            data: JSON.stringify(requestParam),
            contentType: "application/json",
            success: function (dataObj) {
                if (isServerResultDataPass(dataObj)) {
                    var dataMap = dataObj.resultDataFull.ZD_CARRIER;
                    var opts = [ ];
                    for(var i = 0; i < dataMap.length; i++){
                        opts.push({ Value : dataMap[i].code, Text : (dataMap[i].code + "-" + dataMap[i].name) });
                    }
                }
                $('#contractor').combobox({ data : opts, valueField : 'Value', textField : 'Text', panelHeight : 200, panelWidth: 250, editable : true });
                $('#contractor').combobox('setValue', '');
            }
        });
    };

	var close = function () {
		closeDialog("SysUsersDetail");
	}

	//新增
	var add = function () {
		openDetail("");
	}
	var openDetail = function (userId) {
		showLoading();
		var href = "SysUsersDetail.html?userId=" + userId;
		location.href = href;
	}

	var save = function () {
		var validated = $("#addForm").form('enableValidation').form('validate');
		if (!validated) {
			errorNotification({ SimpleMessage: $.i18n.prop('sysUserDetail_cannotEmpty') });
			return;
		}
		var userInfo = FormUtils.toJSONObject($("#addForm"));
		$.messager.confirm($.i18n.prop('sysUserDetail_tip'), $.i18n.prop('sysUserDetail_sureSave'), function (r) {
			if (r) {
                showLoading();
				$.ajax({
					url: '../../sysInfo/user/addUserDetail?t=' + Math.random(),
					type: 'POST',
					async: false,
					data: "jsonData=" + JSON.stringify(userInfo),
					success: function (dataObj) {
						if (isServerResultDataPass(dataObj)) {
							correctNotification(dataObj.resultDataFull);
							userInfo = {};
							//刷新父页面
							getCurrentTab().searchData();
						} else {
							FailResultDataToTip(dataObj);
						}
                        hideLoading();
                        close();
					}
				});
			}
		});

	}

	var saveAndAddClear = function () {
		var validated = $("#addForm").form('enableValidation').form('validate');
		if (!validated) {
			errorNotification({
				SimpleMessage: $.i18n.prop('sysUserDetail_cannotEmpty')
			});
			return;
		}

		$.messager.confirm($.i18n.prop('sysUserDetail_tip'), '#{sysUserDetail_sureSave}?', function (r) {
			if (r) {
				showLoading();
				afterSave = "clear";
				$("#addForm").submit();
			}
		});
	}

	var saveAndAddCopy = function () {
		var validated = $("#addForm").form('enableValidation').form('validate');
		if (!validated) {
			errorNotification({
				SimpleMessage: $.i18n.prop('sysUserDetail_cannotEmpty')
			});
			return;
		}
		$.messager.confirm($.i18n.prop('sysUserDetail_tip'), '#{sysUserDetail_sureSave}?', function (r) {
			if (r) {
				showLoading();
				afterSave = "copy";
				$("#addForm").submit();
			}
		});
	}

	var afterSaveOperate = function () {
		switch (afterSave) {
			case "edit":
				userId = $("#txtUserId").textbox("getValue");
				openDetail(userId);
				getCurrentTab().searchData();
				break;
			case "clear":
				$('form').form('clear');
				userId = "";
				getCurrentTab().searchData();
				break;
			case "copy":
				$("#id").val("0");
				getCurrentTab().searchData();
				break;
		}
	}

	var loadDetail = function (msg) {
		if (msg == null) {
			showLoading();
		}
		$.ajax({
			url: "../../sysInfo/user/updateDetail?t=" + Math.random() + '&code=' + userId,
			type: "POST",
			success: function (dataObj) {
				if (isServerResultDataPass(dataObj)) {
                    myDisabled($("#txtUserId"))
					$("#password").textbox('setValue', "******");
                    $("#id").val(dataObj.resultDataFull.userVO.id);
					$("#txtUserId").textbox('setValue', dataObj.resultDataFull.userVO.userId);
					$("#txtUserName").textbox('setValue', dataObj.resultDataFull.userVO.realName);
					$("#txtDept").textbox('setValue', dataObj.resultDataFull.userVO.dept_id);
					$("#txtPosition").textbox('setValue', dataObj.resultDataFull.userVO.position);
					$("[name='sex'][value='" + dataObj.resultDataFull.userVO.sex + "']").prop("checked", true);
					$("#tel").textbox('setValue', dataObj.resultDataFull.userVO.tel);
					$("#txtMail").textbox('setValue', dataObj.resultDataFull.userVO.mail);
                    $("#userLevel").combobox('setValue', dataObj.resultDataFull.userVO.userLevel);
                    if($("#userLevel").combobox("getValue")== 5) {
                        $("#contractor").combobox({disable:false,required:true});
                        //getCarrier();
                        //$("#contractor").combobox('setValue', dataObj.resultDataFull.userVO.contractorCode);
                    }
					$("#txtRemark").textbox('setValue', dataObj.resultDataFull.userVO.remark);
					$("#wechat").textbox('setValue', dataObj.resultDataFull.userVO.wechat);
					$("#txtBirthday").textbox('setValue', dataObj.resultDataFull.userVO.birthday);
					if (msg) {
						correctNotification(msg);
					}
				} else {
					FailResultDataToTip(dataObj);
				}
				hideLoading();

			}
		});
	}


	var afterChooseDealer = function (dealers) {
		$("#selectDealerContainer").empty();
		if (dealers != null && dealers != "undefined") {
			var dealersJson = JSON.parse(dealers);
			var dealersItem = "";
			for (var i = 0; i < dealersJson.length; i++) {
				dealersItem += "<span val=\"" + dealersJson[i].value + "\" class=\"seledDealerNameItem\">" + dealersJson[i].name + "<a href=\"javascript:void(0);\" onclick=\"removeChooseDealer(this)\">&nbsp;</a></span>";
			}

			$("#selectDealerContainer").append(dealersItem);
		}
	}

</script>

</html>