@charset "utf-8";
/* CSS Document */

/*标签初始化*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, img,button ,textarea {margin: 0;padding: 0;border: none; } 
dl,dt,dd,ul,ol,li,p {list-style-type: none; margin:0; padding:0;}
em, cite, th,h1,h2,h3,h4,h5,h6 { font-style: normal; font-weight: normal;}
input,img{vertical-align:middle; display:block; margin: 0;padding: 0;border: none;}
html,body{height:100%;}
body{color:#333; min-width:320px; margin:0 auto;font-family:"微软雅黑", Arial, Helvetica, sans-serif;}
h1,h2,h3,h4{font-family:"微软雅黑", Arial, Helvetica, sans-serif;}
a{ color:#333; text-decoration: none; cursor:pointer;}
input:focus,textarea:focus{outline:none; }
*{font-family:"微软雅黑", Arial, Helvetica, sans-serif;}
table{border-collapse:collapse;border-spacing:0;}
select{background-color:#fff; border:1px solid #dedede; border-radius:3px; font-size:12px; color:#999999; appearance:none;  -moz-appearance:none; -webkit-appearance:none; background-image:url(../Resource/css/img/ico_login_arrow.png); background-repeat:no-repeat; background-position:right center; }
.clearfix{clear:both;}

.bg-box{ width: 100%; height: 100%; background-color: #FFFFFF; }
.cont-box{ width: 100%; background-color: #FFFFFF; min-width: 1000px;  }

/*内页*/
.cont{ width: 98%; padding:0 1%;}
.cont01{ padding: 10px 1%;}
.cont-tit{ width: 100%; height: 36px;margin-bottom: 4px;}
.cont-tit span{ display: block; float: left; width: 4px; height: 14px; background-color: #1dccc3; margin: 11px 0;}
.cont-tit h5{ float: left; color: #333333; font-size: 14px; line-height: 36px; margin-left: 10px;}
.cont-tit p{ float: left; color: #4c4c4c; font-size: 12px; line-height: 36px; margin-left: 30px;}
.cont-tit img{ float: left; margin: 7px;}
.cont-tit .btn-box{ float: right; margin-right: 1%;}
.cont-tit .btn-box .btn-shuxing{display: block; float: left; width:20px; height: 20px;  background: url(../Resource/css/img/ico_more_shuxing.png) center; margin: 8px 0;}
.cont-bd{ float: left; width: 49%; margin-right: 1%; margin-bottom: 10px; background-color: #F7F7F7; }
.cont-bd .bd-left{ float: left; width: 18.75%; height: 70px;}
.cont-bd .bd-left-yellow{ background-color: #fbbd65;}
.cont-bd .bd-left-blue{ background-color: #54bee3;}
.cont-bd .bd-left-green{ background-color: #61c883;}
.cont-bd .bd-left img{ margin: 0 auto; width: 36px; height: auto; margin-top: 4px;}
.cont-bd .bd-left h2{ width: 100%; text-align: center; height: 24px; line-height: 24px; font-size: 12px; color: #FFFFFF; text-align: center; margin-top: 4px;}
.cont-bd .bd-right{ float: right; width:81.25%; height: 70px;}
.cont-bd .bd-right-bottom{ width: 100%; height: 30px; padding-top : 5px ; background-color: #f7f7f7; }
.cont-bd .bd-bottom-box{ float: left; width: 48%; margin-left: 1.5%; height: 30px;}
.cont-bd .bd-right-bottom p{ float: left; width: 28%; line-height: 30px; font-size: 12px; color: #666666; text-align: justify; }
.cont-bd .bd-input-box{ float: left; width: 68%; position: relative; }
.cont-bd .bd-input-box input{ width: 98%; height: 22px; border: 1px solid #dedede; border-radius: 3px; background-color: #FFFFFF; padding-left: 2%; color: #666666; font-size: 12px; line-height: 22px;  }
.cont-bd .bd-input-box a{ display: block; width: 30px; height: 24px; background: url(../Resource/css/img/ico_search.png) center no-repeat; position: absolute; right: -2px; top: 0;}
.cont-bd .bd-input-box02{margin: 3px 0; }
.cont-bd .bd-bottom{ float: left; width: 100%; }
.cont-bd .bd-bottom .bd-bottom-box{ width: 98%; height: 35px; padding-top: 5px; padding-bottom: 3px; }
.cont-bd .bd-bottom .bd-bottom-box p{ float: left; width: 10%; line-height: 30px; font-size: 12px; color: #666666; }
.cont-bd .bd-bottom .bd-bottom-box .bd-input-box{ float: left; width: 90%;}
.cont-bd .bd-bottom .bd-bottom-box .bd-input-box input{ width: 97%; padding-left: 1%; margin:3px 0; line-height: 22px; }

.bianhao-box{width: 48%; min-width: 480px; margin-left: 1%; overflow: hidden; background-color: #F7F7F7; padding-bottom: 10px;  }
.bianhao-box table{ width: 100%; font-size: 12px; color: #333333; }
.bianhao-box table tr th{ width: 90%; height: 32px; background-color: #54BEE3; color: #FFFFFF; padding-left: 2%;}
.bianhao-box table tbody tr .bianhao-tit{ width: 17%; padding-left: 1%;}
.bianhao-box table tbody tr td:first-child{ width:16%; }
.bianhao-box table tr .bianhao-cont{ width: 35%;}
.bianhao-box table tr td input{ width: 88%; padding-left: 2%; height: 22px; border: 1px solid #DEDEDE;}
.bianhao-box table tr td textarea{ width: 95%; padding-left: 1%; height: 48px; border: 1px solid #DEDEDE; margin-top: 4px; }


/*首页*/
.home-cont{ width: 100%; min-width: 800px;}
.home-cont-top{ width: 100%; }
.home-cont-top .home-xiugai-box{ width: 96%; margin: 0 2%; height: 24px; margin-top: 20px; }
.home-cont-top .home-xiugai-box a{ display: block; float: right; font-size: 14px; color: #54BEE3; text-decoration: underline;}
.home-cont-top .home-ctrl-box{ width: 96%; height: 122px; margin: 20px 2%; margin-top: 10px; position: relative; overflow: hidden; background-color: #F1F1F1;}
.home-cont-top .home-ctrl-box .home-ctrl:hover{ background-color: #fafafa; border: 1px solid #d6d7dc;}
.home-cont-top .home-ctrl-box .home-ctrl{ display: block; width: 24px; height: 120px; border: 1px solid #ededed; position: absolute; background-color: #FFFFFF;}
.home-cont-top .home-ctrl-box .home-ctrl-left{ left:0px; top:0px; background-image: url(../Resource/css/img/ico_ctrl_left.png); background-repeat: no-repeat; background-position: center; }
.home-cont-top .home-ctrl-box .home-ctrl-right{ right:0px; top: 0px; background-image: url(../Resource/css/img/ico_ctrl_right.png);  background-repeat: no-repeat; background-position: center;  }
.home-cont-top ul{ width: 500%; padding-left: 36px; padding-top: 13px; }
.home-cont-top ul li{ float: left; width: 180px; height: 96px; background-color: red; border-radius: 10px; margin-right: 10px;}
/* .home-cont-top ul li img{ float: left; width: 48px; height: auto; margin: 24px 15px;} */
.home-cont-top ul li div{ float: left; width: 96px;}
.home-cont-top ul li div h1{font-size: 16px; color: #FFFFFF;  line-height: 26px; margin-top: 16px;}
.home-cont-top ul li div p{font-size: 12px; color: #FFFFFF;  line-height: 16px; margin-top: 6px; }
.home-cont-top ul li div a{font-size: 12px; color: #FFFFFF; line-height: 16px; opacity: 0.7; }
.home-cont-top ul li div a:hover{opacity:1;}
.home-cont-top ul .home-cont-bg01{ background-color: #61c883;}
.home-cont-top ul .home-cont-bg02{ background-color: #fbbd65;}
.home-cont-top ul .home-cont-bg03{ background-color: #bc76d7;}
.home-cont-top ul .home-cont-bg04{ background-color: #54bee3;}
.home-cont-top ul .home-cont-bg05{ background-color: #fb7b7e;}
.home-cont-bottom{ width: 96%; margin: 0 2%;}
.home-cont-bottom .home-cont-bottomleft{ float: left; margin-right: 20px; margin-bottom: 10px;}
.home-cont-bottom .home-cont-bottomright{ float: left; margin-bottom: 10px;}

/*统计*/
.tongji-box{ width: 100%; border: 1px solid #d6d7dc;}
.tongji-box .tongji-top{ width: 98%; height: 64px; border-bottom: 1px solid #E1E1E1; padding: 0 1%;}
.tongji-box .tongji-top span{ display: block; float: left; width: 4px; height: 14px; background-color: #1dccc3; margin: 25px 0; margin-left: 10px;}
.tongji-box .tongji-top h5{ float: left; color: #333333; font-size: 14px; line-height: 64px; margin-left: 6px;}
.tongji-box .tongji-top select{ float: right; width: 14% ; height: 32px; padding-left: 1%; border: 1px solid #E1E1E1; border-radius: 3px; color: #333333; margin: 16px 0; margin-right: 10px; background-color: #f7f7f7; }
.tongji-box .tongji-top .tongji-search{ float: right; width: 20%; height: 32px; margin: 16px 0; margin-right: 10px; border-radius: 3px; overflow: hidden;}
.tongji-box .tongji-top .tongji-search input{ float: left; width: 78%; padding-left: 2%; height: 30px; border: 1px solid #E1E1E1; background-color: #f7f7f7; font-size: 12px; }
.tongji-box .tongji-top .tongji-search a{ float: left; width: 20%; margin-left: -2px; height: 32px; text-align: center; background-color: #1DCCC3; color: #FFFFFF; font-size: 14px; line-height: 32px;}
.tongji-box .tongji-cont{ width: 98%; overflow: auto; padding: 10px 1%; max-height:436px; background-color: #f1f1f1;}
.tongji-box .tongji-cont .tongji-kuwei{ float: left; width: 23% ; margin: 10px 1%; border-radius: 3px; overflow: hidden; }
.tongji-box .tongji-cont .tongji-kuwei .tongji-kuwei-tit{ width: 100%; height: 36px;  background-color: #54BEE3;}
.tongji-box .tongji-cont .tongji-kuwei .tongji-kuwei-tit h5{ float: left; line-height: 36px; color: #FFFFFF; margin-left: 10px; font-size: 14px;}
.tongji-box .tongji-cont .tongji-kuwei .tongji-kuwei-tit a{ float: right; display: block; line-height: 36px; color: #FFFFFF; margin-right: 10px; font-size: 18px;}
.tongji-box .tongji-cont .tongji-kuwei .tongji-kuwei-center{ width: 100%; height: 110px; background-color: #FFFFFF; padding: 8px 0; overflow: auto;}
.tongji-box .tongji-cont .tongji-kuwei .tongji-kuwei-center ul li{ width: 100%; height: 28px; }
.tongji-box .tongji-cont .tongji-kuwei .tongji-kuwei-center ul li h6{ float: left; font-size: 12px; color: #666666; line-height: 28px; margin-left: 12px;}
.tongji-box .tongji-cont .tongji-kuwei .tongji-kuwei-center ul li p{ float: right; font-size: 12px; color: #666666; line-height: 28px; margin-right: 12px;}
.tongji-box .tongji-cont .tongji-kuwei .tongji-kuwei-bottom{ width: 100%; height: 36px; font-size: 14px; background-color: #FBBD65; color: #FFFFFF; text-align: center; line-height: 32px; }

.table-box{ width: 100%; margin-top: 20px;}
.table-box .table-cont{ width: 49%; border: 1px solid #D6D7DC; margin-bottom: 20px; }
.table-box .table-cont-l{ float:left;  }
.table-box .table-cont-r{ float: right; }
.table-box .table-cont .table-tit{ width: 540px; height: 48px; padding: 0 1%; position: absolute;}
.table-box .table-cont .table-tit span{ display: block; float: left; width: 4px; height: 14px; background-color: #1dccc3; margin: 17px 0; margin-left: 10px;}
.table-box .table-cont .table-tit h5{ float: left; color: #333333; font-size: 14px; line-height: 48px; margin-left: 3.5%;position: absolute;z-index: 10000;}
.table-box .table-cont .table-img{ margin-top:10px; width: 100%; height: 180px; line-height: 180px; text-align: center; background-color: #F1F1F1; }

.tongji-box .tongji-top-kuwei input{ float: right; width: 12% ; height: 30px; padding-left: 1%; border: 1px solid #E1E1E1; border-radius: 3px; color: #333333; margin: 16px 0; margin-right: 10px; background-color: #f7f7f7; }
.tongji-box .tongji-top-kuwei a{ float: right; width: 5%; margin-left: -2px; height: 32px; text-align: center; background-color: #1DCCC3; color: #FFFFFF; font-size: 14px; line-height: 32px; border-radius:3px;  margin: 16px 0; margin-right: 1%;}
.tongji-box .tongji-cont-baozhuang{ max-height:312px; }
.tongji-box .tongji-cont .tongji-kuwei .tongji-baozhuang-center{ width: 100%; height: 84px; background-color: #FFFFFF; padding: 8px 0; overflow: auto;}
.tongji-box .tongji-cont .tongji-kuwei .tongji-baozhuang-center ul li{ width: 100%; height: 28px; }
.tongji-box .tongji-cont .tongji-kuwei .tongji-baozhuang-center ul li h6{ float: left; font-size: 12px; color: #666666; line-height: 28px; margin-left: 12px;}
.tongji-box .tongji-cont .tongji-kuwei .tongji-baozhuang-center ul li p{ float: left; font-size: 12px; color: #666666; line-height: 28px; margin-right: 12px;}

/*轨迹*/
.tongji-box .tongji-cont-guiji{ width: 98%; overflow: auto; padding: 10px 1%; background-color: #f1f1f1;}
.tongji-box .tongji-cont-guiji .tongji-tab{ width: 60%; height: 58px; margin:10px auto;  }
.tongji-box .tongji-cont-guiji .tongji-tab ul li{ float: left; width: 33%; height: 48px; line-height: 48px; text-align: center; border: 1px solid #e1e1e1; background-color: #FFFFFF; margin-left: -1px; font-size: 14px; color: #999999;}
.tongji-box .tongji-cont-guiji .tongji-tab ul .tongji-cur{ background-color: #1DCCC3; color:  #FFFFFF; border: 1px solid #1DCCC3; margin-left: -1px; }
.tongji-box .tongji-cont-guiji .tongji-tab-cont{ width: 60%; margin: 0 auto;  background-image: url(../Resource/css/img/bg_guiji_line.png) ; background-position: center top; background-repeat: repeat-y;}
.tongji-box .tongji-cont-guiji .tongji-tab-cont-bottom{ width: 60%; margin: 0 auto; height: 16px;  background: url(../Resource/css/img/bg_guiji_arrow.png) no-repeat; background-position: center top; }
.tongji-box .tongji-cont-guiji .tongji-tab-cont .tongji-tab-cont-l{ float: left; width: 45%; background-color: #FBBD65; margin-top: 10px; border-radius: 3px; }
.tongji-box .tongji-cont-guiji .tongji-tab-cont .tongji-tab-cont-l h6{float:left; height: 36px; line-height: 36px; color: #FFFFFF; margin-left: 10px; font-size: 14px;}
.tongji-box .tongji-cont-guiji .tongji-tab-cont .tongji-tab-cont-l P{float: right; height: 36px; line-height: 36px; color: #FFFFFF; margin-right: 10px; font-size: 14px;}
.tongji-box .tongji-cont-guiji .tongji-tab-cont .tongji-tab-cont-c{ float: left; width: 10%; margin-top: 10px; }
.tongji-box .tongji-cont-guiji .tongji-tab-cont .tongji-tab-cont-c img{ display: block; margin: 0 auto; margin-top: 10px; }


.table-box{ width: 100%; margin-top: 20px;}
.table-box .table-cont{ width: 49%; border: 1px solid #D6D7DC; margin-bottom: 20px; }
.table-box .table-cont-l{ float:left;  }
.table-box .table-cont-r{ float: right; }
.table-box .table-cont .table-tit{ width: 540px; height: 48px; padding: 0 1%;}
.table-box .table-cont .table-tit span{ display: block; float: left; width: 4px; height: 14px; background-color: #1dccc3; margin: 17px 0; margin-left: 10px;}
.table-box .table-cont .table-tit h5{ float: left; color: #333333; font-size: 14px; line-height: 48px; margin-left: 3.5%;position: absolute;z-index: 10000;}
.table-box .table-cont .table-img{ width: 100%; height: 450px; line-height: 450px; text-align: center; background-color: #F1F1F1; }


.tongji-box .tongji-cont-guiji .tongji-tab-cont .tongji-tab-cont-r{ float: left; width: 44% ; margin: 10px 0; margin-right: 1%; }
.tongji-box .tongji-cont-guiji .tongji-tab-cont .tongji-tab-cont-r .tongji-kuwei-tit{ width: 100%; height: 36px;  background-color: #54BEE3; position: relative; border-top-left-radius: 3px; border-top-right-radius: 3px;}
.tongji-box .tongji-cont-guiji .tongji-tab-cont .tongji-tab-cont-r .tongji-kuwei-tit h5{ float: left; line-height: 36px; color: #FFFFFF; margin-left: 10px; font-size: 14px;}
.tongji-box .tongji-cont-guiji .tongji-tab-cont .tongji-tab-cont-r .tongji-kuwei-tit a{ float: right; display: block; line-height: 36px; color: #FFFFFF; margin-right: 10px; font-size: 18px;}
.tongji-box .tongji-cont-guiji .tongji-tab-cont .tongji-tab-cont-r .tongji-kuwei-tit img{ float: left; width: 16px; height: 16px; position: absolute; left: -14px; margin-top: 10px; }
.tongji-box .tongji-cont-guiji .tongji-tab-cont .tongji-tab-cont-r .tongji-kuwei-center{ width: 100%; background-color: #FFFFFF; padding: 8px 0;  border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }
.tongji-box .tongji-cont-guiji .tongji-tab-cont .tongji-tab-cont-r .tongji-kuwei-center ul li{ width: 100%; height: 28px; }
.tongji-box .tongji-cont-guiji .tongji-tab-cont .tongji-tab-cont-r .tongji-kuwei-center ul li h6{ float: left; font-size: 12px; color: #666666; line-height: 28px; margin-left: 12px;}
.tongji-box .tongji-cont-guiji .tongji-tab-cont .tongji-tab-cont-r .tongji-kuwei-center ul li p{ float: left; font-size: 12px; color: #666666; line-height: 28px; margin-right: 12px;}