<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link id="CustomTheme" type="text/css" rel="stylesheet"
	href="../../Resource/css/index/customLightBlue.css" />
<link id="EasyuiTheme" type="text/css" rel="stylesheet"
	href="../../Resource/js/easyUI/themes/easyuiLightBlue.css" />
<link id="JqgridTheme" type="text/css" rel="stylesheet"
	href="../../Resource/js/jqueryUI/theme/jqgridLightBlue/jquery-ui-1.10.4.custom.css" />
<link type="text/css" rel="stylesheet"
	href="../../Resource/js/easyUI/themes/icon.css" />
<link type="text/css" rel="stylesheet"
	href="../../Resource/js/jqueryUI/theme/ui.jqgrid.css" />
    <title>#{basic.page.detail}</title>
</head>
<body>
    <div id="toolbar" class="easyui-panel" style="padding: 4px; border-width:0; border-bottom-width:1px;">
      #{PAGE_TOOLBAR_BUTTONROLE}
    </div>
    <form id="addForm" class="easyui-form" method="post" data-options="novalidate:true">
    <input type="hidden" id="sn" name="sn" />
    <table class="editTable">
        <tr>
            <td class="editRequiredTitle">
                <label data-locale="basic.field.type"/>:
            </td>
            <td class="editControl">
            	<input id="type" class="easyui-combobox" name="type" data-options="editable:false,required:true,panelHeight:'150'" validType="selectValueRequired['#type']"/>
            </td>
        </tr>
        <tr>
            <td class="editRequiredTitle">
                <label data-locale="basic.field.typeName"/>:
            </td>
            <td class="editControl">
            	<input id="type_name" class="easyui-textbox" name="type_name" data-locale-missingmessage="basic.message.noNotEmpty" data-options="required:true"/>
            </td>
        </tr>
        <tr>
           <td class="editRequiredTitle">
              <label data-locale="basic.field.code"/>:
            </td>
            <td class="editControl">
                <input type="text" data-locale-missingmessage="basic.message.noNotEmpty" data-options="required:true" name="code"
                    id="code" class="easyui-textbox" />  
            </td>
        </tr>
         <tr>
           <td class="editRequiredTitle">
                 <label data-locale="basic.field.value"/>:
            </td>
            <td class="editControl">
                <input type="text" data-locale-missingmessage="basic.message.valueNotEmpty" name="values1" id="values1" 
                	class="easyui-textbox" data-options="required:true" />
            </td>
        </tr>
        <tr>
            <td class="editTitle">
                <label data-locale="basic.field.remark"/>:
            </td>
            <td class="editControl" colspan="6">
                   <textarea id="remark" name="remark" rows="3" cols="3" style="width: 100% ; border:1px solid #C2D3E9" ></textarea>
            </td>
			</tr> 
    </table>
    </form>
</body>
<script type="text/javascript"
	src="../../Resource/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery.i18n.properties.js"></script>
<script type="text/javascript"
	src="../../Resource/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript"
	src="../../Resource/js/easyUI/jquery.easyui.min.js"></script>
<script type="text/javascript"
	src="../../Resource/js/easyUI/jquery.easyuiExtend.min.js"></script>
<script type="text/javascript"
	src="../../Resource/js/easyUI/easyui-lang-zh_CN.js"></script>
<script type="text/javascript"
	src="../../Resource/js/base/commonControl.js"></script>
<script type="text/javascript"
	src="../../Resource/js/base/globalVariable.js"></script>
<script type="text/javascript"
	src="../../Resource/js/base/commonBusiness.js"></script>
<script type="text/javascript"
	src="../../Resource/js/jqueryUI/i18n/grid.locale-cn.js"></script>
<script type="text/javascript"
	src="../../Resource/js/jqueryUI/jquery.jqGrid.min.js"></script>
<script type="text/javascript"
	src="../../Resource/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript"
	src="../../Resource/js/jqueryUI/plugins/grid.setcolumns.js"></script>
<script type="text/javascript" src="../../Resource/js/regex/regex.js"></script>
<script language="javascript" type="text/javascript">
    var afterSave = "close";
    var code = "";
    var sn="";
    var callerId = "";
    var callerType = "";
    var callbackFlag = "";
    var originalFormData = "";
    var lang = "zh";
    var listType = "";
    var globalStateArray=null; // 全局状态变量
    $(function () {
    	 $("#type_name").textbox('textbox').attr("readonly","true");
        var parms = getUrlParms();
        code = parms["code"];
        sn= parms["sn"];
        listType = parms["type"];
        lang= parms["lang"];
        moduleId = parms["moduleId"];
        callerId = parms["callerId"];
        callerType = parms["callerType"];
        callbackFlag = parms["callbackFlag"];
        initCombType();
        initData();
       
    });

    $(window).load(function () {
        hideLoading();
    });

    var initData = function () {

    	
        if (code != "") {
            loadDetail();
        } else {
            $("#sn").val("0");
            originalFormData = $('#addForm').serialize();
        }
    }
    
    var initCombType = function(){
    	
    	var dicText = "dicText";
    	
    	if(lang=="en"){
    		dicText = "dicText_en"
    	}
    	
    	$("#type").combobox({
    	  url:"../../sysInfo/dictionaryData/getDictionaryDataList?t=" + Math.random()+"&dicTypeCode=SCTS_BASIC",
  		  valueField: dicText,  
  		  textField: 'dicValue',
  		  method:"GET",
  		  onChange : function(){
  			  var val = $(this).combobox('getText');
  			  if(val.indexOf("--")==-1){
  				var text = $(this).combobox('getValue');
  				$("#type_name").textbox("setValue",text);
  			  }
  		  },
  		  onLoadSuccess: function () { 
  			if(listType==""){
  				$(this).combobox("setValue","--#{basic.switch}--");
  			} else {
  				$(this).combobox("setValue",listType);
  			}
  			$.extend($.fn.validatebox.defaults.rules, {
    	        selectValueRequired: {
    	            validator: function(value,param){
    	               	if(value.indexOf("--")!=-1){
    	               		return false;
    	               	}
    	                return true;
    	            },
    	            message: '#{basic.message.typeValid}.'
    	        }
    	    });
          }
  		});
    }
  
    var reset = function() {
    	var isReadOnly = $("#code").textbox('textbox').attr("readonly");
    	if(isReadOnly==undefined){
    		$("#code").textbox("setValue", "");
    	}
		$("#values1").textbox("setValue", "");
		$("#type_name").textbox("setValue", "");
		$("#type").combobox("setValue","--#{basic.switch}--");
		$("#remark").val("");
	}

    var validate = function () {
        var validated = $("#addForm").form('enableValidation').form('validate');
        if (!validated) {
            errorNotification({
                SimpleMessage: $.i18n.prop('basic.message.saveValid')
            });
            return false;
        }
        var newFormData = $('#addForm').serialize();
        if (newFormData == originalFormData) {
            errorNotification({
                SimpleMessage: $.i18n.prop('basic.message.notChange')
            });
            return false;
        }
        return true;
    }

    var save = function () {
        if (!validate()) {
            return;
        }

        $.messager.confirm($.i18n.prop('basic.message.prompt'), '#{basic.message.saveQuestion}?', function (r) {
            if (r) {
            	showLoading("#{basic.page.loading}#{basic.page.detail}...");
                afterSave = "close";
                save2();
            }
        });
    }

    var close = function(){
    	closeDialog("BasicRecordDetail");
    }
    
    var afterSaveOperate = function () {
        switch (afterSave) {
            case "edit":
			code = $("#code").textbox("getValue");
			refreshCallerData();
			openDetail(code);
			break;
            case "close":
                refreshCallerData();
                close();
                break;
            case "clear":
                $('form').form('clear');
                $("#sn").val("0");
                $("input", $("#code").next("span")).removeAttr("readonly");
                refreshCallerData();
                break;
            case "copy":
                $("#sn").val("0");
                $("input", $("#code").next("span")).removeAttr("readonly");
                $("#code").textbox('setValue', '');
                refreshCallerData();
                break;
        }
    }

    var refreshCallerData = function () {
        if (callerType == Global_Constant.Global_Constant_CallerType_Dialog) {
            //此callerId此时为dialog的id
            getDialog(callerId).refreshCallerData_zdTruckType(callbackFlag);
        } else {
            //此callerId此时为frame的id
            getCurrentTab(callerId).refreshCallerData_zdTruckType(callbackFlag);
        }
    }

    var loadDetail = function () {
        showLoading("#{basic.page.loading}#{basic.page.detail}...");
        var zdTruckTypeVO = {};
        zdTruckTypeVO.code = code;
        zdTruckTypeVO.sn = sn;
        var serverUrl = "../../scts/basic/getDetail?t="+ Math.random();
        $.ajax({
			type : "POST",
			url : serverUrl,
			data :JSON.stringify(zdTruckTypeVO),
			contentType : 'application/json;charset=utf-8', // 设置请求头信息
			success : function(dataObj) {
				if (isServerResultDataPass(dataObj)){
                $("#sn").val(dataObj.resultDataFull.sn);  
                $("#code").textbox('setValue', dataObj.resultDataFull.code);
                $("#code").textbox('textbox').attr("readonly","true");
                $("#type").combobox('select', dataObj.resultDataFull.type);
                $("#values1").textbox('setValue', dataObj.resultDataFull.values1);
                $("#type_name").textbox('setValue', dataObj.resultDataFull.type_name);
                $("#remark").val(dataObj.resultDataFull.remark);
                originalFormData = $('#addForm').serialize();
            } else {	
                FailResultDataToTip(dataObj);
            }
            hideLoading();
			},
        });
    }
	var getFormSerializeData = function() {
		originalFormData = $('#addForm').serialize();
	}

    var save2 =function(){
    	basicVO = FormUtils.toJSONObject($("#addForm"));
    	basicVO.type = $("#type").combobox('getText');
    	$.ajax({
    		url : "../../scts/basic/save?t="
				+ Math.random(),
		    contentType : 'application/json;charset=utf-8',
			type : 'POST',
			data : JSON.stringify(basicVO),
            success : function(dataObj) {
				if (isServerResultDataPass(dataObj)) {
					correctNotification(dataObj.resultDataFull);
					hideLoading();
					afterSaveOperate();
				} else {
					hideLoading();
					FailResultDataToTip(dataObj);
				}
			}
    	})
    }
</script>
</html>
