<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link id="CustomTheme" type="text/css" rel="stylesheet" href="../../Resource/css/index/customLightBlue.css" />
	<link id="EasyuiTheme" type="text/css" rel="stylesheet" href="../../Resource/js/easyUI/themes/easyuiLightBlue.css" />
	<link id="JqgridTheme" type="text/css" rel="stylesheet" href="../../Resource/js/jqueryUI/theme/jqgridLightBlue/jquery-ui-1.10.4.custom.css" />
	<link type="text/css" rel="stylesheet" href="../../Resource/js/jqueryUI/theme/ui.jqgrid.css" />
	<link type="text/css" rel="stylesheet" href="../../Resource/js/easyUI/themes/icon.css" />
	<link type="text/css" rel="stylesheet" href="../../Resource/js/fileUpload/css/fileUpload.css" />
	<title>问题明细</title>

	<style type="text/css">
		.editTable{
			margin-top: 1px;
			padding-top: 0px;
			padding-left: 0px;
			margin-left: 0px;
		}
		.editTable .datebox input[readonly="readonly"]{
			background-color: initial;
		}
	</style>
</head>
<body>
<div id="toolbar" class="easyui-panel" style="padding:4px;border-width:0;border-bottom-width:1px;">
	#{PAGE_TOOLBAR_BUTTONROLE}
</div>
<div class="searchParamesPanel editTable">
	<form class="easyui-form panel-noscroll" enctype="multipart/form-data">
		<table class="editTable">
			<tr>
				<td class="editTitle"><label data-locale="STATE"/></td>
				<td class="editControl">
					<input type="text" name="state" id="state" class="easyui-textbox" readonly="readonly"/>
				</td>
			</tr>
			<tr>
				<td class="editTitle" style="width:125px;"><label data-locale="SHEET_NO"/></td>
				<td class="editControl">
					<input type="text" name="sheet_no" id="sheet_no" class="easyui-textbox"  readonly="readonly" style="width: 25%;"/>
				</td>
			</tr>
			<tr>
				<td class="editTitle" style="width:125px;"><label data-locale="QUESTION_DATE"/></td>
				<td class="searchParamesTdControl">
					<input type="text" name="question_date" id="question_date" class="easyui-datebox" style="width: 13%" />
				</td>
			</tr>
			<tr>
				<td class="editTitle" style="width:125px;"><label data-locale="CONTACT_NAME"/></td>
				<td class="searchParamesTdControl">
					<input type="text" name="contact_name" id="contact_name" class="easyui-textbox" style="width: 25%;"/>
				</td>
			</tr>
			<tr>
				<td class="editTitle" style="width:125px;"><label data-locale="HUAWEI_NO"/></td>
				<td class="searchParamesTdControl">
					<input type="text" name="huawei_no" id="huawei_no" class="easyui-textbox" style="width: 25%;"/>
				</td>
			</tr>
			<tr>
				<td class="editTitle" style="width:125px;"><label data-locale="CONTACT_INFO"/></td>
				<td class="searchParamesTdControl">
					<input type="text" name="contact_info" id="contact_info" class="easyui-textbox" style="width: 25%;"/>
				</td>
			</tr>
			<tr>
				<td class="editTitle" style="width:125px;"><label data-locale="ACCOUNT_MANAGER"/></td>
				<td class="searchParamesTdControl">
					<input type="text" name="account_manager" id="account_manager" class="easyui-textbox" style="width: 25%;"/>
				</td>
			</tr>
			<tr>
				<td class="editTitle" style="width:125px;"><label data-locale="HANDLER"/></td>
				<td class="searchParamesTdControl">
					<input type="text" name="handler" id="handler" class="easyui-textbox" style="width: 25%;"/>
				</td>
			</tr>
			<tr>
				<td class="editTitle" style="width:125px;"><label data-locale="TYPE"/></td>
				<td class="editControl">
					<input type="text" name="type" id="type" data-options="required:true" class="easyui-combobox" style="width: 25%;"/>
				</td>
			</tr>
			<tr>
				<td class="editTitle" style="width:125px;"><label data-locale="MODULE"/></td>
				<td class="editControl">
					<input type="text" name="module" id="module" data-options="required:true" class="easyui-combobox" style="width: 25%;"/>
				</td>
			</tr>
			<tr>
				<td class="editTitle" style="width:125px;"><label data-locale="QUESTION"/></td>
				<td class="editControl">
					<textarea id="question" name="question" style="width:99%"></textarea>
				</td>
			</tr>
			<tr>
				<td class="editTitle" align="right"><label data-locale="ANSWER"/></td>
				<td class="editControl">
					<textarea id="answer" name="answer" style="width:99%"></textarea>
				</td>
			</tr>
			<tr>
				<td class="editTitle" style="width:125px;"><label data-locale="PRIORITY"/></td>
				<td class="editControl">
					<input type="text" name="priority" id="priority" class="easyui-combobox" style="width: 25%;"/>
				</td>
			</tr>
			<tr>
				<td class="editTitle" style="width:125px;"><label data-locale="FEEDBACK_HUAWEI"/></td>
				<td class="editControl"><div id="divFeedback_huawei"></div></td>
			</tr>
			<tr>
				<td class="editTitle" align="right"><label data-locale="HUAWEI_ANSWER"/></td>
				<td class="editControl">
					<textarea id="huawei_answer" name="huawei_answer" style="width:99%"></textarea>
				</td>
			</tr>
			<tr>
				<td class="editTitle" style="width:125px;"><label data-locale="WORK_ORDER_NO"/></td>
				<td class="searchParamesTdControl">
					<input type="text" name="work_order_no" id="work_order_no" class="easyui-textbox" style="width: 25%;"/>
				</td>
			</tr>
			<tr>
				<td class="editTitle"><label data-locale="CREATE_BY"/></td>
				<td class="editControl">
					<input type="text" name="create_by" id="create_by" class="easyui-textbox" readonly="readonly" style="width: 25%;"/>
				</td>
			</tr>
			<tr>
				<td class="editTitle" style="width:125px;"><label data-locale="USED_BY"/></td>
				<td class="editControl">
					<input type="text" name="used_by" id="used_by" class="easyui-textbox" readonly="readonly" style="width: 25%;"/>
				</td>
			</tr>
			<tr>
				<td class="editTitle" style="width:125px;"><label data-locale="REMARK"/></td>
				<td class="editControl">
					<input type="text" name="remark" id="remark" class="easyui-textbox" style="width: 25%;"/>
				</td>
			</tr>
		</table>
	</form>
</div>
<script type="text/javascript" src="../../Resource/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery.i18n.properties.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../../Resource/js/base/commonControl.js"></script>
<script type="text/javascript" src="../../Resource/js/base/commonBusiness.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/i18n/grid.locale-cn.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="../../Resource/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="../../Resource/js/base/globalVariable.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/plugins/grid.setcolumns.js"></script>
<script type="text/javascript" src="../../Resource/js/cookie/jquery.cookie.js"></script>
<script type="text/javascript" src="../../Resource/js/fileUpload/js/upload.js"></script>
<script type="text/javascript" src="../../Resource/js/fileUpload/js/file.js"></script>
<script language="javascript" type="text/javascript">
    $(function() {
        initScript();
        initStyle();
        initData();
        var parms = getUrlParms();
        if(parms.sheet_no){
            window.parent.onIframeSelect(parms.sheet_no);
        }

    });

    $(window).load(function() { hideLoading(); });

    var initStyle = function() {};

    var initScript = function() {};

    // 加载数据
    var initData = function() {

        getDictionaryData([{
            //初始化问题类型
            dicTypeCode : Global_DicType.Questions_Type,
            ADD_ALL: false,
            callback : function(callbackData) {
                window.Questions_TypeMap = {};
                for(var i = 0; i < callbackData.length; i++){
                    Questions_TypeMap[callbackData[i].dicvalue] = callbackData[i].dictext;
                }
                $("#type").combobox({
                    valueField: 'dicvalue',
                    textField: 'dictext',
                    //panelHeight: 200,
                    //panelWidth: 250,
                    editable: true
           /*         onLoadSuccess:function(data){
                        //默认选中第一个
                        var array=$(this).combobox("getData");
                        for(var item in array[0]){
                            if(item=="dicvalue"){
                                $(this).combobox('setValue',array[0][item]);
                            }
                        }
                    }*/
                });
                $("#type").combobox("loadData", callbackData);
            }
        },{
            //初始化问题状态
            dicTypeCode : Global_DicType.Questions_State,
            ADD_ALL: false,
            callback : function(callbackData) {
                window.Questions_StateMap = {};
                for(var i = 0; i < callbackData.length; i++){
                    Questions_StateMap[callbackData[i].dicvalue] = callbackData[i].dictext;
                }
            }
        },{
            //初始化优先级
            dicTypeCode : Global_DicType.Global_DicType_BasePriority,
            ADD_ALL: false,
            callback : function(callbackData) {
                window.priorityMap = {};
                for(var i = 0; i < callbackData.length; i++){
                    priorityMap[callbackData[i].dicvalue] = callbackData[i].dictext;
                }
                $("#priority").combobox({
                    valueField: 'dicvalue',
                    textField: 'dictext',
                    //panelHeight: 200,
                    //panelWidth: 250,
                    editable: true
                });
                $("#priority").combobox("loadData", callbackData);
            }
        },{
            //初始化问题模块
            dicTypeCode : Global_DicType.Questions_Module,
            ADD_ALL: false,
            callback : function(callbackData) {
                window.Questions_ModuleMap = {};
                for(var i = 0; i < callbackData.length; i++){
                    Questions_ModuleMap[callbackData[i].dicvalue] = callbackData[i].dictext;
                }
                $("#module").combobox({
                    valueField: 'dicvalue',
                    textField: 'dictext',
                    //panelHeight: 200,
                    //panelWidth: 250,
                    editable: true
            /*        onLoadSuccess:function(data){
                        //默认选中第一个
                        var array=$(this).combobox("getData");
                        for(var item in array[0]){
                            if(item=="dicvalue"){
                                $(this).combobox('setValue',array[0][item]);
                            }
                        }
                    }*/
                });
                $("#module").combobox("loadData", callbackData);
            }
        },{
            dicTypeCode: Global_DicType.Global_DicType_CommonStateYesNo,
            callback: function (callbackData) {
                window.feedback_huaweiList = {};
                for(var i = 0; i < callbackData.length; i++){
                    feedback_huaweiList[callbackData[i].dicvalue] = callbackData[i].dictext;
                }
                var formatData = { data: callbackData, needChooseAll: false, defaultValue: "N",
                    bindBoxName: "divFeedback_huawei", bindControlPrefix: "feedback_huawei", onClick:function(){
                    } };
                formatDefaultRadio_Local(formatData);
            }
        }]);
    };

    function add() {
        $.messager.confirm('提示', '确定打开一个新界面?', function (r) {
            if (r) {
                showLoading();
                add_after();
            }
        });
    };

    function add_after(){
        location.href = location.pathname;
    }

    var saveValidationPass = function () {
        var validated = $("form").form('enableValidation').form('validate');
        if (!validated) {
            errorNotification({
                SimpleMessage: "保存操作中部分数据验证不通过"
            });
            return false;
        } else {
            return true;
        }
    }

    function save() {
        loseGridFocus();
        if (!saveValidationPass()) {
            return;
        }
        $.messager.confirm('提示', '确定保存吗?', function (r) {
            if(r){
                showLoading();
                save_after();
            }
        });
    }

    function save_after(){
        loseGridFocus();
        var requestParam = FormUtils.toJSONObject('form');
        $.ajax({
            url :"../../wdgl/QuestionsController/saveDetail?t=" + Math.random(),
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(requestParam),
            success : function(dataObj){
                if (isServerResultDataPass(dataObj)) {
                    loadDetail({
                        sheet_no : dataObj.resultDataFull.sheet_no,
                        msg : { simpleMessage : dataObj.resultDataFull.msg }
                    });
                } else {
                    FailResultDataToTip(dataObj);
                    hideLoading();
                }
            }
        });
    }

    // 加载数据详细信息
    var loadDetail = function(requestParam) {
        showLoading();
        $.ajax({
            url: '../../wdgl/QuestionsController/getDetail?t=' + Math.random(),
            type: 'POST',
            data: "sheet_no="+requestParam.sheet_no,
            success : function(dataObj) {
                if (isServerResultDataPass(dataObj)) {
                    var questionVO = dataObj.resultDataFull;
                    $("#state").textbox("setValue", window.Questions_StateMap[questionVO.state]);
                    $("#sheet_no").textbox("setValue", questionVO.sheet_no);

                    $("#huawei_no").textbox("setValue", questionVO.huawei_no);
                    $("#account_manager").textbox("setValue", questionVO.account_manager);
                    $("#contact_info").textbox("setValue", questionVO.contact_info);
                    $("#contact_name").textbox("setValue", questionVO.contact_name);
                    $("#handler").textbox("setValue", questionVO.handler);
                    $("#priority").combobox("setValue", window.priorityMap[questionVO.priority]);
                    $("[name='feedback_huawei'][value='" + questionVO.feedback_huawei + "']").prop("checked", true);
                    $("#huawei_answer").val(questionVO.huawei_answer);
                    $("#work_order_no").textbox("setValue", questionVO.work_order_no);
                    $("#question_date").textbox("setValue", questionVO.question_date);
                    $("#module").combobox("setValue", window.Questions_ModuleMap[questionVO.module]);
                    $("#type").combobox("setValue", window.Questions_TypeMap[questionVO.type]);
                    $("#question").val(questionVO.question);
                    $("#answer").val(questionVO.answer);
                    $("#create_by").textbox("setValue", questionVO.create_by+" "+questionVO.create_date);
                    if(questionVO.used_by){
                        $("#used_by").textbox("setValue", questionVO.used_by+" "+questionVO.used_date);
					}
                    $("#remark").textbox("setValue", questionVO.remark);
                    if(requestParam.msg){
                        correctNotification(requestParam.msg);
                    }
                } else {
                    FailResultDataToTip(dataObj);
                }
                hideLoading();
            }
        });
    };

    var add_detail = function (vo) {
        loseGridFocus();
        $("#gridTable").common_add({
            data : vo/*,
            isFirstClick : true*/
        });
    };

    function refreshCallerData() {
        loadDetail();
    }

</script>
</body>
</html>
