@charset "utf-8";
/* CSS Document */

/*쐙킬催쨭*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, img,button ,textarea {margin: 0;padding: 0;border: none; } 
dl,dt,dd,ul,ol,li,p {list-style-type: none; margin:0; padding:0;}
em, cite, th,h1,h2,h3,h4,h5,h6 { font-style: normal; font-weight: normal;}
input,img{vertical-align:middle; display:block; margin: 0;padding: 0;border: none;}
html,body{height:100%;}
body{color:#333; min-width:320px; margin:0 auto;font-family:"풕턼환쥌", Arial, Helvetica, sans-serif;}
h1,h2,h3,h4{font-family:"풕턼환쥌", Arial, Helvetica, sans-serif;}
a{ color:#333; text-decoration: none; cursor:pointer;}
input:focus,textarea:focus{outline:none;}
*{font-family:"풕턼환쥌", Arial, Helvetica, sans-serif;}
select{background-color:#fff; border:1px solid #dedede; border-radius:3px; font-size:12px; color:#999999; appearance:none;  -moz-appearance:none; -webkit-appearance:none; background-image:url(../img/ico_login_arrow.png); background-repeat:no-repeat; background-position:right center; }
.clearfix{clear:both;}

.bg-box{ width: 100%; height: 100%; background-color: #FFFFFF; }
.cont-box{ width: 100%; background-color: #FFFFFF; min-width: 1000px;  }


/*컠훱*/
.cont{ width: 98%; padding:0 1%;}
.cont-tit{ width: 100%; height: 36px;margin-bottom: 4px;}
.cont-tit span{ display: block; float: left; width: 4px; height: 14px; background-color: #1dccc3; margin: 11px 0;}
.cont-tit h5{ float: left; color: #333333; font-size: 14px; line-height: 36px; margin-left: 10px;}
.cont-tit p{ float: left; color: #4c4c4c; font-size: 12px; line-height: 36px; margin-left: 30px;}
.cont-tit img{ float: left; margin: 7px;}
.cont-tit .btn-box{ float: right; margin-right: 1%;}
.cont-tit .btn-box .btn-shuxing{display: block; float: left; width:20px; height: 20px;  background: url(../img/ico_more_shuxing.png) center; margin: 8px 0;}
.cont-bd{ float: left; width: 49%; margin-right: 1%; margin-bottom: 10px; background-color: #F7F7F7; }
.cont-bd .bd-left{ float: left; width: 18.75%; height: 70px;}
.cont-bd .bd-left-yellow{ background-color: #fbbd65;}
.cont-bd .bd-left-blue{ background-color: #54bee3;}
.cont-bd .bd-left-green{ background-color: #61c883;}
.cont-bd .bd-left img{ margin: 0 auto; width: 36px; height: auto; margin-top: 4px;}
.cont-bd .bd-left h2{ width: 100%; text-align: center; height: 24px; line-height: 24px; font-size: 12px; color: #FFFFFF; text-align: center; margin-top: 4px;}
.cont-bd .bd-right{ float: right; width:81.25%; height: 70px;}
.cont-bd .bd-right-bottom{ width: 100%; height: 30px; padding-top : 5px ; background-color: #f7f7f7; }
.cont-bd .bd-bottom-box{ float: left; width: 48%; margin-left: 1.5%; height: 30px;}
.cont-bd .bd-right-bottom p{ float: left; width: 28%; line-height: 30px; font-size: 12px; color: #666666; text-align: justify; }
.cont-bd .bd-input-box{ float: left; width: 68%; position: relative; }
.cont-bd .bd-input-box input{ width: 98%; height: 22px; border: 1px solid #dedede; border-radius: 3px; background-color: #FFFFFF; padding-left: 2%; color: #666666; font-size: 12px; line-height: 22px;  }
.cont-bd .bd-input-box a{ display: block; width: 30px; height: 24px; background: url(../img/ico_search.png) center no-repeat; position: absolute; right: -2px; top: 0;}
.cont-bd .bd-input-box02{margin: 3px 0; }
.cont-bd .bd-bottom{ float: left; width: 100%; }
.cont-bd .bd-bottom .bd-bottom-box{ width: 98%; height: 35px; padding-top: 5px; padding-bottom: 3px; }
.cont-bd .bd-bottom .bd-bottom-box p{ float: left; width: 10%; line-height: 30px; font-size: 12px; color: #666666; }
.cont-bd .bd-bottom .bd-bottom-box .bd-input-box{ float: left; width: 90%;}
.cont-bd .bd-bottom .bd-bottom-box .bd-input-box input{ width: 97%; padding-left: 1%; margin:3px 0; line-height: 22px; }

/*퉹훱*/
.home-cont{ width: 100%; min-width: 800px;}
.home-cont-top{ width: 100%; border-bottom: 1px solid #DEDEDE;}
.home-cont-top ul{ padding: 20px 20px 10px 20px;}
.home-cont-top ul li{ float: left; width: 160px; height: 80px; background-color: red; border-radius: 10px; margin-right: 10px; margin-bottom: 10px;}
.home-cont-top ul li img{ float: left; width: 40px; height: auto; margin: 20px 12px;}
.home-cont-top ul li div{ float: left; width: 96px;}
.home-cont-top ul li div h1{font-size: 16px; color: #FFFFFF;  line-height: 26px; margin-top: 16px;}
.home-cont-top ul li div a{font-size: 12px; color: #FFFFFF; line-height: 22px; opacity: 0.7;}
.home-cont-top ul li div a:hover{opacity:1;}
.home-cont-top ul .home-cont-bg01{ background-color: #61c883;}
.home-cont-top ul .home-cont-bg02{ background-color: #fbbd65;}
.home-cont-top ul .home-cont-bg03{ background-color: #bc76d7;}
.home-cont-top ul .home-cont-bg04{ background-color: #54bee3;}
.home-cont-top ul .home-cont-bg05{ background-color: #fb7b7e;}
.home-cont-bottom{ padding: 20px 0;}
.home-cont-bottom .home-cont-bottomleft{ float: left; margin-left: 20px; margin-bottom: 10px;}
.home-cont-bottom .home-cont-bottomright{ float: left; margin-left: 20px;margin-bottom: 10px;}

