@charset "utf-8";
/* CSS Document */

/*标签初始化*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, img,button ,textarea {margin: 0;padding: 0;border: none; } 
dl,dt,dd,ul,ol,li,p {list-style-type: none; margin:0; padding:0;}
em, cite, th,h1,h2,h3,h4,h5,h6 { font-style: normal; font-weight: normal;}
input,img{vertical-align:middle; display:block; margin: 0;padding: 0;border: none;}
html,body{height:100%;}
body{color:#333; min-width:320px; margin:0 auto;font-family:"微软雅黑", Arial, Helvetica, sans-serif;}
h1,h2,h3,h4{font-family:"微软雅黑", Arial, Helvetica, sans-serif;}
a{ color:#333; text-decoration: none; cursor:pointer;}
input:focus,textarea:focus{outline:none; }
*{font-family:"微软雅黑", Arial, Helvetica, sans-serif;}
table{border-collapse:collapse;border-spacing:0;}
select{background-color:#fff; border:1px solid #dedede; border-radius:3px; font-size:12px; color:#999999; appearance:none;  -moz-appearance:none; -webkit-appearance:none; background-image:url(../img/bg_select_arrow.png); background-repeat:no-repeat; background-position:right center; background-size: 16px; }
.clearfix{clear:both;}

body{ background-color: #f2f2f2; width: 100%;}
.cont-box{ width: 100%; background-color: #FFFFFF;  }

/*top*/
.top-box{ width: 100%;  height: 64px; background-color: #1186c0;}
.top-box .top-left{ float: left; width: 16%; min-width: 200px; height: 64px; background-color:#239dd9;}
.top-box .top-left img{ width: 82%; height: auto; margin: 16px 9%; }
.top-box .top-right{ float: right; margin-right: 50px;}
.top-box .top-right ul li{ float: left; height: 64px;}
.top-box .top-right ul li p{ float: left; color:  #FFFFFF; line-height: 64px; font-size: 12px;}
.top-box .top-right ul li img{ float: left; margin: 18px 0; margin-right: 10px;}
.top-box .top-right ul li .line{ display: block; float: right; width: 1px; height: 12px; margin: 26px 30px ;  background-color: #98c0dd;}
.top-box .top-right ul li .num{ display: block; float: left; width: 18px; height: 18px; background-color: #FFFFFF; color: #1186C0; font-size: 12px; border-radius: 50%; text-align: center; margin: 23px 0; margin-left: 6px;}

/*left*/
.left-box{float: left; width: 16%; min-width: 200px; height: 90%; background-color: #e3f4ff;}
.left-box ul{ width: 100%; padding-top: 10px;}
.left-box ul li{ width: 100%; height: 48px; background-color: #FFFFFF; margin-bottom: 1px;}  
.left-box ul li img{ float: left; width: 16px; height: auto; margin: 16px 10px; margin-left: 20px; }
.left-box ul li p{ float: left; font-size: 14px; color: #4c4c4c; line-height: 48px;}
.left-box ul .left_menu{ background-color: #FFFFFF; }  
.left-box ul .left_menu_cur{ background-color: #1186C0;}
.left-box ul .left_menu_cur p{ color:  #FFFFFF;}
.left-box ul li:hover{ background-color: #1186C0; }
.left-box ul li:hover p{ color: #FFFFFF;}

/*cont*/
.cont-box{ float: left; width:82% ; margin:0 1%; background-color: #f2f2f2;}
.cont-tit{ width: 100%; height: 40px; margin-top: 10px; background-color: #F2F2F2;}
.cont-tit ul{ height: 40px;}
.cont-tit ul li{float: left; width: 120px; height: 40px; background-color: #DEDEDE; margin-left: 2px;}
.cont-tit ul li p{ float: left; width: 88px; font-size: 14px; color: #808080; line-height: 40px; margin-left: 10px; overflow: hidden;  text-overflow: ellipsis; white-space: nowrap;}
.cont-tit ul li span{ display: block; float: right; width: 16px; height: 16px; margin: 12px 0; margin-right: 6px; background: url(../img/ico_close.png) no-repeat center;}
.cont-tit ul .cont-tit-cur{ height: 38px; background-color: #FFFFFF; border-top: 2px solid #1186C0;}
.cont-tit ul .cont-tit-cur p{ line-height: 38px;}

.cont-main{ padding:38px 2%; padding-bottom: 0; background-color: #FFFFFF; margin-bottom: 20px;}
.cont-main .main-box{ width: 100%; padding-bottom: 20px;}/*这里可以设置基础信息等的宽度*/
.cont-main .main-box .main-tit{ width: 100%; height: 40px; background-color: #e3f4ff; padding-right: 2px;}
.cont-main .main-box .main-tit span{ display: block; float: left; width: 3px; height: 14px; margin: 13px 0; margin-right: 10px; background-color: #1186C0;}
.cont-main .main-box .main-tit h6{ float: left; line-height: 40px; font-size: 14px; color: #333333;}
.cont-main .main-box .main-tit a{ display: block; float: right; width: 16px; height: 16px; background: url(../img/ico_arrow_up.png) no-repeat center; margin: 12px 10px;}
.cont-main .main-box .main-tit-down a{ background: url(../img/ico_arrow_down.png) no-repeat center; }
.cont-main .main-box .main-cont{ width: 100%; border: 1px solid #d6d7dc; border-top: none; padding: 10px 0; }
/* .cont-main .main-box .main-cont table{ width: 100%; margin: 0 10px;} */
.cont-main .main-box .main-cont table{ width: 100%;}
.cont-main .main-box .main-cont table tr td{ font-size: 12px; color: #66666; line-height: 32px;}
.cont-main .main-box .main-cont table tr td select{ width: 130px; padding-left: 6px; height: 28px; line-height: 28px; border: 1px solid #d6d7dc; background-color: #f7f7f7; color: #666666; padding-right: 4px;}
.cont-main .main-box .main-cont table tr td .checkbox{ float: left; width: 16px; height: 16px; margin: 8px 6px;}
.cont-main .main-box .main-cont table tr td p{ float: left; margin-right: 20px;}
