<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link id="CustomTheme" type="text/css" rel="stylesheet" href="../../Resource/css/index/customLightBlue.css" />
<link id="EasyuiTheme" type="text/css" rel="stylesheet" href="../../Resource/js/easyUI/themes/easyuiLightBlue.css" />
<link id="JqgridTheme" type="text/css" rel="stylesheet" href="../../Resource/js/jqueryUI/theme/jqgridLightBlue/jquery-ui-1.10.4.custom.css" />
<link type="text/css" rel="stylesheet" href="../../Resource/js/easyUI/themes/icon.css" />
<link type="text/css" rel="stylesheet" href="../../Resource/js/jqueryUI/theme/ui.jqgrid.css" />
<title>承运商明细</title>
</head>
<body style="overflow:hidden">
    <div id="toolbar" class="easyui-panel" style="padding: 4px; border-width:0; border-bottom-width:1px;">
		<a href="javascript:save();" id="save" class="easyui-linkbutton" style="display: inline-block;" plain="true" iconcls="icon-save">保存</a>
		<a href="javascript:close();" id="close" class="easyui-linkbutton" style="display:inline-block;" plain="true" iconcls="icon-cancel"> 关闭</a>
    </div>
    <form id="addForm" class="easyui-form" method="post" enctype="multipart/form-data">
    <input type="hidden" id="id" name="id" />
		<table class="editTable">
			<tr>
				<td class="editTitle">承运商编号</td>
				<td class="editControl">
					<input type="text" style="width: 157px;" maxlength="35" data-options="required:true" name="code" id="code" class="easyui-textbox"/>
				</td>
				<td class="editTitle">承运商名称</td>
				<td class="editControl">
					<input type="text" style="width: 157px;" maxlength="35" data-options="required:true" name="name" id="name" class="easyui-textbox"/>
				</td>
			</tr>
			<tr>
				<td class="editTitle">税号</td>
				<td class="editControl">
					<input type="text" style="width: 157px;" name="tax" id="tax"  class="easyui-textbox"/>
					<!--data-options="required:true"-->
				</td>
				<td class="editTitle">发票地址</td>
				<td class="editControl">
					<input type="text" style="width: 157px;" name="in_address" id="in_address" class="easyui-textbox"/>
				</td>
			</tr>
			<tr>
				<td class="editTitle">开户银行</td>
				<td class="editControl">
					<input class="easyui-textbox"  name="bank" id="bank" style="width: 157px;"/>
				</td>
				<td class="editTitle">开户账号</td>
				<td class="editControl">
					<input class="easyui-textbox" name="bank_no" id="bank_no" style="width: 157px;"/>
				</td>
			</tr>
			<tr>
				<td class="editTitle">省</td>
				<td class="editControl">
					<input class="easyui-textbox" name="pri" id="pri" style="width: 157px;"/>
				</td>
				<td class="editTitle">市</td>
				<td class="editControl">
					<input class="easyui-textbox"  name="city" id="city" style="width: 157px;"/>
				</td>
			</tr>
			<tr>
				<td class="editTitle">地址</td>
				<td class="editControl">
					<input class="easyui-textbox"  name="address" id="address" style="width: 157px;"/>
				</td>
				<td class="editTitle">发票电话</td>
				<td class="editControl">
					<input class="easyui-textbox"  name="in_tel" id="in_tel" style="width: 157px;"/>
				</td>
			</tr>
			<tr>
				<td class="editRequiredTitle">类型</td>
				<td class="editControl">
					<input name="type" id="type" style="width: 157px;" class="easyui-combobox" validType="length[0,20]" data-options="required:true"/>
				</td>
				<td class="editTitle">状态</td>
				<td class="editControl">
					<input name="status" id="status" style="width: 157px;" class="easyui-textbox" readonly="readonly"/>
				</td>
			</tr>
			<tr>
				<td class="editTitle">税率(%)</td>
				<td class="editControl">
					<input type="text" name="tax_rate" id="tax_rate" data-options="required:true,min:1,precision:2" style="width: 157px;"  class="easyui-numberbox"/>
				</td>
			</tr>
			<tr>
				<td class="editTitle" align="right" rowspan="2">备注</td>
				<td class="editControl" colspan="3">
					<textarea id="remark" name="remark" rows="2" cols="5" style="width: 100%"></textarea>
				</td>
			</tr>
		</table>
</form>
<input id = "snValue" type="hidden" />

	<div id="gridControl">
		<table id="gridTable"></table>
	</div>
	<div id="gridPager">
	</div>
</body>
<script type="text/javascript" src="../../Resource/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery.i18n.properties.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/jquery.easyuiExtend.min.js"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../../Resource/js/base/commonControl.js"></script>
<script type="text/javascript" src="../../Resource/js/base/globalVariable.js"></script>
<script type="text/javascript" src="../../Resource/js/base/commonBusiness.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/i18n/grid.locale-cn.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="../../Resource/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/plugins/grid.setcolumns.js"></script>
<script type="text/javascript" src="../../Resource/js/regex/regex.js"></script>
<script language="javascript" type="text/javascript">
    var afterSave = "close";
    var id="";
    var code = "";
    var callerId = "";
    var callerType = "";
    var callbackFlag = "";
    $(function () {
        var parms = getUrlParms();
        id = parms["id"];
        code = parms["code"];
        callerId = parms["callerId"];
        callerType = parms["callerType"];
        callbackFlag = parms["callbackFlag"];
        initScript();
        initData();
        initStyle();
    });

    $(window).load(function () {
        hideLoading();
    });

    function initStyle() {
        if (id != "") {
            $("input", $("#id").next("span")).attr("readonly", "readonly");
        }
    }

    function initScript() {
    }

    function initData() {
        getDictionaryData([{
            //加载客户类别字典
            dicTypeCode : Global_DicType.Global_DicType_divtype,
            callback : function(callbackData) {
                $("#type").combobox({
                    valueField: 'dicvalue',
                    textField: 'dictext',
                    panelHeight: 200,
                    panelWidth: 250,
                    editable: true,
                    onLoadSuccess:function(data){
                        //默认选中第一个
                        var array=$(this).combobox("getData");
                        for(var item in array[0]){
                            if(item=="dicvalue"){
                                $(this).combobox('setValue',array[1][item]);
                            }
                        }
                    }
                });
                $("#type").combobox("loadData", callbackData);
            }
        },{
            //加载客户状态
            dicTypeCode : Global_DicType.Global_DicType_CusStatus,
            callback : function(callbackData) {
                window.statusList = {};
                for(var i = 0; i < callbackData.length; i++){
                    statusList[callbackData[i].dicvalue] = callbackData[i].dictext;
                }
            }
        }]);
        if (id != "") {
            loadDetail();
        }
        else {
            $("#id").val("0");
        }
    }

    /**关闭*/
    function close() {
        closeDialog("Zd_CarDetail");
    }

    /**重置*/
    function reset() {
        var newFormData = $('#addForm').serialize();
        var newgidArry = $("#gridTable").jqGrid("getRowData");
        var newgridData = JSON.stringify(newgidArry);
        if (newFormData != originalFormData || newgridData != originalgridData) {
            $.messager.confirm('提示', '您已经修改部分数据，确定放弃修改并且重置吗?', function (r) {
                if (r) {
                    if (id != "") {
                        loadDetail();
                        searchData();
                    } else {
                        $('form').form('clear');
                        initRadioCheckboxData();
                        searchData();
                    }
                }
            });
        }
    }
    /**验证*/
    function validate() {
        var validated = $("#addForm").form('enableValidation').form('validate');
        if (!validated) {
            errorNotification({
                SimpleMessage: "保存操作中部分数据验证不通过"
            });
            return false;
        }
        return true;
    }

    /**保存*/
    function save() {
        if (!validate()) {
            return;
        }
        // 判断jqgrid行
        $.messager.confirm('提示', '确定保存吗?', function (r) {
            if (r) {
                showLoading();
                afterSave = "close";
                saveChild();
            }
        });
    }

    function saveChild() {
        var crCusVO={};
        crCusVO= FormUtils.toJSONObject($("#addForm"));
        var gridAllData = $("#gridTable").jqGrid("getRowData");
        crCusVO.tax_rate = $("#tax_rate").textbox("getValue")/100;
        //处理特殊数据[1、state数据格式的转换；2、cus_id列的动态添值]
        for (var i = 0; i < gridAllData.length; i++) {
            gridAllData[i].state = gridAllData[i].state == "Yes" ? BaseStateValid : BaseStateInValid;
            gridAllData[i].dui_flag = gridAllData[i].dui_flag == "Yes" ? BaseStateValid : BaseStateInValid;
            gridAllData[i].type = gridAllData[i].type == "技术" ? "1" : (gridAllData[i].type=="采购"?"2":"3");
            gridAllData[i].cus_id = id;
        }
        /*  var gridAllDataJson = JSON.stringify(gridAllData); */
        crCusVO.crCusLinks=gridAllData;
        $.ajax({
            url : "../../jcda/carrier/SaveCus?t="+ Math.random(),
            contentType : 'application/json;charset=utf-8',
            dataType:"json",
            type : "POST",
            data : JSON.stringify(crCusVO),
            success : function(dataObj) {
                if (isServerResultDataPass(dataObj)) {
                    correctNotification(dataObj.resultDataFull);
                    hideLoading();
                    afterSaveOperate();
                } else {
                    hideLoading();
                    FailResultDataToTip(dataObj);
                }
            }
        });
    }

    function saveAndAddClear() {
        if (!validate()) {
            return;
        }

        $.messager.confirm('提示', '确定保存吗?', function (r) {
            if (r) {
                showLoading();
                afterSave = "clear";
                $("#addForm").submit();
            }
        });
    }

    var saveAndAddCopy = function () {
        if (!validate()) {
            return;
        }

        $.messager.confirm('提示', '确定保存吗?', function (r) {
            if (r) {
                showLoading();
                afterSave = "copy";
                $("#addForm").submit();
            }
        });
    }

    function afterSaveOperate() {
        switch (afterSave) {
            case "close":
                refreshCallerData();
                close();
                break;
            case "clear":
                $('form').form('clear');
                $("#id").val("0");
                $("input", $("#txtCODE").next("span")).removeAttr("readonly");
                $("#gridTable").jqGrid("clearGridData");
                refreshCallerData();
                break;
            case "copy":
                $("#id").val("0");
                $("input", $("#txtCODE").next("span")).removeAttr("readonly");
                $("#txtCODE").textbox('setValue', '');
                refreshCallerData();
                break;
        }
    }

    function refreshCallerData() {
        if (callerType == Global_Constant.Global_Constant_CallerType_Dialog) {
            //此callerId此时为dialog的id
            getDialog(callerId).refreshCallerData_ZdCus(callbackFlag);
        }
        else {
            //此callerId此时为frame的id
            getCurrentTab(callerId).refreshCallerData_ZdCus(callbackFlag);
        }
    }

    function loadDetail() {
        showLoading();
        var cr_cusVO = {};
        //cr_cusVO.code = code;
        cr_cusVO.id = id;
        var serverUrl = "../../jcda/carrier/getDetail?t="+ Math.random();
        $.ajax({
            type : "POST",
            url : serverUrl,
            data : JSON.stringify(cr_cusVO),
            contentType : 'application/json;charset=utf-8', // 设置请求头信息
            success : function(dataObj) {
                if (isServerResultDataPass(dataObj)) {
                    myDisabled($("#code"))
                    $("#id").val(dataObj.resultDataFull.id);
                    $("#code").textbox('setValue', dataObj.resultDataFull.code);
                    $("#name").textbox('setValue', dataObj.resultDataFull.name);
                    $("#tax").textbox('setValue', dataObj.resultDataFull.tax);
                    $("#in_address").textbox('setValue', dataObj.resultDataFull.in_address);
                    $("#bank").textbox('setValue', dataObj.resultDataFull.bank);
                    $("#bank_no").textbox('setValue', dataObj.resultDataFull.bank_no);
                    $("#in_tel").textbox('setValue', dataObj.resultDataFull.in_tel);
                    $("#pri").textbox('setValue', dataObj.resultDataFull.pri);
                    $("#tax_rate").numberbox("setValue", dataObj.resultDataFull.tax_rate*100);
                    $("#city").textbox('setValue', dataObj.resultDataFull.city);
                    $("#address").textbox('setValue', dataObj.resultDataFull.address);
                    $("#type").combobox('setValue', dataObj.resultDataFull.type);
                    $("#status").textbox('setValue',window.statusList[dataObj.resultDataFull.status] );
                    $("#remark").val(dataObj.resultDataFull.remark);
                   // originalFormData = $('#addForm').serialize();
                } else {
                    FailResultDataToTip(dataObj);
                }
                hideLoading();
            },
        });
    }

</script>
</html>
