<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link type="text/css" rel="stylesheet" href="../../Resource/css/index/customLightBlue.css" />
<link type="text/css" rel="stylesheet" href="../../Resource/js/easyUI/themes/easyuiLightBlue.css" />
<link type="text/css" rel="stylesheet" href="../../Resource/js/jqueryUI/theme/jqgridLightBlue/jquery-ui-1.10.4.custom.css" />

</head>
<body>
	<div id="easyui-tabs" class="easyui-tabs" data-options="tabPosition:'top',fit:true,headerWidth:80,tabWidth:80">
		<div
			data-locale-title="NON_HT_CARRIER_LIST"
			style="padding: 0px;"
			data-options="tabWidth:125">
			<iframe
				scrolling="auto"
				name='Non_Ht_Carrier_List'
				frameborder="0"
				src=""
				style="width: 100%; height: calc(100% - 3px);">
	        </iframe>
		</div>
		<div
			data-locale-title="NON_HT_CARRIER_DETAIL"
			style="padding: 0px"
			data-options="tabWidth:125">
			<iframe
				scrolling="auto"
				name='Non_Ht_Carrier_Detail'
				frameborder="0"
				src=""
				style="width: 100%; height: calc(100% - 3px);">
	        </iframe>
		</div>
  </div>
<script type="text/javascript" src="../../Resource/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery.i18n.properties.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../../Resource/js/base/commonControl.js"></script>
<script type="text/javascript">
		
	$(function(){
		$(".easyui-tabs").tabs({
		    onSelect:function(title,index){
                if(window.frames[index].setGridHeightWidth){
                    //iframe嵌套存在问题，切换界面后，jqgrid表格变形了，手动调整下
                    setTimeout(window.frames[index].setGridHeightWidth, 50);
                }
		    }
		});

        var parms = getUrlParms();
		$("iframe:eq("+0+")").attr("src", "Non_Ht_Carrier_List.html");
	});

    function onIframeSelect(sheet_no){
        $(".easyui-tabs").tabs("select", 1);
        if(sheet_no){
            if(window.frames[1].loadDetail){
                window.frames[1].loadDetail({
                    sheet_no: sheet_no
                });
            }else{
                $("iframe:eq("+1+")").attr("src", "Non_Ht_Carrier_Detail.html?sheet_no="+sheet_no);
            }
        }else{
            if(window.frames[1].add_after){
                window.frames[1].add_after();
            }else{
                $("iframe:eq("+1+")").attr("src", "Non_Ht_Carrier_Detail.html");
			}
        }
    };

</script>
</body>
</html>