@charset "utf-8";
/* CSS Document */
body{font-family:'微软雅黑'; font-size:12px; color:#484848;margin:0 auto;width: 100%; height:100%;overflow:hidden; background-color:White;}
ul{display:block;margin:0;padding:0;list-style:none;}
li{display:block;margin:0;padding:0;list-style: none;}
img{border:0;vertical-align:middle;cursor:pointer;}
a,a:focus{text-decoration:none;color:#000;outline:none;blr:expression(this.onFocus=this.blur());}
a:hover{color:#00a4ac;text-decoration:none;}
table{border-collapse:collapse;border-spacing: 0;}
cite{font-style:normal;}
h2{font-weight:normal;}
.block{display:block;}
.none{display:none;}

/*top.html*/
.header{height:88px;}
.topBox{ width: 100%;background-color: #02c5bb;height:60px;}
.topleft{float:left; width:300px;height:60px;display: table;}
.topleft a{display: table-cell; width: 44px;height: 44px;text-align: left;vertical-align: middle;}
.topleft a img{width:auto;height: 40px;margin-left: 8px; }
.topleft span{display: table-cell; font-size:18px; color: #D9D9D9;font-weight: bold;text-align: left; padding-left:8px; vertical-align: middle;}
.topright{height:44px;float:right; padding-right:5px;overflow:hidden;font-size:13px; }
.topright ul{float:right; height:44px;color: #999999;}
.topright ul li{float:left;height:44px; line-height:44px; padding-left:9px; padding-right:9px; }
.topright ul li.user{float:left;height:44px;background-color: #1dccc3; line-height:44px; padding-left:9px; padding-right:9px; }
.topright ul li:hover{color:#fff;background-color: #333333;cursor: pointer;}
.themeMore{display: none;overflow:hidden;cursor: default; padding-top:14px;height:14px; }
.themeItem{float: left;cursor: pointer;  margin-left: 3px;display: block; width: 12px; height: 12px; margin-right: 8px;  border: 1px solid #999999;}
.themeActive{float: left;cursor: pointer;  margin-left: 3px;display: block; width: 12px; height: 12px; margin-right: 8px;  border: 1px solid white;}
.userInfo{margin-top: 7px; margin-right:7px; cursor: pointer; float: left;}
.userInfo .userInfoHeadPic{float: left; width: 30px; height: 30px; overflow: hidden; -moz-border-radius: 50%;-webkit-border-radius: 50%; border-radius: 50%;}
.userInfo .userInfoHeadPic img{width: 34px; height: 34px; margin-top: -2px;margin-left: -2px;}
.userInfo .userInfoName{float: left; height: 30px; margin-left: 5px;}
.userInfo .userInfoName span{color: #999999; line-height: 30px;}
.userSet{ cursor: pointer;display: table-cell;vertical-align: middle;text-align: center;height: 44px;}
.userSet img{ width:20px; height:20px;}

/*left.html*/
.lefttop{display: table; height:30px;width: 200px; background-color: #3D3D3D;color:#fff;line-height:30px;}
.lefttop span{text-align: left;display: table-cell;font-size:14px; padding-left:23px;}
.lefttop span input{ width:130px;height:28px;color: #A9A9A9; border: 0px;background-color: #3D3D3D;outline: none;  }
.lefttop div{text-align: right;height: 30px;  padding-right:8px;display:table-cell;text-align: center;vertical-align:middle;}
.leftmenu1{ margin-top:0px;font-size:12px; width:200px;color: #D9D9D9; padding-bottom: 9999px;margin-bottom: -9999px;height: 100%; overflow:hidden;background-color: #3D3D3D; }
/*****/
.menuson {line-height:30px; font-weight:bold; }
.parentmodule{cursor:pointer;border-top: 1px solid #484848;display:table; height:32px;width:200px;}
.parentmodule div{display:table-cell;text-align: right;vertical-align: middle; width:43px;padding-right:4px;  }
.parentmodule div img{ width:20px; height:20px;}
.parentmodule span{display:table-cell;text-align: left;vertical-align: middle; padding-left:4px;}
.parentmodule i{display:table-cell; width:13px; background:url(../../images/index/pre.gif) no-repeat left;}
.parentmodule cite{display:table-cell;width:13px; background:url(../../images/index/sj.png) no-repeat right;visibility: hidden;}
.parentmodule:hover{cursor:pointer;background-color: #2F2F2F; border-top: 1px solid #484848;display:table; height:32px;width:200px;}
/*****/
.childmodule {line-height:26px; font-weight:bold; display:none; }
.childmodule li{cursor:pointer;border-top: 0;display:table; height:26px;width:200px; }
.childmodule li div{display:table-cell;text-align: right;vertical-align: middle; width:56px;padding-right:4px;  }
.childmodule li div img{ width:16px; height:16px;}
.childmodule li span{display:table-cell;text-align: left;vertical-align: middle; padding-left:4px;color: #BDBDBD;}
.childmodule li:hover{cursor:pointer;background-color: #474747; display:table; height:26px;width:200px;}
/***鼠标点击后**/
.childmodule .childLi{background-color: #D64635;cursor:pointer;border-top: 0;display:table; height:26px;width:200px;}
.childmodule .childLi div{display:table-cell;text-align: right;vertical-align: middle; width:56px;padding-right:4px;  }
.childmodule .childLi div img{ width:16px; height:16px;}
.childmodule .childLi span{display:table-cell;text-align: left;vertical-align: middle; padding-left:4px;color: #BDBDBD;}
.childmodule .childLi:hover{cursor:pointer;background-color: #D64635; display:table; height:26px;width:200px;}
/*****/
.parentmoduleChoose{cursor:pointer;border-top: 1px solid #484848;display:table; height:32px;width:200px;background-color: #474747;}
.parentmoduleChoose div{display:table-cell;text-align: right;vertical-align: middle; width:43px;padding-right:4px;  }
.parentmoduleChoose div img{ width:20px; height:20px;}
.parentmoduleChoose span{display:table-cell;text-align: left;vertical-align: middle; padding-left:4px;}
.parentmoduleChoose i{display:table-cell; width:13px; background:url(../../images/index/pre.gif) no-repeat left;-moz-transform:rotate(-90deg); 
-webkit-transform:rotate(-90deg);
transform:rotate(-90deg);
filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);}
.parentmoduleChoose cite{display:table-cell;width:13px; background:url(../../images/index/sj.png) no-repeat right;visibility: visible;}
.parentmoduleChoose:hover{cursor:pointer;background-color: #474747; border-top: 1px solid #484848;display:table; height:32px;width:200px;}

/*right.html*/
.place{height:37px; background:url(../../images/index/righttop.gif) repeat-x bottom;overflow:hidden;}
.place span{line-height:37px; font-weight:bold;float:left; margin-left:12px;}
.placeul li{float:left; line-height:37px; padding-left:7px; padding-right:12px; background:url(../../images/index/rlist.gif) no-repeat right;}
.placeul li:last-child{background:none;}
.rightinfo{padding:8px;}
.tools{clear:both; height:35px; margin-bottom:8px;}
.toolbar{float:left;}
.toolbar li{background:url(../../images/index/toolbg.gif) repeat-x; line-height:33px; height:33px; border:solid 1px #d3dbde; float:left; padding-right:10px; margin-right:5px;border-radius: 3px;  cursor:pointer;}
.toolbar li span{float:left; margin-left:10px; margin-right:5px; margin-top:5px;}
.toolbar1{float:right;}
.toolbar1 li{background:url(../../images/index/toolbg.gif) repeat-x; line-height:33px; height:33px; border:solid 1px #d3dbde; float:left; padding-right:10px; margin-left:5px;border-radius: 3px;  }
.toolbar1 li span{float:left; margin-left:10px; margin-right:5px; margin-top:5px;}
.tablelist{border:solid 1px #cbcbcb; width:100%; clear:both;}
.tablelist th{background:url(../../images/index/th.gif) repeat-x; height:34px; line-height:34px; border-bottom:solid 1px #b6cad2; text-indent:11px; text-align:left;}
.tablelist td{line-height:35px; text-indent:11px; border-right: dotted 1px #c7c7c7;}
.tablelink{color:#056dae;}
.tablelist tbody tr.odd{background:#f5f8fa;}
.tablelist tbody tr:hover{background:#e5ebee;}
.sort{padding-left:3px;}

/*tab*/
.usual{ background-color: white;}
.itab{width:100%; height:30px;background-color: #fff; border-bottom:solid 1px #474747; position:relative; /*border-left:solid 1px #d3dbde;*/ overflow:visible; }
.itab ul li{float:left;height:30px; line-height:30px;background-color: #fff;  border-right:solid 1px #5B5B5B; }
.itab ul li.liselected{height:31px; background-color:#474747;}
.itab ul li a{font-size:14px; color:#5B5B5B;display:block; padding-left:25px; padding-right:25px;font-weight:bold;} /* display:block; */
.itab ul li a.selected{  height:25px; line-height:25px; color:white; padding-left:25px; padding-right:25px;display:block;border-top: 4px solid #D64635; font-weight:bold;}
.itab ul li a.hovered{  height:26px; line-height:25px;background-color:#474747; color:white; padding-left:25px; padding-right:25px;display:block;border-top: 4px solid #D64635; font-weight:bold;}
.tabson{margin:0px;padding:5px;width: 100%;background-color:white;}/*{margin:8px 0px;padding:0 5px;}*/
.TabCloseBg{float:right;width:14px;height:31px;font-size:12px;color: #D9D9D9;font-weight: bold;}
.TabCloseBg:hover{ color: #D64635;cursor: pointer;}


/*右侧index页面最大化后样式*/        
#verticalMenuBar{float: left;width: 45px;z-index: 1;display: none;margin-top: 0;background-color: #3D3D3D;}
#verticalMenuBar .toggle{position: absolute;top: 8px;left: 17px;}
#verticalMenuBar .toggle img{}
#verticalMenuBar .shortCutPanel{margin-top: 30px;position: relative;z-index: 10;}
#verticalMenuBar .shortCutPanel ul{list-style: none;margin: 0px;overflow: hidden;padding: 0;width: 45px;}
#verticalMenuBar .shortCutPanel ul li{height: 40px;width: 45px;z-index: 101;position: absolute;left: 0;background-color: #3D3D3D;margin-left: auto;margin-right: auto;padding: 0;margin-top: 10px;border-top: 1px solid #484848;}
#verticalMenuBar .shortCutPanel ul li img{width: 20px;height: 20px;z-index: 105;position: absolute;margin: 10px;cursor: pointer;}
#verticalMenuBar .shortCutPanel ul li .hoverImg{line-height: 36px;display: none;width: 200px;z-index: 1;height: 40px;background-color: #3D3D3D;position: absolute;left: 0;top: 0;}
#verticalMenuBar .shortCutPanel ul li .hoverImg span{color: #D9D9D9;margin-left: 60px;display: inline;line-height: 40px;font-size:13px;font-weight: bold;}
/*编辑table样式*/
.editTable{width: 97%;margin-top: 10px;margin-left: auto;margin-right: auto;}
.editTable td{padding: 6px 4px;border: 1px solid #EEEEEE;}
.editTable .editTitle{text-align: right;background-color: #F6F6F6;}
.editTable .editControl{text-align: left;vertical-align:middle;}
.editTable .editRequiredControl{color: #497FAE;text-align: left;vertical-align:middle;}
.editTable .editRequiredTitle{color: #F05154;text-align: right;background-color: #F6F6F6;}
.cont-box .cont-bd .bd-right-bottom p.editRequiredTitle2,.editRequiredTitle2{color: #F05154;}
.editTable label{height: 13px;vertical-align: middle;}
.editTable table input{width:200px;}
.editTable input[readonly="readonly"]{ background-color:#f5f5f4;}
.editTable input[type="radio"],
.editTable input[type="checkbox"]{position: absolute;display: none;}
.editTable input[type="radio"][disabled],
.editTable input[type="checkbox"][disabled]{cursor: not-allowed;}
.editTable input[type="radio"] + label,
.editTable input[type="checkbox"] + label{position: relative;padding-left: 20px;cursor: pointer;vertical-align: middle;}
.editTable input[type="radio"] + label:hover:before, .editTable input[type="checkbox"] + label:hover:before{animation-duration: 0.4s;animation-fill-mode: both;animation-name: hover-color;}
.editTable input[type="radio"]+ label:before, .editTable input[type="checkbox"] + label:before{position: absolute;top: 0;left: 0;display: inline-block;width: 12px;height: 12px;content: '';border: 1px solid #c0c0c0;}
.editTable input[type="radio"] + label:after, .editTable input[type="checkbox"] + label:after{position: absolute;display: none;content: '';}
.editTable input[type="radio"][disabled] + label,
.editTable input[type="checkbox"][disabled] + label{cursor: not-allowed;color: #e4e4e4;}
.editTable input[type="radio"][disabled] + label:hover, .magic-radio[disabled] + label:before, .magic-radio[disabled] + label:after, .magic-checkbox[disabled] + label:hover, .magic-checkbox[disabled] + label:before, .magic-checkbox[disabled] + label:after{cursor: not-allowed;}
.editTable input[type="radio"][disabled] + label:hover:before, .editTable input[type="checkbox"][disabled] + label:hover:before{border: 1px solid #e4e4e4;animation-name: none;}
.editTable input[type="radio"][disabled] + label:before, .editTable input[type="checkbox"][disabled] + label:before{border-color: #e4e4e4;}
.editTable input[type="radio"]:checked + label:before,
.editTable input[type="checkbox"]:checked + label:before{animation-name: none;}
.editTable input[type="radio"]:checked + label:after,
.editTable input[type="checkbox"]:checked + label:after{display: block;}
.editTable input[type="radio"] + label:before{border-radius: 50%;}
.editTable input[type="radio"] + label:after{top: 3px;left: 3px;width: 8px;height: 8px;border-radius: 50%;background: #888;}
.editTable input[type="radio"]:checked + label:before{border: 1px solid #888;}
.editTable input[type="radio"]:checked[disabled] + label:before{border: 1px solid #c9e2f9;}
.editTable input[type="radio"]:checked[disabled] + label:after{background: #c9e2f9;}
.editTable input[type="checkbox"] + label:before{border-radius: 3px;}
.editTable input[type="checkbox"] + label:after{top: 0px;left: 5px;box-sizing: border-box;width: 4px;height:9px;transform: rotate(45deg);border-width: 2px;border-style: solid;border-color: #fff;border-top: 0;border-left: 0;}
.editTable input[type="checkbox"]:checked + label:before{border: #3e97eb;background: #888;}
.editTable input[type="checkbox"]:checked[disabled] + label:before{border: #c9e2f9;background: #c9e2f9;}
/*自定义查询参数div容器样式*/
.searchParamesPanel{position: relative; padding: 5px;}
.searchParamesPanel .toggleLinkDown{position: absolute;display: block; z-index:999; width: 25px;height: 25px;right: 15px;background-image: url('../../images/index/down.gif');background-position: center;background-repeat: no-repeat;}
.searchParamesPanel .toggleLinkTop{position: absolute;display: block; z-index:999; width: 25px;height: 25px;right: 15px;background-image: url('../../images/index/top.gif');background-position: center;background-repeat: no-repeat;}
.searchParamesPanel table{height: 30px;}
.searchParamesPanel table .searchParamesTrShow{height: 30px;}
.searchParamesPanel table .searchParamesTrHide{height: 30px;display: none;}
.searchParamesPanel table tr .searchParamesTdTitle{text-align: right;padding-left:8px;}
.searchParamesPanel table tr .searchParamesTdControl{text-align: left;padding-left:8px;}
.searchParamesPanel table input[type=text]{width:120px;}
.searchParamesPanel table label{height: 15px;vertical-align: middle;}
.searchParamesPanel input[type="radio"],
.searchParamesPanel input[type="checkbox"]{position: absolute;display: none;}
.searchParamesPanel input[type="radio"][disabled],
.searchParamesPanel input[type="checkbox"][disabled]{cursor: not-allowed;}
.searchParamesPanel input[type="radio"] + label,
.searchParamesPanel input[type="checkbox"] + label{position: relative;padding-left: 20px;cursor: pointer;vertical-align: middle;}
.searchParamesPanel input[type="radio"] + label:hover:before, .searchParamesPanel input[type="checkbox"] + label:hover:before{animation-duration: 0.4s;animation-fill-mode: both;animation-name: hover-color;}
.searchParamesPanel input[type="radio"]+ label:before, .searchParamesPanel input[type="checkbox"] + label:before{position: absolute;top: 0;left: 0;display: inline-block;width: 12px;height: 12px;content: '';border: 1px solid #c0c0c0;}
.searchParamesPanel input[type="radio"] + label:after, .searchParamesPanel input[type="checkbox"] + label:after{position: absolute;display: none;content: '';}
.searchParamesPanel input[type="radio"][disabled] + label,
.searchParamesPanel input[type="checkbox"][disabled] + label{cursor: not-allowed;color: #e4e4e4;}
.searchParamesPanel input[type="radio"][disabled] + label:hover, .magic-radio[disabled] + label:before, .magic-radio[disabled] + label:after, .magic-checkbox[disabled] + label:hover, .magic-checkbox[disabled] + label:before, .magic-checkbox[disabled] + label:after{cursor: not-allowed;}
.searchParamesPanel input[type="radio"][disabled] + label:hover:before, .searchParamesPanel input[type="checkbox"][disabled] + label:hover:before{border: 1px solid #e4e4e4;animation-name: none;}
.searchParamesPanel input[type="radio"][disabled] + label:before, .searchParamesPanel input[type="checkbox"][disabled] + label:before{border-color: #e4e4e4;}
.searchParamesPanel input[type="radio"]:checked + label:before,
.searchParamesPanel input[type="checkbox"]:checked + label:before{animation-name: none;}
.searchParamesPanel input[type="radio"]:checked + label:after,
.searchParamesPanel input[type="checkbox"]:checked + label:after{display: block;}
.searchParamesPanel input[type="radio"] + label:before{border-radius: 50%;}
.searchParamesPanel input[type="radio"] + label:after{top: 3px;left: 3px;width: 8px;height: 8px;border-radius: 50%;background: #888;}
.searchParamesPanel input[type="radio"]:checked + label:before{border: 1px solid #888;}
.searchParamesPanel input[type="radio"]:checked[disabled] + label:before{border: 1px solid #c9e2f9;}
.searchParamesPanel input[type="radio"]:checked[disabled] + label:after{background: #c9e2f9;}
.searchParamesPanel input[type="checkbox"] + label:before{border-radius: 3px;}
.searchParamesPanel input[type="checkbox"] + label:after{top: 0px;left: 5px;box-sizing: border-box;width: 4px;height:9px;transform: rotate(45deg);border-width: 2px;border-style: solid;border-color: #fff;border-top: 0;border-left: 0;}
.searchParamesPanel input[type="checkbox"]:checked + label:before{border: #3e97eb;background: #888;}
.searchParamesPanel input[type="checkbox"]:checked[disabled] + label:before{border: #c9e2f9;background: #c9e2f9;}

/*jqgrid的扩展样式类*/
.gridDetailTable{font-size: 12px;font-family: 微软雅黑;color: DimGray;width:700px;}
.gridDetailTable .gridDetailTitle{font-weight: bold;}
.gridDetailTable .gridDetailContent{font-size: 10px;color: Gray;}
.gridSpacingClass{background-color: #F5F5F5;background-image: none;}
.gridAddPicLink{height: 23px;width: 23px;color: blue;text-decoration: none;display: block;background: url('../../images/icons/add.gif') no-repeat center;}
.gridEditPicLink{height: 23px;width: 23px;color: blue;text-decoration: none;display: block;background: url('../../images/icons/edit.gif') no-repeat center;}
.gridViewPicLink{height: 23px;width: 23px;color: blue;text-decoration: none;display: block;background: url('../../images/icons/view.gif') no-repeat center;}
.gridDeletePicLink{height: 23px;width: 23px;color: blue;text-decoration: none;display: block;background: url('../../images/icons/close.gif') no-repeat center;}
.gridTruePicLink{height: 23px;width: 23px;color: blue;text-decoration: none;display: block;background: url('../../images/icons/true.gif') no-repeat center;}
.gridHighLightLink{text-decoration: none;color: Blue;}
 .gridWarningPicLink
        {
            height: 16px;
            width: 16px;
            color: blue;
            text-decoration: none;
            display: block;
            background: url('../../images/icons/warning.gif') no-repeat center;
        }
.gridHighLightSpan1{font-width: bold;font-size: 12px;color: Crimson;}
.gridHighLightSpan2{font-width: bold;font-size: 12px;color: SteelBlue;}
.gridHighLightSpan3{font-width: bold;font-size: 12px;color: OliveDrab;}
.gridHighLightSpan4{font-width: bold;font-size: 12px;color: OrangeRed;}
.gridHighLightSpan5{font-width: bold;font-size: 12px;color: DarkRed;}
.gridPicLinkNormal{width:25px;height:25px;cursor:pointer;}

/*个性化配置样式*/
.themeBox{display: block;overflow:hidden;cursor: default;  }
.themeBox .themeEach{cursor: pointer;margin: 5px; display: block;float: left; width: 13px; height: 13px; border: 1px solid white;}
.themeBox .themeEachActive{cursor: pointer;margin: 5px; display: block;float: left;width: 12px; height: 12px; border: 2px solid #D64635;}

/*type=file上传样式*/
.a-upload{padding: 4px 10px;height: 20px;line-height: 20px;position: relative;cursor: pointer;color: #888;background: #fafafa;border: 1px solid #ddd;border-radius: 4px;overflow: hidden;display: inline-block;*display: inline;*zoom: 1}
.a-upload input{position: absolute;font-size: 100px;right: 0;top: 0;opacity: 0;filter: alpha(opacity=0);cursor: pointer}
.a-upload:hover{color: #444;background: #eee;border-color: #ccc;text-decoration: none}

/*文本框样式*/
.textboxDefault{width: 150px;border: 1px solid #DDDDDD;outline:0;height: 18px;}
.textboxBottomline{width: 150px;border: 0;border-bottom: 1px solid #DDDDDD;outline:0;}

/*功能分割样式*/
.splitBox{display: table;width: 100%;height:30px;}
.splitBox .splitTitle{display: table-cell;cursor:pointer; text-align:center;width: 90px;font-size: 14px;font-weight: bold; color:#fff; background-color:#F05154; vertical-align: middle;}
.splitBox .splitHr{display: table-cell;text-align: left;vertical-align: middle;}
.splitBox .splitHr hr{height: 1px;border: none;border-top: 1px dotted #F05154;}
.splitBox .splitRemark{display: table-cell;font-size: 14px;color: #F05154; text-align: right; width: 130px; vertical-align: middle; font-weight:bold;}

/*自定义的按钮*/
.extendButton_Default{outline: 0; border:0;font-weight: bold;padding: 5px 10px;background-color: #888;cursor: pointer;color: white;font-size: 14px;vertical-align: middle;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;cursor:pointer;}
.extendButton_Default:hover{background-color: #444;}
.extendButton_Red{outline: 0;font-weight: bold;padding: 5px 10px;background-color: #E54447;cursor: pointer;color: white;font-size: 14px;vertical-align: middle;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;cursor:pointer;}
.extendButton_Red:hover{background-color: #F05154;}
.extendButton_Gray{outline: 0;font-weight: bold;padding: 5px 10px;background-color: #CCCCCC;cursor: pointer;color: white;font-size: 14px;vertical-align: middle;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}
.extendButton_Gray:hover{background-color: #ecebea;}

/*预览图片样式*/
.viewButton{height: 18px;width: 18px;background-image: url('../../images/icons/photograph.gif');background-position: center;background-repeat: no-repeat;background-size: cover;display: block;float:left;cursor: pointer;}
.uploadLink{color: #669933;font-style: normal;cursor: pointer;font-weight:bold;}
.viewBox{position: absolute;display: none;left: 50%;top: 50%;width: 300px;height: 300px;margin-left: -150px;margin-top: -150px;}
.closeViewBox{position: absolute;top: 10px;right: 10px;height: 20px;width: 20px;background-image: url('../../images/index/close2.png');background-position: center;background-repeat: no-repeat;background-size: cover;cursor: pointer;}
.viewImg{cursor: pointer;}

/*自定义grid样式*/
.defaultTable{width: 100%;}
.defaultTable tr{height: 40px;border: 1px solid #DDDDDD;}
.defaultTable tr td{text-align: left;vertical-align: middle;padding: 5px;}
.defaultHeavyTr{background-color: #eee;}
.defaultTable tr:hover{background-color: #eee;}

/*通用主题色*/
.defaultBackgroundColor{background-color: #eee;}
.defaultBorderColor{background-color: #DDDDDD;}
.defaultColor{color: #444;}

/*上下左右箭头*/
.arrow-down{width: 0;height: 0;border-left: 8px solid transparent;border-right: 8px solid transparent;border-top: 8px solid #1F1F1F;font-size: 0;line-height: 0;}
.arrow-down:hover{border-top: 8px solid #E54447;}
.arrow-up{width: 0;height: 0;border-left: 8px solid transparent;border-right: 8px solid transparent;border-bottom: 8px solid #1F1F1F;font-size: 0;line-height: 0;}
.arrow-up:hover{border-bottom: 8px solid #E54447;}
.arrow-left{width: 0;height: 0;border-bottom: 8px solid transparent;border-top: 8px solid transparent;border-right: 8px solid #1F1F1F;font-size: 0;line-height: 0;}
.arrow-left:hover{border-right: 8px solid #E54447;}
.arrow-right{width: 0;height: 0;border-bottom: 8px solid transparent;border-top: 8px solid transparent;border-left: 8px solid #1F1F1F;font-size: 0;line-height: 0;} 
.arrow-right:hover{border-left: 8px solid #E54447;}