
/*标签初始化*/
*{ font-family:宋体; font-size:12px; color:#333;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, img,button {margin: 0;padding: 0;border: none; } 
dl,dt,dd,ul,ol,li,p,select {list-style-type: none; margin:0; padding:0;}
em, cite, th,h1,h2,h3,h4,h5,h6 { font-style: normal; font-weight: normal;}
input,img{vertical-align:middle;  margin:0; padding:0;}
a{ text-decoration:none;}
.clearfix{clear:both;}
/*初始化完毕*/
	
#box{ width: 100%; height: 100%; /* background: #F0F9FD; */ }

.home-box{ width:1020px; }
.home-left{ float: left; width: 760px; background: #ffffff; margin-left: 20px; margin-top: 20px; border: 1px solid #d6d7dc;}
.home-right{ float: left; width: 200px; margin-top: 20px; margin-left: 20px; border: 1px solid #d6d7dc; background: #fff;}

.home-left-cont{ width: 740px; padding: 15px;}
.home-left-cont ul li{ float: left; width: 132px; height: 132px; margin: 5px; border: 2px solid #90cfeb; background: #90cfeb;}
.home-left-cont ul .cont-add{ background: #efefef; border: 2px solid #efefef;}
.home-left-cont ul li:hover{ background: #FFFFFF;}
.home-left-cont ul li a{ display: block; width: 100%; height: 100%;}
.home-left-cont ul li a img{ width: 72px; height: 72px; margin: 0 30px ; margin-top: 20px;}
.home-left-cont ul li a p{ color: #4c4c4c; font-family: "微软雅黑"; font-size: 14px; text-align: center; margin-top: 10px;}

.home-his{ /* width: 100%; */ margin: 15px; }
.home-his-tit{ /* width:100%; */ height: 24px; margin: 0 5px; line-height:24px; border-bottom: 1px solid #d6d7dc;}
.home-his-tit h6{ float: left; font-size: 14px; font-family: "微软雅黑";}
.home-his-tit a{ float: right; font-size: 12px; font-family: "微软雅黑"; color: #5eb1d5; text-decoration: underline;}
.home-his ul{ }
.home-his ul li{ float: left; width: 94px; height: 90px; background: #EFEFEF; margin: 12px 5px;}
.home-his ul li:hover{ background: #f0c99a;}
.home-his ul li a{ width: 100%; height: 100%;}
.home-his ul li a img{ width: 48px; margin: 10px 22px;}
.home-his ul li a p{ font-size: 12; color: #666; text-align: center; }



.home-right-tit{ width: 100%; height: 40px; background-color: #fafafa; border-bottom: 1px solid #dedede;}
.home-right-tit span{ float: left; display: block; width: 3px; height: 14px; background: #ff7555; margin-left: 10px; margin-top: 13px; margin-right: 8px;}
.home-right-tit h6{ float: left; line-height: 40px; color: #333; font-family: "微软雅黑"; font-size: 14px;}
.home-right ul li{ width: 200px; height: 120px; background: url(../../images/index/line-home.png) no-repeat bottom;}
.home-right ul .bottom{ width: 200px; height: 120px; background:none;}
.home-right ul li:hover{ background: #90cfeb;}
.home-right ul li a{ display: block; width: 100%; height: 100%;}
.home-right ul li a img{ width: 48px; margin: 0 76px; margin-top: 20px;}
.home-right ul li a p{ font-size: 14px; line-height: 40px; text-align: center; color: #666; font-family: "微软雅黑";}
