<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link id="CustomTheme" type="text/css" rel="stylesheet" href="../../Resource/css/index/customLightBlue.css" />
    <link id="EasyuiTheme" type="text/css" rel="stylesheet" href="../../Resource/js/easyUI/themes/easyuiLightBlue.css" />
    <link id="JqgridTheme" type="text/css" rel="stylesheet" href="../../Resource/js/jqueryUI/theme/jqgridLightBlue/jquery-ui-1.10.4.custom.css" />
    <link type="text/css" rel="stylesheet" href="../../Resource/js/easyUI/themes/icon.css" />
    <link type="text/css" rel="stylesheet" href="../../Resource/js/jqueryUI/theme/ui.jqgrid.css" />
    <link type="text/css" rel="stylesheet" href="../../Resource/js/moment/css/daterangepicker.css" />
    <title>收入管理</title>
</head>
<body>
<div id="toolbar" class="easyui-panel" style="padding:4px;border-width:0;border-bottom-width:1px;">
    #{PAGE_TOOLBAR_BUTTONROLE}
</div>
<div class="searchParamesPanel">
    <table id="searchParamesTable">
        <tr class="searchParamesTrShow">
            <td class="searchParamesTdControl">
                <input type="text" id="common_sheet_title" class="easyui-textbox" style="width: 240px" />
            </td>
            <td width="20px;"></td>
            <td class="searchParamesTdTitle">
                收款时间:
            </td>
            <td class="searchParamesTdControl">
                <input type="text" name="begin_date" id="begin_date" class="easyui-datebox" editable="false" style="width: 90px" />
            </td>
            <td class="searchParamesTdTitle">
                -
            </td>
            <td class="searchParamesTdControl">
                <input type="text" name="end_date" id="end_date" class="easyui-datebox" editable="false" style="width: 90px" />
            </td>
            <td width="20px;"></td>
            <td class="searchParamesTdTitle">
                收款人:
            </td>
            <td class="searchParamesTdControl">
                <input type="text" id="handler" class="easyui-combobox" data-options="multiple:true"/>
            </td>
            <td width="20px;"></td>
            <td class="searchParamesTdTitle">
                钱款状态:
            </td>
            <td class="searchParamesTdControl">
                <input type="text" id="state" class="easyui-combobox"/>
            </td>
        </tr>
    </table>
</div>
<div id="gridControl">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
<form id="formExportFile" class="formExportFile" target="_blank" action="../../tzgl/LedgerController/exportExcel" method="post" style="display: none">
    <input type="text" id="sheet_no" name="sheet_no" value="" />
</form>
<script type="text/javascript" src="../../Resource/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery.i18n.properties.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../../Resource/js/base/commonControl.js"></script>
<script type="text/javascript" src="../../Resource/js/base/globalVariable.js"></script>
<script type="text/javascript" src="../../Resource/js/base/commonBusiness.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/i18n/grid.locale-cn.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/plugins/grid.setcolumns.js"></script>
<script type="text/javascript" src="../../Resource/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="../../Resource/js/moment/js/moment.min.js"></script>
<script type="text/javascript" src="../../Resource/js/moment/js/jquery.daterangepicker.js"></script>
<script language="javascript" type="text/javascript">
    var moduleId = 0;
    $(function() {
        var parms = getUrlParms();
        moduleId = parms["moduleId"];
        initScript();
        initData();
        initStyle();
    });

    $(window).load(function() {
        hideLoading();
    });

    var initStyle = function() {
        enterTriggerEvent('searchParamesTable', 'searchData');
    };

    var initScript = function() {
        $("#common_sheet_title").textbox({
            prompt: $.i18n.prop("COMMON_SHEET_TITLE")
        });

        $(window).resize(function() {
            setGridHeightWidth();
            setToolbarHeightWidth();
        });
    };

    // 加载数据
    var initData = function() {
        getDictionaryData([{
        //初始化出售人
        dicTypeCode : Global_DicType.MeetPeople,
        ADD_ALL: true,
        callback : function(callbackData) {
            window.docking_manMap = {};
            $("#handler").combobox({
                valueField: 'dicvalue',
                textField: 'dictext',
                panelHeight: 200,
                panelWidth: 250,
                editable: true,
                onLoadSuccess: defaultSelect,
                labelSeparator:',',
                displaySeparator:',',
                valueSeparator:',',
                onSelect : comboChange,
                onUnselect : comboChange,
                onChange : function() {
                    var vals = $(this).combobox("getValues");
                    var datas = $(this).combobox("getData");
                    for (var i = 0; i < vals.length; i++) {
                        if (vals[i] == "") {
                            return;
                        }
                    }
                    for (var i = 0; i < vals.length; i++) {
                        if (isInArray(datas, vals[i])) {
                            /*  searchData(); */
                            break;
                        }
                    }
                }
            });
            $("#handler").combobox("loadData", callbackData);
        }
    },{
        //初始化状态
        dicTypeCode : Global_DicType.InComeState,
        ADD_ALL: true,
        callback : function(callbackData) {
            $("#state").combobox({
                valueField: 'dicvalue',
                textField: 'dictext',
                panelHeight: 100,
                //panelWidth: 250,
                editable: true,
                onSelect:function(record){
                    searchData();
                }
            });
            $("#state").combobox("loadData", callbackData);
        }
    }]);
        loadList();// 加载数据列表
    };

    // 查询数据
    function searchData() {
        $('#gridTable').jqGrid('setGridParam', {
            url: getSearchGridUrl(),
            datatype: 'json',
            postData: { 'filters': '' },
            page: 1
        }).trigger('reloadGrid');
    };

    // 获取查询URL
    var getSearchGridUrl = function() {
        var customSearchFilters = encodeURI(getSearchFilters());
        return '../../cpgl/BjInComeController/getListForGrid?' + Math.random() + '&customSearchFilters=' + customSearchFilters;
    };

    // 获取查询条件
    var getSearchFilters = function() {
        var parmsArray = [
            [
                { name: 'handler', value: $('#common_sheet_title').textbox('getValue'), op: 'cn' },
                { name: 'remark', value: $('#common_sheet_title').textbox('getValue'), op: 'cn' },
                { name: 'sheet_no', value: $('#common_sheet_title').textbox('getValue'), op: 'cn' }
            ],
            getMultipleComboVal($('#handler'),'handler'),
            { name: 'state', value: $('#state').combobox("getValue"), op: 'eq' },
            { name: '_d_amount_date', value: $('#begin_date').textbox('getValue'), op: 'ge' },
            { name: '_d_amount_date', value: $('#end_date').textbox('getValue'), op: 'le' }
        ];
        return formatSearchParames(parmsArray);
    };

    // 加载数据列表
    var loadList = function() {
        $('#gridTable').jqGrid({
            url: getSearchGridUrl(),
            datatype: 'json',
            width: 'none',
            colNames: [
                $.i18n.prop('ID'),
                $.i18n.prop('SHEET_NO'),
                $.i18n.prop('BATCH_NO'),
                $.i18n.prop('STATE'),
                $.i18n.prop('AMOUNT'),
                $.i18n.prop('HANDLER'),
                $.i18n.prop('AMOUNT_DATE'),
                $.i18n.prop('REMARK')
            ],
            colModel: [
                { name: 'id', index: 'id', align: 'center', sorttype: 'int', sortable: false, key: true, width: 40, hidden: true, search: false },
                { name: 'sheet_no', index: 'sheet_no', align: 'center', width: 100, type: 'string', search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] } },
                { name: 'batch_no', index: 'batch_no', align: 'center', width: 100, type: 'string', search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] } },
                { name: 'state', index: 'sheet_no', align: 'center', width: 100, type: 'string', search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] } },
                { name: 'amount', index: 'amount', align: 'right', width: 100, type: 'string', search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] }
                    ,formatter: function (value, grid, rows) {
                        return keepTwoPointData(rows.amount);
                    }},
                { name: 'handler', index: 'handler', align: 'center', width: 100, type: 'string', search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] } },
                { name: 'amount_date', index: '_d_amount_date', align: 'center', width: 150, search: true, type: 'string',
                    searchoptions: { sopt: ['ge'], dataEvents: [ { type: 'click', data: {}, fn: function() { WdatePicker(); } } ] }
                },
                { name: 'remark', index: 'remark', align: 'center', width: 350, type: 'string', search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] } }
            ],
            shrinkToFit: false,
            altRows: true,
            altclass: 'gridSpacingClass',
            forceFit: true,
            cellLayout: 0,
            scroll: false,
            autowidth: true,
            sortname: 'amount_date',
            sortorder: 'desc',
            loadonce: false,
            mtype: 'POST',
            viewrecords: true,
            rownumbers: true,
            multiselect: true,
            rowNum: 15,
            height: '100%',
            rowList: [15, 20, 30, 50],
            pager: '#gridPager',
            footerrow: true,
         //   gridComplete: completeMethod,
            jsonReader: {
                root: 'rows',
                total: 'total',
                page: 'page',
                records: 'records',
                repeatitems: false
            },
            gridComplete: function() {
                $('.cbox').shiftSelect();
                afterRedRow();
                completeMethod();
            },
            ondblClickRow: showChildModule,
            loadComplete: function(xhr) {
                FailResultDataToTip(xhr);
            }
        });
        $('#gridTable').jqGrid('navGrid', '#gridPager',{
            add : false,
            edit : false,
            del : false,
            refresh : true
        }, {}, {}, {}, {
            multipleSearch : true,
            closeOnEscape : true,
            closeAfterSearch : true
        });
        $('#gridTable').jqGrid('navButtonAdd', '#gridPager', {
            caption : $.i18n.prop('TOGGLE_GRID_COLUMNS'),
            title : 'Set Columns',
            onClickButton : toggleGridColumns
        });
        $('#gridTable').jqGrid('navButtonAdd', '#gridPager', {
            caption : $.i18n.prop('TOGGLE_GRID_SEARCH_TOOLBAR'),
            title : 'Quick Search',
            onClickButton : toggleGridSearchToolbar
        });
        $('#gridTable').jqGrid('navButtonAdd', '#gridPager', {
            caption: $.i18n.prop('EXPORT_TO_EXCEL'),// 导出数据
            title: 'Export Datas',
            buttonicon: 'ui-icon-disk',
            onClickButton: function () {
                ExportToExcel.call(this, {

                });
            }
        });
        /*setGridHeightWidth();*/
        setGridHeightWidth(0,150);
    };

    //jqGrid加载
    function afterRedRow() {
        var ids = $("#gridTable").jqGrid("getDataIDs");
        for (var i = 0; i < ids.length; i++) {
            var rowData = $("#gridTable").getRowData(ids[i]);
            if (rowData.state == '公司账户') {
                $('#gridTable #' + ids[i]).find("td").css('color', "#328b0a");
            }

            if (rowData.amount < 0) {
                $('#gridTable #' + ids[i]).find("td").css('color', "#ff1029");
            }
        }
    }

    /**双击打开明细*/
    function showChildModule(id) {
        var rowData = $("#gridTable").jqGrid('getRowData',id);
        openDetail(rowData.id);
    };

    function completeMethod(){
        var sum_amount=$("#gridTable").getCol('amount',false,'sum');
        $("#gridTable").footerData('set', { "state": '合计', amount: sum_amount });
    }

    /**新增*/
    function add() {
        openDetail("");
    }

    /**打开明细*/
    var openDetail = function (id) {
        showLoading();
        var href = "../View/cpgl/In_Come_Detail.html?moduleId=" + moduleId+"&id=" + id;
        openDialog({ title: "收入明细", id: 'Cost_Detail', width:500, height: 360, isResize: true, href: href, closable: true });
    }

    function update(){
        var selectRowItems = $("#gridTable").jqGrid("getGridParam", "selarrrow");
        if (selectRowItems.length == 0 || selectRowItems.length > 1) {
            errorNotification({
                SimpleMessage : "请选择一行数据行进行操作"
            });
            return;
        }
        showChildModule(selectRowItems[0]);
    }

    //导出
    function exportData() {
        var selectRowItems = $("#gridTable").jqGrid("getGridParam", "selarrrow");
        if (selectRowItems.length==0) {
            errorNotification({
                SimpleMessage : $.i18n.prop("selectLeastOneDataRowOperator")
            });
            return;
        }
        var data="";
        for (var i = 0; i < selectRowItems.length; i++) {
           var rowData = $("#gridTable").jqGrid('getRowData', selectRowItems[i]);
           data+=rowData.sheet_no+",";
        }
        $.messager.confirm($.i18n.prop("PROMPT"), $.i18n.prop("SURETODO"), function (r) {
            if (r) {
                $("#formExportFile #sheet_no").val(data);
                $("#formExportFile").submit();
            }
        });
    }

    /**批量删除*/
    function remove() {
        commonFunction();
    }

    //批量使用
    function commonFunction() {
        var url = "../../cpgl/BjInComeController/delete?t="+Math.random();
        var selectRowItems = $("#gridTable").jqGrid("getGridParam", "selarrrow");
        if (selectRowItems.length==0) {
            errorNotification({
                SimpleMessage : $.i18n.prop("selectLeastOneDataRowOperator")
            });
            return;
        }
        var list=[];
        var rowData = null;
        for (var i = 0; i < selectRowItems.length; i++) {
            rowData = $("#gridTable").jqGrid('getRowData', selectRowItems[i]);
            list.push({"id":rowData.id});
        }
        $.messager.confirm($.i18n.prop("PROMPT"), $.i18n.prop("SURETODO"), function (r) {
            if (r) {
                showLoading();
                $.ajax({
                    url : url,
                    data:JSON.stringify(list),
                    type:"POST",
                    contentType:'application/json; charset=utf-8',
                    success:function(dataObj){
                        if (isServerResultDataPass(dataObj)) {
                            correctNotification({ SimpleMessage:dataObj.resultDataFull.simpleMessage });
                            searchData();
                        } else {
                            FailResultDataToTip(dataObj);
                        }
                        hideLoading();
                    }
                });
            }
        });
    }

    function refreshCallerData() {
        searchData();
    }


    //钱款转入公账
    function toCompany() {
        var selectRowItems = $("#gridTable").jqGrid("getGridParam", "selarrrow");
        if (selectRowItems.length==0) {
            errorNotification({
                SimpleMessage : $.i18n.prop("selectLeastOneDataRowOperator")
            });
            return;
        }
        var list=[];
        var rowData = null;
        for (var i = 0; i < selectRowItems.length; i++) {
            rowData = $("#gridTable").jqGrid('getRowData', selectRowItems[i]);
            /*  if(rowData.state!='收账')  {

             } else {
                errorNotification({SimpleMessage: '该数据已收账，请勿重复操作'});
                 return;
             }*/
            list.push({"id":rowData.id});
        }
        $.messager.confirm($.i18n.prop("prompt"), $.i18n.prop("sureTodo"), function (r) {
            if (r) {
                showLoading();
                $.ajax({
                    url : "../../cpgl/BjInComeController/toCompany",
                    data:JSON.stringify(list),
                    type:"POST",
                    contentType:'application/json; charset=utf-8',
                    success:function(dataObj){
                        if (isServerResultDataPass(dataObj)) {
                            correctNotification({ SimpleMessage:dataObj.resultDataFull.simpleMessage });
                            searchData();
                        } else {
                            FailResultDataToTip(dataObj);
                        }
                        hideLoading();
                    }
                });
            }
        });
    }
</script>
</body>
</html>
