<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link id="CustomTheme" type="text/css" rel="stylesheet" href="../../Resource/css/index/customLightBlue.css" />
    <link id="EasyuiTheme" type="text/css" rel="stylesheet" href="../../Resource/js/easyUI/themes/easyuiLightBlue.css" />
    <link id="JqgridTheme" type="text/css" rel="stylesheet" href="../../Resource/js/jqueryUI/theme/jqgridLightBlue/jquery-ui-1.10.4.custom.css" />
    <link type="text/css" rel="stylesheet" href="../../Resource/js/easyUI/themes/icon.css" />
    <link type="text/css" rel="stylesheet" href="../../Resource/js/jqueryUI/theme/ui.jqgrid.css" />
    <link type="text/css" rel="stylesheet" href="../../Resource/js/moment/css/daterangepicker.css" />
    <title>拆件管理</title>
</head>
<body>
<div id="toolbar" class="easyui-panel" style="padding:4px;border-width:0;border-bottom-width:1px;">
    #{PAGE_TOOLBAR_BUTTONROLE}
</div>
<div class="searchParamesPanel">
    <table id="searchParamesTable">
        <tr class="searchParamesTrShow">
            <td class="searchParamesTdControl">
                <input type="text" id="common_sheet_title" class="easyui-textbox" style="width: 120px" />
            </td>
            <td width="20px;"></td>
            <td class="searchParamesTdTitle">
                拆件时间:
            </td>
            <td class="searchParamesTdControl">
                <input type="text" name="begin_date" id="begin_date" class="easyui-datebox" editable="false" style="width: 90px" />
            </td>
            <td class="searchParamesTdTitle">
                -
            </td>
            <td class="searchParamesTdControl">
                <input type="text" name="end_date" id="end_date" class="easyui-datebox" editable="false" style="width: 90px" />
            </td>
            <td width="20px;"></td>
            <td class="searchParamesTdTitle">
                状态:
            </td>
            <td class="searchParamesTdControl">
                <input type="text" id="state" class="easyui-combobox"/>
            </td>
            <td width="20px;"></td>
            <td class="searchParamesTdTitle">
                类型:
            </td>
            <td class="searchParamesTdControl">
                <input type="text" id="goods_type" class="easyui-combobox"/>
            </td>
            <td width="20px;"></td>
            <td class="searchParamesTdTitle">
                出售方式:
            </td>
            <td class="searchParamesTdControl">
                <input type="text" id="sell_mode" class="easyui-combobox"/>
            </td>
            <td width="20px;"></td>
            <td class="searchParamesTdTitle">
                出售人:
            </td>
            <td class="searchParamesTdControl">
                <input type="text" id="sold_by" class="easyui-combobox"/>
            </td>
            <td width="20px;"></td>
            <td class="searchParamesTdTitle">
                是否卖出:
            </td>
            <td class="searchParamesTdControl">
                <div id="divSold"></div>
            </td>
            <td width="20px;"></td>
            <td class="searchParamesTdTitle">
                是否包邮:
            </td>
            <td class="searchParamesTdControl">
                <div id="divFree_shipping"></div>
            </td>
        </tr>
    </table>
</div>
<div id="gridControl">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
<form id="formExportFile" class="formExportFile" target="_blank" action="../../tzgl/LedgerController/exportExcel" method="post" style="display: none">
    <input type="text" id="sheet_no" name="sheet_no" value="" />
</form>
<script type="text/javascript" src="../../Resource/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery.i18n.properties.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../../Resource/js/base/commonControl.js"></script>
<script type="text/javascript" src="../../Resource/js/base/globalVariable.js"></script>
<script type="text/javascript" src="../../Resource/js/base/commonBusiness.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/i18n/grid.locale-cn.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/plugins/grid.setcolumns.js"></script>
<script type="text/javascript" src="../../Resource/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="../../Resource/js/moment/js/moment.min.js"></script>
<script type="text/javascript" src="../../Resource/js/moment/js/jquery.daterangepicker.js"></script>
<script language="javascript" type="text/javascript">
    $(function() {
        initScript();
        initData();
        initStyle();
    });

    $(window).load(function() {
        hideLoading();
    });

    var initStyle = function() {
        enterTriggerEvent('searchParamesTable', 'searchData');
    };

    var initScript = function() {
        $("#common_sheet_title").textbox({
            prompt: $.i18n.prop("COMMON_SHEET_TITLE")
        });

        $(window).resize(function() {
            setGridHeightWidth();
            setToolbarHeightWidth();
        });
    };

    var initData = function() {
        getDictionaryData([{
            //初始化出售方式
            dicTypeCode : Global_DicType.SellMode,
            ADD_ALL: true,
            callback : function(callbackData) {
                window.docking_manMap = {};
                $("#sell_mode").combobox({
                    valueField: 'dicvalue',
                    textField: 'dictext',
                    panelHeight: 130,
                    //panelWidth: 250,
                    editable: true,
                    onSelect:function(record){
                        searchData();
                    }
                });
                $("#sell_mode").combobox("loadData", callbackData);
            }
        },{
            //初始化出售人
            dicTypeCode : Global_DicType.MeetPeople,
            ADD_ALL: true,
            callback : function(callbackData) {
                window.docking_manMap = {};
                $("#sold_by").combobox({
                    valueField: 'dicvalue',
                    textField: 'dictext',
                    //panelHeight: 200,
                    //panelWidth: 250,
                    editable: true,
                    onSelect:function(record){
                        searchData();
                    }
                });
                $("#sold_by").combobox("loadData", callbackData);
            }
        },{
            //初始化货物类型
            dicTypeCode : Global_DicType.GoodsType,
            ADD_ALL: true,
            callback : function(callbackData) {
                $("#goods_type").combobox({
                    valueField: 'dicvalue',
                    textField: 'dictext',
                    //panelHeight: 200,
                    //panelWidth: 250,
                    editable: true,
                    onSelect:function(record){
                        searchData();
                    }
                });
                $("#goods_type").combobox("loadData", callbackData);
            }
        },{
            //初始化货物价值
            dicTypeCode : Global_DicType.BoxValue,
            ADD_ALL: false,
            callback : function(callbackData) {
                $("#box_value").combobox({
                    valueField: 'dicvalue',
                    textField: 'dictext',
                    //panelHeight: 200,
                    //panelWidth: 250,
                    editable: true,
                    onSelect:function(record){
                        searchData();
                    }
                });
                $("#box_value").combobox("loadData", callbackData);
            }
        },{
            //初始化货物大小
            dicTypeCode : Global_DicType.BoxSize,
            ADD_ALL: false,
            callback : function(callbackData) {
                $("#box_size").combobox({
                    valueField: 'dicvalue',
                    textField: 'dictext',
                    //panelHeight: 200,
                    //panelWidth: 250,
                    editable: true
                });
                $("#box_size").combobox("loadData", callbackData);
            }
        },{
            //初始化快递公司
            dicTypeCode : Global_DicType.Kuaidi,
            ADD_ALL: false,
            callback : function(callbackData) {
                $("#kuaidi_company").combobox({
                    valueField: 'dicvalue',
                    textField: 'dictext',
                    //panelHeight: 200,
                    //panelWidth: 250,
                    editable: true
                });
                $("#kuaidi_company").combobox("loadData", callbackData);
            }
        },{
            //初始化状态
            dicTypeCode : Global_DicType.GoodsState,
            ADD_ALL: true,
            callback : function(callbackData) {
                $("#state").combobox({
                    valueField: 'dicvalue',
                    textField: 'dictext',
                    panelHeight: 160,
                    //panelWidth: 250,
                    editable: true,
                    onSelect:function(record){
                        searchData();
                    }
                });
                $("#state").combobox("loadData", callbackData);
            }
        },{
            //初始化鱼号
            dicTypeCode : Global_DicType.SellNo,
            ADD_ALL: false,
            callback : function(callbackData) {
                $("#sell_no").combobox({
                    valueField: 'dicvalue',
                    textField: 'dictext',
                    //panelHeight: 200,
                    //panelWidth: 250,
                    editable: true
                });
                $("#sell_no").combobox("loadData", callbackData);
            }
        },{
            dicTypeCode: Global_DicType.Global_DicType_CommonStateYesNo,
            ADD_ALL: true,
            callback: function (callbackData) {
                var formatData = { data: callbackData, needChooseAll: false, chooseAllValue: "", defaultValue: "",
                    bindBoxName: "divSold", bindControlPrefix: "sold", onClick:function(){
                        searchData();
                    } };
                var formatData2 = { data: callbackData, needChooseAll: false, chooseAllValue: "", defaultValue: "",
                    bindBoxName: "divFree_shipping", bindControlPrefix: "free_shipping", onClick:function(){
                        searchData();
                    } };
                formatDefaultRadio_Local(formatData);
                formatDefaultRadio_Local(formatData2);
            }
        }]);
        loadList();// 加载数据列表
    };

    // 查询数据
    function searchData() {
        $('#gridTable').jqGrid('setGridParam', {
            url: getSearchGridUrl(),
            datatype: 'json',
            postData: { 'filters': '' },
            page: 1
        }).trigger('reloadGrid');
    };

    // 获取查询URL
    var getSearchGridUrl = function() {
        var customSearchFilters = encodeURI(getSearchFilters());
        return '../../cpgl/openRecordController/getListForGrid?' + Math.random() + '&customSearchFilters=' + customSearchFilters;
    };

    // 获取查询条件
    var getSearchFilters = function() {
        var parmsArray = [
            [
                { name: 'sheet_no', value: $('#common_sheet_title').textbox('getValue'), op: 'cn' },
                { name: 'goods_name', value: $('#common_sheet_title').textbox('getValue'), op: 'cn' }
            ],
            { name: '_d_open_date', value: $('#begin_date').textbox('getValue'), op: 'ge' },
            { name: '_d_open_date', value: $('#end_date').textbox('getValue'), op: 'le' },
            { name: 'state', value: $('#state').combobox("getValue"), op: 'eq' },
            { name: 'goods_type', value: $('#goods_type').combobox("getValue"), op: 'eq' },
            { name: 'sell_mode', value: $('#sell_mode').combobox("getValue"), op: 'eq' },
            { name: 'sold_by', value: $('#sold_by').combobox("getValue"), op: 'eq' },
            { name: 'sold', value: $("#divSold [name=sold]:checked").val(), op: "eq" },
            { name: 'free_shipping', value: $("#divFree_shipping [name=free_shipping]:checked").val(), op: "eq" }
        ];
        return formatSearchParames(parmsArray);
    };

    // 加载数据列表
    var loadList = function() {
        $('#gridTable').jqGrid({
            url: getSearchGridUrl(),
            datatype: 'json',
            width: 'none',
            colNames: [
                //基本信息
                $.i18n.prop('ID'),
                $.i18n.prop('STATE'),
                $.i18n.prop('SHEET_NO'),
                $.i18n.prop('OPEN_DATE'),
                $.i18n.prop('GOODS_TYPE'),
                $.i18n.prop('GOODS_NAME'),
                $.i18n.prop('BOX_SIZE'),
                $.i18n.prop('BOX_VALUE'),
                $.i18n.prop('KUAIDI_COMPANY'),
                $.i18n.prop('DAMAGE'),
                //卖出信息
                $.i18n.prop('SELL_MODE'),
                $.i18n.prop('SOLD_BY'),
                $.i18n.prop('SOLD'),
                $.i18n.prop('SELL_NO'),
                $.i18n.prop('SELL_DATE'),
                $.i18n.prop('SOLD_DATE'),
                $.i18n.prop('OUT_TIME'),
                $.i18n.prop('GOODS_COST'),
                $.i18n.prop('SELL_PRICE'),
                $.i18n.prop('GOODS_PROFIT'),
                $.i18n.prop('FREE_SHIPPING'),
                $.i18n.prop('EXPRESS_FEE'),
                $.i18n.prop('REMARK')
            ],
            colModel: [
                { name: 'id', index: 'id', align: 'center', sorttype: 'int', sortable: false, key: true, width: 40, hidden: true, search: false },
                { name: 'state', index: 'state', align: 'center', width: 80, type: 'string', search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] } },
                { name: 'sheet_no', index: 'sheet_no', align: 'center', width: 100, type: 'string', search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] } },
                { name: 'open_date', index: '_d_open_date', align: 'center', width: 120, search: true, type: 'string',
                    searchoptions: { sopt: ['ge'], dataEvents: [ { type: 'click', data: {}, fn: function() { WdatePicker(); } } ] } },
                { name: 'goods_type', index: 'goods_type', align: 'center', width: 100, type: 'string', search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] } },
                { name: 'goods_name', index: 'goods_name', align: 'center', width: 180, type: 'string', search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] } },
                { name: 'box_size', index: 'box_size', align: 'center', width: 100, type: 'string', search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] } },
                { name: 'box_value', index: 'box_value', align: 'center', width: 100, type: 'string', search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] } },
                { name: 'kuaidi_company', index: 'kuaidi_company', align: 'center', width: 100, type: 'string', search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] } },
                { name: 'damage', index: 'damage', align: 'center', width: 100, type: 'string', search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] } },
                { name: 'sell_mode', index: 'sell_mode', align: 'center', width: 100, type: 'string', search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] } },
                { name: 'sold_by', index: 'sold_by', align: 'center', width: 100, type: 'string', search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] } },
                { name: 'sold', index: 'sold', align: 'center', width: 100, type: 'string', search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] } },
                { name: 'sell_no', index: 'sell_no', align: 'center', width: 100, type: 'string', search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] } },
                { name: 'sell_date', index: 'sell_date', align: 'center', width: 100, type: 'string', search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] } },
                { name: 'sold_date', index: 'sold_date', align: 'center', width: 100, type: 'string', search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] } },
                { name: 'out_time', index: 'out_time', align: 'center', width: 100, type: 'string', search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] } },
                { name: 'goods_cost', index: 'goods_cost', align: 'center', width: 100, type: 'string', search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] } },
                { name: 'sell_price', index: 'sell_price', align: 'right', width: 100, type: 'string', search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] }
                    ,formatter: function (value, grid, rows) {
                        return keepTwoPointData(rows.sell_price);
                    }},
                { name: 'goods_profit', index: 'goods_profit', align: 'right', width: 100, type: 'string', search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] }
                    ,formatter: function (value, grid, rows) {
                        return keepTwoPointData(rows.goods_profit);
                    }},
                { name: 'free_shipping', index: 'free_shipping', align: 'center', width: 100, type: 'string', search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] } },
                { name: 'express_fee', index: 'express_fee', align: 'center', width: 100, type: 'string', search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] } },
                { name: 'remark', index: 'remark', align: 'center', width: 350, type: 'string', search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] } }


            ],
            shrinkToFit: false,
            altRows: true,
            altclass: 'gridSpacingClass',
            forceFit: true,
            cellLayout: 0,
            scroll: false,
            autowidth: true,
            sortname: 'sheet_no',
            sortorder: 'desc',
            loadonce: false,
            mtype: 'POST',
            viewrecords: true,
            rownumbers: true,
            multiselect: true,
            rowNum: 15,
            height: '100%',
            rowList: [15, 20, 30, 50],
            pager: '#gridPager',
            footerrow: true,
           // gridComplete: completeMethod,
            jsonReader: {
                root: 'rows',
                total: 'total',
                page: 'page',
                records: 'records',
                repeatitems: false
            },
            gridComplete: function() {
                $('.cbox').shiftSelect();
                afterRedRow();
                completeMethod();
            },
            ondblClickRow: showChildModule,
            loadComplete: function(xhr) {
                FailResultDataToTip(xhr);
            }
        });
        $('#gridTable').jqGrid('navGrid', '#gridPager',{
            add : false,
            edit : false,
            del : false,
            refresh : true
        }, {}, {}, {}, {
            multipleSearch : true,
            closeOnEscape : true,
            closeAfterSearch : true
        });
        $('#gridTable').jqGrid('navButtonAdd', '#gridPager', {
            caption : $.i18n.prop('TOGGLE_GRID_COLUMNS'),
            title : 'Set Columns',
            onClickButton : toggleGridColumns
        });
       $('#gridTable').jqGrid('navButtonAdd', '#gridPager', {
            caption : $.i18n.prop('TOGGLE_GRID_SEARCH_TOOLBAR'),
            title : 'Quick Search',
            onClickButton : toggleGridSearchToolbar
        });
        $('#gridTable').jqGrid('navButtonAdd', '#gridPager', {
            caption: $.i18n.prop('EXPORT_TO_EXCEL'),// 导出数据
            title: 'Export Datas',
            buttonicon: 'ui-icon-disk',
            onClickButton: function () {
                ExportToExcel.call(this, {
                });
            }
        });
        setGridHeightWidth(0,150);
        /*setGridHeightWidth();*/
    };

    //jqGrid加载
    function afterRedRow() {
        var ids = $("#gridTable").jqGrid("getDataIDs");
        for (var i = 0; i < ids.length; i++) {
            var rowData = $("#gridTable").getRowData(ids[i]);
            if (rowData.state == '已售') {
                $('#gridTable #' + ids[i]).find("td").css('color', "#291e8b");
            }
            if (rowData.state == '收款') {
                $('#gridTable #' + ids[i]).find("td").css('color', "#288b11");
            }
            if (rowData.state == '异常') {
                $('#gridTable #' + ids[i]).find("td").css('color', "#ff1029");
            }
        }
    }
    // 双击数据触发的事件
    var showChildModule = function(rowid) {
        var rowData = $('#gridTable').jqGrid('getRowData', rowid);
        showLoading();
        window.parent.onIframeSelect(rowData.sheet_no);
    };

    function completeMethod(){
        var sum_sell_price=$("#gridTable").getCol('sell_price',false,'sum');
        var sum_express_fee=$("#gridTable").getCol('express_fee',false,'sum');
        var sum_goods_profit=$("#gridTable").getCol('goods_profit',false,'sum');
        $("#gridTable").footerData('set', { "goods_cost": '合计', sell_price: sum_sell_price, express_fee: sum_express_fee,goods_profit: sum_goods_profit });
    }

    function update(){
        var selectRowItems = $("#gridTable").jqGrid("getGridParam", "selarrrow");
        if (selectRowItems.length == 0 || selectRowItems.length > 1) {
            errorNotification({
                SimpleMessage : "请选择一行数据行进行操作"
            });
            return;
        }
        showChildModule(selectRowItems[0]);
    }

    //暂时没有新增功能，看后面需求
    function add(){
        showLoading();
        window.parent.onIframeSelect();
    }

    //导出
    function exportData() {
        var selectRowItems = $("#gridTable").jqGrid("getGridParam", "selarrrow");
        if (selectRowItems.length==0) {
            errorNotification({
                SimpleMessage : $.i18n.prop("selectLeastOneDataRowOperator")
            });
            return;
        }
        var data="";
        for (var i = 0; i < selectRowItems.length; i++) {
           var rowData = $("#gridTable").jqGrid('getRowData', selectRowItems[i]);
           data+=rowData.sheet_no+",";
        }
        $.messager.confirm($.i18n.prop("PROMPT"), $.i18n.prop("SURETODO"), function (r) {
            if (r) {
                $("#formExportFile #sheet_no").val(data);
                $("#formExportFile").submit();
            }
        });
    }


    /**批量删除*/
    function remove() {
        commonFunction();
    }

    //批量使用
    function commonFunction() {
        var url = "../../cpgl/openRecordController/delete?t="+Math.random();
        var selectRowItems = $("#gridTable").jqGrid("getGridParam", "selarrrow");
        if (selectRowItems.length==0) {
            errorNotification({
                SimpleMessage : $.i18n.prop("selectLeastOneDataRowOperator")
            });
            return;
        }
        var list=[];
        var rowData = null;
        for (var i = 0; i < selectRowItems.length; i++) {
            rowData = $("#gridTable").jqGrid('getRowData', selectRowItems[i]);
            list.push({"id":rowData.id});
        }
        $.messager.confirm($.i18n.prop("PROMPT"), $.i18n.prop("SURETODO"), function (r) {
            if (r) {
                showLoading();
                $.ajax({
                    url : url,
                    data:JSON.stringify(list),
                    type:"POST",
                    contentType:'application/json; charset=utf-8',
                    success:function(dataObj){
                        if (isServerResultDataPass(dataObj)) {
                            correctNotification({ SimpleMessage:dataObj.resultDataFull.simpleMessage });
                            searchData();
                        } else {
                            FailResultDataToTip(dataObj);
                        }
                        hideLoading();
                    }
                });
            }
        });
    }

    //钱款打入到收入管理
    function getmoney() {
        var selectRowItems = $("#gridTable").jqGrid("getGridParam", "selarrrow");
        if (selectRowItems.length==0) {
            errorNotification({
                SimpleMessage : $.i18n.prop("selectLeastOneDataRowOperator")
            });
            return;
        }
        var list=[];
        var rowData = null;
        for (var i = 0; i < selectRowItems.length; i++) {
            rowData = $("#gridTable").jqGrid('getRowData', selectRowItems[i]);
            if(rowData.state!='收款')  {
                list.push({"id":rowData.id});
             } else {
                errorNotification({SimpleMessage: '该数据已收账，请勿重复操作'});
                 return;
             }
        }
        $.messager.confirm($.i18n.prop("prompt"), $.i18n.prop("sureTodo"), function (r) {
            if (r) {
                showLoading();
                $.ajax({
                    url : "../../cpgl/openRecordController/getmoney",
                    data:JSON.stringify(list),
                    type:"POST",
                    contentType:'application/json; charset=utf-8',
                    success:function(dataObj){
                        if (isServerResultDataPass(dataObj)) {
                            correctNotification({ SimpleMessage:dataObj.resultDataFull.simpleMessage });
                            searchData();
                        } else {
                            FailResultDataToTip(dataObj);
                        }
                        hideLoading();
                    }
                });
            }
        });
    }
</script>
</body>
</html>
