<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link id="CustomTheme" type="text/css" rel="stylesheet" href="../../Resource/css/index/customLightBlue.css" />
	<link id="EasyuiTheme" type="text/css" rel="stylesheet" href="../../Resource/js/easyUI/themes/easyuiLightBlue.css" />
	<link id="JqgridTheme" type="text/css" rel="stylesheet" href="../../Resource/js/jqueryUI/theme/jqgridLightBlue/jquery-ui-1.10.4.custom.css" />
	<link type="text/css" rel="stylesheet" href="../../Resource/js/jqueryUI/theme/ui.jqgrid.css" />
	<link type="text/css" rel="stylesheet" href="../../Resource/js/easyUI/themes/icon.css" />
	<link type="text/css" rel="stylesheet" href="../../Resource/js/fileUpload/css/fileUpload.css" />
	<title>进货明细</title>

	<style type="text/css">
		.editTable{
			margin-top: 1px;
			padding-top: 0px;
			padding-left: 0px;
			margin-left: 0px;
		}
		.editTable .datebox input[readonly="readonly"]{
			background-color: initial;
		}
	</style>
</head>
<body>
<div id="toolbar" class="easyui-panel" style="padding:4px;border-width:0;border-bottom-width:1px;">
	#{PAGE_TOOLBAR_BUTTONROLE}
</div>
<div class="searchParamesPanel editTable">
	<form class="easyui-form panel-noscroll" enctype="multipart/form-data">
		<table class="editTable">
			<tr>
				<td class="editTitle" style="width:125px;"><label data-locale="SHEET_NO"/></td>
				<td class="editControl">
					<input type="text" name="sheet_no" id="sheet_no" class="easyui-textbox"  readonly="readonly" style="width: 25%;"/>
				</td>
			</tr>
			<tr>
				<td class="editTitle" style="width:125px;"><label data-locale="RECEIVE_DATE"/></td>
				<td class="editControl">
					<input type="text" name="receive_date" id="receive_date" class="easyui-datetimebox" style="width: 13%" />
				</td>
			</tr>
			<tr>
				<td class="editTitle" style="width:125px;"><label data-locale="BOX_NUM"/></td>
				<td class="editControl">
					<input type="text" name="box_num" id="box_num" class="easyui-numberbox" style="width:25%;"/>
				</td>
			</tr>
			<tr>
				<td class="editTitle" style="width:125px;"><label data-locale="BOX_PRICE"/></td>
				<td class="editControl">
					<input type="text" name="box_price" id="box_price" class="easyui-numberbox" data-options="required:false,precision:2" data-options="required:true,precision:2" style="width: 25%;"/>
				</td>
			</tr>
			<tr>
				<td class="editTitle" style="width:125px;"><label data-locale="BOX_TOTAL_PRICE"/></td>
				<td class="editControl">
					<input type="text" name="box_total_price" id="box_total_price" class="easyui-numberbox" data-options="required:false,precision:2" style="width: 25%;"/>
				</td>
			</tr>
			<tr>
				<td class="editTitle" style="width:125px;"><label data-locale="FREIGHT"/></td>
				<td class="editControl">
					<input type="text" name="freight" id="freight" class="easyui-numberbox" data-options="required:false,precision:2" style="width: 25%;"/>
				</td>
			</tr>
			<tr>
				<td class="editTitle" style="width:125px;"><label data-locale="TOTAL_FREIGHT"/></td>
				<td class="editControl">
					<input type="text" name="total_freight" id="total_freight" class="easyui-numberbox" data-options="required:false,precision:2" style="width: 25%;"/>
				</td>
			</tr>
			<tr>
				<td class="editTitle" style="width:125px;"><label data-locale="DOCKING_MAN"/></td>
				<td class="editControl">
					<input type="text" name="docking_man" id="docking_man" class="easyui-combobox" style="width: 25%;"/>
				</td>
			</tr>
			<tr>
				<td class="editTitle" style="width:125px;"><label data-locale="REMARK"/></td>
				<td class="editControl">
					<input type="text" name="remark" id="remark" class="easyui-textbox" style="width: 25%;"/>
				</td>
			</tr>
		</table>
	</form>
</div>
<script type="text/javascript" src="../../Resource/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery.i18n.properties.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../../Resource/js/base/commonControl.js"></script>
<script type="text/javascript" src="../../Resource/js/base/commonBusiness.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/i18n/grid.locale-cn.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="../../Resource/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="../../Resource/js/base/globalVariable.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/plugins/grid.setcolumns.js"></script>
<script type="text/javascript" src="../../Resource/js/cookie/jquery.cookie.js"></script>
<script type="text/javascript" src="../../Resource/js/fileUpload/js/upload.js"></script>
<script type="text/javascript" src="../../Resource/js/fileUpload/js/file.js"></script>
<script language="javascript" type="text/javascript">
    $(function() {
        initScript();
        initStyle();
        initData();
        var parms = getUrlParms();
        if(parms.sheet_no){
            window.parent.onIframeSelect(parms.sheet_no);
        }

    });

    $(window).load(function() { hideLoading(); });

    function initStyle() {
        $("#box_num,#box_price").numberbox({
            onChange : function (e) {
                var box_num = $("#box_num").numberbox("getValue");
                var box_price = $("#box_price").numberbox("getValue");
                if (box_num!="" && box_price!="") {
                    var box_total_price = (box_num*box_price).toFixed(2);
                    $("#box_total_price").textbox("setValue",box_total_price);
                }
            }
        })

        $("#box_total_price,#freight").numberbox({
            onChange : function (e) {
                var box_total_price = $("#box_total_price").numberbox("getValue");
                var freight = $("#freight").numberbox("getValue");
                if (freight!="" && box_total_price!="") {
                    var total_freight = (Number(box_total_price)+Number(freight)).toFixed(2);
                    $("#total_freight").textbox("setValue",total_freight);
                }
            }
        })
    }

    var initScript = function() {};

    // 加载数据
    var initData = function() {
        getDictionaryData([{
            //初始化对接人
            dicTypeCode : Global_DicType.MeetPeople,
            ADD_ALL: false,
            callback : function(callbackData) {
                window.docking_manMap = {};
                for(var i = 0; i < callbackData.length; i++){
                    docking_manMap[callbackData[i].dicvalue] = callbackData[i].dictext;
                }
                $("#docking_man").combobox({
                    valueField: 'dicvalue',
                    textField: 'dictext',
                    //panelHeight: 200,
                    //panelWidth: 250,
                    editable: true
                });
                $("#docking_man").combobox("loadData", callbackData);
            }
        }/*,{
            dicTypeCode: Global_DicType.Global_DicType_CommonStateYesNo,
            callback: function (callbackData) {
                window.feedback_huaweiList = {};
                for(var i = 0; i < callbackData.length; i++){
                    feedback_huaweiList[callbackData[i].dicvalue] = callbackData[i].dictext;
                }
                var formatData = { data: callbackData, needChooseAll: false, defaultValue: "N",
                    bindBoxName: "divFeedback_huawei", bindControlPrefix: "feedback_huawei", onClick:function(){
                    } };
                formatDefaultRadio_Local(formatData);
            }
        }*/]);
    };

    function add() {
        $.messager.confirm('提示', '确定打开一个新界面?', function (r) {
            if (r) {
                showLoading();
                add_after();
            }
        });
    };

    function add_after(){
        location.href = location.pathname;
    }

    var saveValidationPass = function () {
        var validated = $("form").form('enableValidation').form('validate');
        if (!validated) {
            errorNotification({
                SimpleMessage: "保存操作中部分数据验证不通过"
            });
            return false;
        } else {
            return true;
        }
    }

    function save() {
        loseGridFocus();
        if (!saveValidationPass()) {
            return;
        }
        $.messager.confirm('提示', '确定保存吗?', function (r) {
            if(r){
                showLoading();
                save_after();
            }
        });
    }

    function save_after(){
        loseGridFocus();
        var requestParam = FormUtils.toJSONObject('form');
        $.ajax({
            url :"../../cpgl/PurchaseManagerController/saveDetail?t=" + Math.random(),
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(requestParam),
            success : function(dataObj){
                if (isServerResultDataPass(dataObj)) {
                    loadDetail({
                        sheet_no : dataObj.resultDataFull.sheet_no,
                        msg : { simpleMessage : dataObj.resultDataFull.msg }
                    });
                } else {
                    FailResultDataToTip(dataObj);
                    hideLoading();
                }
            }
        });
    }

    // 加载数据详细信息
    var loadDetail = function(requestParam) {
        showLoading();
        $.ajax({
            url: '../../cpgl/PurchaseManagerController/getDetail?t=' + Math.random(),
            type: 'POST',
            data: "sheet_no="+requestParam.sheet_no,
            success : function(dataObj) {
                if (isServerResultDataPass(dataObj)) {
                    var dataVO = dataObj.resultDataFull;
                    $("#sheet_no").textbox("setValue", dataVO.sheet_no);
                    $("#receive_date").datetimebox("setValue", dataVO.receive_date);
                    $("#box_num").numberbox("setValue", dataVO.box_num);
                    $("#box_price").numberbox("setValue", dataVO.box_price);
                    $("#box_total_price").numberbox("setValue", dataVO.box_total_price);
                    $("#docking_man").combobox("setValue", dataVO.docking_man);
                    $("#freight").numberbox("setValue", dataVO.freight);
                    $("#total_freight").numberbox("setValue", dataVO.total_freight);
                    $("#remark").textbox("setValue", dataVO.remark);
                    if(requestParam.msg){
                        correctNotification(requestParam.msg);
                    }
                } else {
                    FailResultDataToTip(dataObj);
                }
                hideLoading();
            }
        });
    };

    var add_detail = function (vo) {
        loseGridFocus();
        $("#gridTable").common_add({
            data : vo/*,
            isFirstClick : true*/
        });
    };

    function refreshCallerData() {
        loadDetail();
    }

</script>
</body>
</html>
