<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8"/><meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <link id="CustomTheme" type="text/css" rel="stylesheet" href="../../Resource/css/index/customLightBlue.css" />
    <link id="EasyuiTheme" type="text/css" rel="stylesheet" href="../../Resource/js/easyUI/themes/easyuiLightBlue.css" />    
    <link id="JqgridTheme" type="text/css" rel="stylesheet" href="../../Resource/js/jqueryUI/theme/jqgridLightBlue/jquery-ui-1.10.4.custom.css" />
    <link type="text/css" rel="stylesheet" href="../../Resource/js/easyUI/themes/icon.css" />
    <link type="text/css" rel="stylesheet" href="../../Resource/js/moment/css/daterangepicker.css" />
    <link type="text/css" rel="stylesheet" href="../../Resource/js/jqueryUI/theme/ui.jqgrid.css" />
    <link type="text/css" rel="stylesheet" href="../../Resource/js/fileUpload/css/fileUpload.css" />
    <title>#{supplier.thisPage}</title>
</head>
<body>
    <div id="toolbar" class="easyui-panel" style="padding: 4px; border-width: 0; border-bottom-width: 1px;">
         #{PAGE_TOOLBAR_BUTTONROLE}
    </div>
    <div id="tabLocation" class="easyui-tabs">
    	<div data-locale-title="customerDetailList_customerDetail" style="padding: 0px;">
    		<iframe scrolling="auto" id="customerDetail" name="customerDetail" frameborder="0" src="../../View/BaseInfo/customerDetail.html" style="width: 100%;height: 600px;">
    		</iframe>
    	</div>
    	<div data-locale-title="customerDetailList_customerAddressDetail" style="padding: 0px;" id="cusAddress">
    		<iframe scrolling="auto" id="cusAddressDetail" name="cusAddressDetail" frameborder="0" src="" style="width: 100%;height: 530px;"></iframe>
    	</div>
        <div data-locale-title="customerDetailList_cus" style="padding: 0px;" id="cusStaff">
            <iframe scrolling="auto" id="cusStaffDetail" name="cusStaffDetail" frameborder="0" src="" style="width: 100%;height: 530px;"></iframe>
        </div>
       <!-- <div title="电子围栏" style="padding: 0px;" id="electronicFence">
            <iframe scrolling="auto" id="fence" name="cusStaffDetail" frameborder="0" src="" style="width: 100%;height: 530px;"></iframe>
        </div>-->
    </div>
</body>
<script type="text/javascript"	src="../../Resource/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery.i18n.properties.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/jquery.easyuiExtend.min.js"></script>
<script type="text/javascript" src="../../Resource/js/base/commonControl.js"></script>
<script type="text/javascript" src="../../Resource/js/base/globalVariable.js"></script>
<script type="text/javascript" src="../../Resource/js/base/commonBusiness.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/i18n/grid.locale-cn.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/plugins/grid.setcolumns.js"></script>
<script type="text/javascript" src="../../Resource/js/fileUpload/js/upload.js"></script>
<script type="text/javascript" src="../../Resource/js/fileUpload/js/file.js"></script>
<script language="javascript" type="text/javascript">
	var sn = "";
	var cusId = "";
	$(function(){
		var parms = getUrlParms();
		sn = parms["sn"];
		cusId = parms["cusId"];

		// if (cusId == null || cusId == "undefined") {
		//     $("#tabLocation").tabs("close","客户员工")
        // }

		$("#tabLocation").tabs({
			onSelect: function(title, index) {
				if(!$("iframe").eq(index).attr("src")) {
					switch (index) {
                        case 1:
                            $("iframe").eq(index).attr("src", "../../View/BaseInfo/cusAddress.html");
                            break;
                        case 2:
                            $("iframe").eq(index).attr("src", "../../View/BaseInfo/cusStaff.html");
                            break;
                        case 3:
                            $("iframe").eq(index).attr("src", "../../View/BaseInfo/ElectrinicFence.html");
                            break;
                    }
				}
			}
		});
	});
</script>
</html>