<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8"/><meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <link id="CustomTheme" type="text/css" rel="stylesheet" href="../../Resource/css/index/customLightBlue.css" />
    <link id="EasyuiTheme" type="text/css" rel="stylesheet" href="../../Resource/js/easyUI/themes/easyuiLightBlue.css" />    
    <link id="JqgridTheme" type="text/css" rel="stylesheet" href="../../Resource/js/jqueryUI/theme/jqgridLightBlue/jquery-ui-1.10.4.custom.css" />
    <link type="text/css" rel="stylesheet" href="../../Resource/js/easyUI/themes/icon.css" />
    <link type="text/css" rel="stylesheet" href="../../Resource/js/moment/css/daterangepicker.css" />
    <link type="text/css" rel="stylesheet" href="../../Resource/js/jqueryUI/theme/ui.jqgrid.css" />
    <link type="text/css" rel="stylesheet" href="../../Resource/js/fileUpload/css/fileUpload.css" />
    <title>#{thisPage}</title>
    <style type="text/css">
    .radioSpan {
	      position: relative;
	      border: 1px solid #95B8E7;
	      background-color: #fff;
	      vertical-align: middle;
	      display: inline-block;
	      overflow: hidden;
	      white-space: nowrap;
	      margin: 0;
	      padding: 0;
	      -moz-border-radius: 5px 5px 5px 5px;
	      -webkit-border-radius: 5px 5px 5px 5px;
	      border-radius: 5px 5px 5px 5px;
	      display:block;
	    }
    </style>
</head>
<body>
<div id="tabLocation" class="easyui-tabs">
	<div data-locale-title="title1" id="detailDiv1">
    <div id="toolbar" class="easyui-panel" style="padding: 4px; border-width: 0; border-bottom-width: 1px;">
         #{PAGE_TOOLBAR_BUTTONROLE}
    </div>
   <div class="searchParamesPanel">
        <table id="searchParamesTable">
        	<tr class="searchParamesTrShow">
        		<!-- <td class="searchParamesTdTitle">
         			&emsp;<label data-locale="CODE"/>:
                </td>
				<td class="searchParamesTdControl">
                    <input type="text" name="CODE" id="CODE" class="easyui-textbox" />
                </td> -->
                <!-- <td class="searchParamesTdTitle">
                	<label data-locale="createDate"/>:
                </td>
	         	<td class="searchParamesTdControl">
	             	<input type="text" name="beginDate" id="beginDate" class="easyui-datebox" data-options="editable:false,onSelect:onChangeDate"/>
	         	</td>
	         	<td class="searchParamesTdTitle" style="text-align:center">-</td>
	         	<td class="searchParamesTdControl" >
	             	<input type="text" name="endDate" id="endDate" class="easyui-datebox" data-options="editable:false,onSelect:onChangeDate" />
                 </td> -->
                
                <td class="searchParamesTdTitle">
                	<label data-locale="name"/>:
                </td>
                <td class="searchParamesTdControl">
                    <input id="name" type="text" name="name"/>
                </td>

                <td class="searchParamesTdTitle">
                	<label data-locale="state"/>:
                </td>
                <td class="searchParamesTdControl">
                    <input id="state" class="easyui-combobox" name="state"
                    data-options="valueField:'id',textField:'text',
                    onSelect: function (par) {
                        selectState = par.id;
                        searchData();
                    }
                    ">
                   
                </td>
        	</tr>
        </table> 
    </div>
    <div id="gridControl">
        <table id="gridTable">
        </table>
        <div id="gridPager">
        </div>
    </div>
		   <div id="editData" class="easyui-dialog" style="padding:5px;width:400px;height:180px;" data-locale-title="entry"  data-options="closed:true">
		<form id="addForm" class="easyui-form" method="post">
	    	<table class="editTable">
		         <tr>
		            <td class="editRequiredTitle" >
		                	<label data-locale="CODE"/>:
		            </td>
		            <td class="editControl">
		            	<input class="easyui-textbox" id="CODE1" name="CODE1" style="width: 157px;"/>
		            	<span style="color:red;font-size:16px;text-align:center;">*</span>
		            </td>
		        </tr>
		         <tr>
		            <td class="editRequiredTitle" >
		                	<label data-locale="curCode"/>:
		            </td>
		            <td class="editControl">
		            	<input class="easyui-textbox" id="curCode1" name="curCode1" style="width: 157px;"/>
		            	<span style="color:red;font-size:16px;text-align:center;">*</span>
		            </td>
		        </tr>
				<!-- <tr>
					<td class="editTitle">
						状态
					</td>
					<td class="editControl">
						<input class="easyui-combobox" id="state" name="state" style="width: 157px;">
					</td>
				</tr> -->
		    </table>
		</form>
		<div id="dlg-buttons" style="margin-left:120px;margin-top:20px;">
			<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="javascript:ok()"><label data-locale="ok"/></a>&emsp;&emsp;
			<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#editData').dialog('close')"><label data-locale="cancel"/></a>
		</div>
	</div>
	</div>
	<input type = "hidden" id = "sn1"/>
</div>
</body>
<script type="text/javascript"	src="../../Resource/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery.i18n.properties.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/jquery.easyuiExtend.min.js"></script>
<script type="text/javascript" src="../../Resource/js/base/commonControl.js"></script>
<script type="text/javascript" src="../../Resource/js/base/globalVariable.js"></script>
<script type="text/javascript" src="../../Resource/js/base/commonBusiness.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/i18n/grid.locale-cn.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/plugins/grid.setcolumns.js"></script>
<script type="text/javascript" src="../../Resource/js/fileUpload/js/upload.js"></script>
<script type="text/javascript" src="../../Resource/js/fileUpload/js/file.js"></script>
<script type="text/javascript" src="../../Resource/js/cookie/jquery.cookie.js"></script>
<script language="javascript" src="http://localhost:8000/CLodopfuncs.js"></script>
<script language="javascript" type="text/javascript">
    var lang = "zh";
    var selectState = 0;
     
    $(function () {
        var parms = getUrlParms();
        initkeyDown();
        moduleidAuthority = parms["moduleId"];
        lang = parms["lang"];
        loadList();

        $('#state').combobox({data:selectList});
        $('#state').combobox('setValue','0');
        hideLoading();

        $('#name').textbox({
            onChange: searchData()
        })
    });

    var selectList = [
        {
            id: '',
            text: '所有'
        },
        {
            id: '0',
            text: '正常'
        },
        {
            id: '1',
            text: '注销'
        }
    ];
    
    
    //日期搜索
    // function onChangeDate(){
    // 	var createDate = $("#beginDate").datebox('getValue');
    // 	var endDate = $("#endDate").datebox('getValue');
    // 	if(createDate>endDate){
    // 		$("#endDate").textbox("setValue", "");
    // 	}
   	// 	searchData();
   	// }
    
    var initkeyDown = function(){
    	$('#cusName').combobox({
            inputEvents: $.extend({},$.fn.textbox.defaults.inputEvents,{
            	keyup:function(event){
            		if(event.keyCode == 13) {
           				searchData();
            		}
            	},
            	change:function(event){
            		searchData();
                }
         	})
      	})
    }
    
    var oldSetGridHeightWidth = setGridHeightWidth;
    var setGridHeightWidth = function() {
    	oldSetGridHeightWidth(5, 178);
    	oldSetGridHeightWidth(5, 128, "gridTable2");
    }
    
	
    function searchData() {
        $("#gridTable").jqGrid('setGridParam', {
            url: getSearchGridUrl(),
            datatype: 'json',
            // postData: getSearchFilters(),
            page: 1
        }).trigger("reloadGrid");
    }

    var getSearchGridUrl = function () {
        return '../../Zd_fare/list?t=' + Math.random() + "&customSearchFilters=" + encodeURI(getSearchFilters());
    }

    var getSearchFilters = function () {
    	// var beginDate = $("#beginDate").datebox('getText');
    	// var endDate = $("#endDate").datebox('getText');
    	// // var state = $("#state").val();
    	// if(endDate !=null && endDate !=""){
    	// 	endDate = addDate(endDate,1);
    	// }
        // var parmsArray =
        // 	 {'beginDate':beginDate,'endDate':endDate,'state':selectState};
		// 	//  {'beginDate':beginDate,'endDate':endDate};
        // return parmsArray;

        var parmsArray = [
          { name: 'a.code', value: $("#name").val(), op: "cn" },
          { name: 'a.state', value: selectState, op: "eq" }
        ];
        return formatSearchParames(parmsArray);
    }

    // var getSearchFilters = function () {
    //     var parmsArray = [
    //         { name: 'state', value: selectState, op: "eq" }
    //     ];
    //     return formatSearchParames(parmsArray);
    // }

    var loadList = function () {
		$("#gridTable").jqGrid({
             url: getSearchGridUrl(),   
             datatype: "json",
             width: "none",
             colNames: ['',$.i18n.prop('CODE'),$.i18n.prop('TAX_RATE'),
                        $.i18n.prop('STATE'),$.i18n.prop('createDate')],
             colModel: [
 				{ name: 'sn', index: 'SN',  key: true,align: 'center', sorttype: 'int', search: false, sortable: false, width: 40, hidden: true },
 				{ name: 'code', index: 'CODE',  key: true,align: 'center', search: true, sortable: false, width: 140 },
 				{ name: 'tax_RATE', index: 'TAX_RATE',  key: true,align: 'center', search: true, sortable: false, width: 140 },
 				{ name: 'state', index: 'STATE',  key: true,align: 'center', search: true, sortable: false, width: 140,formatter: function (value, grid, row){
 					if(row.state==0){
 						return '正常';
 					}
 					if(row.state == 1){
 						return '注销';
 					}
 					if(row.state = 2){
 						return '审核';
 					}
 				} },
 	           	{ name: 'create_DATE',hidden:true, index: "to_char(create_DATE,'yyyy-mm-dd')", align: 'center', width: 100,type:'string', sorttype: 'string', search: true}
 
             ],
             datatype:'json', 
            //  postData:getSearchFilters(),
             shrinkToFit: false,
             altRows: true,
             altclass: 'gridSpacingClass',
             forceFit: true,
             cellLayout: 0,
             scroll: false,
             autowidth: true,
             sortname: 'create_date',
             sortorder: "desc", 
             loadonce: false,
             mtype: "GET",
             viewrecords: true,
             rownumbers: true,
             multiselect: true,
             rowNum: 15,
             height: "100%",
             rowList: [15, 20, 30, 50],
             pager: "#gridPager",
             jsonReader: {
                 root: "rows",
                 total: "total",
                 page: "page",
                 records: "records",
                 repeatitems: false
             },
             gridComplete: function () {
                 $(".cbox").shiftSelect();
				 afterRedRow();
             },
             ondblClickRow: function (code) {
                cleanInput()
                var rowData = $("#gridTable").jqGrid('getRowData', code);
                $("#sn1").val(rowData.sn);
                $.ajax({
                    url: "../../Zd_fare/findBySn?t=" + Math.random(),
                    type: 'POST',
                    data: {'SN':rowData.sn},
                    success: function(res){
                        $("#CODE1").textbox("setValue", res.code);
						$("input", $("#CODE1").next("span")).attr("readonly", "readonly");
                        $("#curCode1").textbox("setValue", res.tax_RATE);
                    }
                });
                $('#editData').dialog({closed:false});
             },
             loadComplete: function (xhr) {
                 
             }
         });

         $("#gridTable").jqGrid('navGrid', '#gridPager', { add: false, edit: false, del: false,search: false, refresh: true }, {}, {}, {}, { multipleSearch: true, closeOnEscape: true, closeAfterSearch: true });
         $("#gridTable").jqGrid('navButtonAdd', '#gridPager', {
             caption: $.i18n.prop('costPlan.grid.control.setColumn'),
             title: $.i18n.prop('costPlan.grid.control.setColumn'),
             onClickButton: toggleGridColumns
         });

         $("#gridTable").jqGrid('navButtonAdd', '#gridPager', {
             caption: $.i18n.prop('costPlan.grid.control.quickSearch'),
             title: $.i18n.prop('costPlan.grid.control.quickSearch'),
             onClickButton: toggleGridSearchToolbar
         });
         
         $("#gridTable").jqGrid('navButtonAdd', '#gridPager', {
             caption: $.i18n.prop('costPlan.grid.control.exportData'),
             title: $.i18n.prop('costPlan.grid.control.exportData'),
             buttonicon: "ui-icon-disk",
             onClickButton: function(){
             	ExportToExcel.call(this, {
               		 url : "../../receivables/export?t=" + Math.random()
               	}); 
             }
         });
         setGridHeightWidth();
    }

    var ef = function () {
        
    }
    
    
    // 日期，在原有日期基础上，增加days天数，默认增加1天
    function addDate(date, days) {
        if (days == undefined || days == '') {
            days = 1;
        }
        var date = new Date(date);
        date.setDate(date.getDate() + days);
        var month = date.getMonth() + 1;
        var day = date.getDate();
        return date.getFullYear() + '-' + getFormatDate(month) + '-' + getFormatDate(day);
    }

    // 日期月份/天的显示，如果是1位数，则在前面加上'0'
    function getFormatDate(arg) {
        if (arg == undefined || arg == '') {
            return '';
        }

        var re = arg + '';
        if (re.length < 2) {
            re = '0' + re;
        }

        return re;
    }
    
    function add(){
    	cleanInput()
    	$('#editData').dialog({closed:false});
    }
    
    function ok(){
    	var CODE1 = $("#CODE1").textbox('getValue');
    	var curCode1 = $("#curCode1").textbox('getValue');
    	var sn = $("#sn1").val();
    	if(sn == null || sn == ""){
    		var url = "../../Zd_fare/add?t=" + Math.random();
    	}else{
    		var url = "../../Zd_fare/update?t=" + Math.random();
    	}
    	if(CODE1 ==null || CODE1 == ""){
    		errorNotification({ SimpleMessage : "货币名不能为空"});
			return;
    	}
    	if(curCode1 ==null || curCode1 == ""){
    		errorNotification({ SimpleMessage : "货币代号不能为空"});
			return;
    	}
    	$.messager.confirm($.i18n.prop('info'), $.i18n.prop('save'),function(r){
		    if(r){//点击确认
		    	$.post(url,{'CODE':CODE1,'TAX_RATE':curCode1,'SN':sn},function(data){
		    		if(data.resultCode == "0"){
	            		correctNotification(data.resultDataFull);
    	            	$('#editData').dialog({closed:true});
    	            	searchData()
	            	}else{
	            		errorNotification({ SimpleMessage : data.resultDataFull.simpleMessage});	
	            	}
		    	})
		    }
    	})
    }
    
    function update(){
    	cleanInput()
    	var ids = $('#gridTable').jqGrid('getGridParam','selarrrow');
    	var sn = $('#gridTable').jqGrid('getRowData',ids[0]).sn;
    	$("#sn1").val(sn);
    	if(ids.length>0){
    		$.post("../../Zd_fare/findBySn?t=" + Math.random(),{'SN':sn},function(data){
    			 $("#CODE1").textbox("setValue", data.code);
				$("input", $("#CODE1").next("span")).attr("readonly", "readonly");
				$("#curCode1").textbox("setValue", data.tax_RATE);
    			 $('#editData').dialog({closed:false});
    		});
    	}else{
    		errorNotification({ SimpleMessage : "请选择数据!"});
			return;
    	}
    }
    
    function del(){
    	var ids = $('#gridTable').jqGrid('getGridParam','selarrrow');
    	var sn = "";
    	if(ids.length>0){
	    	for (var i = 0; i < ids.length; i++) {
	    		sn =sn + $('#gridTable').jqGrid('getRowData',ids[i]).sn+",";
			}
    		$.post("../../zdCurrency/delete?t=" + Math.random(),{'SN':sn},function(data){
	    		if(data.resultCode == "0"){
            		correctNotification(data.resultDataFull);
	            	$('#editData').dialog({closed:true});
	            	searchData()
            	}else{
            		errorNotification({ SimpleMessage : data.resultDataFull.simpleMessage});	
            	}
   		});
    	}
    }
    
    function onread(){
    	searchData();
    }
    
    function cleanInput(){
    	 $("#sn1").val("");
		 $("#CODE1").textbox("setValue", "");
		 $("#curCode1").textbox("setValue", "");
    }
    
	  //加载业务地点 
	var data1 = [];
    $.post('../../zdCurrency/list?t=' + Math.random(),{},function(data){
    	data1=data.rows;
    	$("#CODE").combobox({
    		valueField : "SN",
			textField : "CODE",
    		onSelect:searchData,
    		data:data1,
    		onLoadSuccess : function(){
			    $('#CODE').combobox('setText','--所有--');
			}
    	});
    });

	var setState0 = function () {
        setState('1');
    }

    var setState1 = function () {
        setState('0');
    }
    
    var setState = function (kind) {
        var selectRowItems = $("#gridTable").jqGrid("getGridParam", "selarrrow");
        if (selectRowItems.length <= 0) {
            errorNotification({ SimpleMessage: $.i18n.prop('SysUsersManage_selectgridrows') });
            return;
        }

        var messKind = '';
        if (kind == '1')
            messKind = $.i18n.prop('SysUsersManage_invalid');
        else
             messKind = $.i18n.prop('SysUsersManage_valid');
        var error = '';
        var idArray = [];
        for (var i = 0, ilen = selectRowItems.length; i < ilen; i++) {
            var rowData = $("#gridTable").jqGrid('getRowData', selectRowItems[i]);
            idArray.push(rowData.sn)
            var level = '0';
        }
        if (error != '')
        {
            errorNotification({ SimpleMessage: error });
            return;
        }
 
        messKind = $.i18n.prop('SysUsersManage_determine')+messKind+$.i18n.prop('SysUsersManage_determineuser');
        $.messager.confirm($.i18n.prop('SysUsersManage_alert'), messKind, function (r) {
            if (r) {
            	var url="../../Zd_fare/fareState?t="+Math.random();
                showLoading();
                $.getJSON(url, {kind: kind, json: JSON.stringify(idArray)},
                    function (data) {
                        if (isServerResultDataPass(data)) {
                            searchData();
                            correctNotification({
                                SimpleMessage: data.resultDataFull.simpleMessage
                            });
                        } else {
                            FailResultDataToTip(data);
                        }
                        hideLoading();
                    });
            }
        });
    }

    var afterRedRow = function () {
        var ids = $("#gridTable").jqGrid("getDataIDs");
        for (var i = 0; i < ids.length; i++) {
            var rowData = $("#gridTable").getRowData(ids[i]);
            if (rowData.state == $.i18n.prop('SysUsersManage_invalid') || rowData.state === "注销") {
                $('#gridTable #' + ids[i]).find("td").css('color', "red");
            }
        }
    }

    var stateHtml = {
		'1' : '正常',
		'2' : '注销',
		'3' : '审核'
	}
</script>
</html>
