<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link id="CustomTheme" type="text/css" rel="stylesheet" href="../../Resource/css/index/customLightBlue.css" />
    <link id="EasyuiTheme" type="text/css" rel="stylesheet" href="../../Resource/js/easyUI/themes/easyuiLightBlue.css" />    
    <link id="JqgridTheme" type="text/css" rel="stylesheet" href="../../Resource/js/jqueryUI/theme/jqgridLightBlue/jquery-ui-1.10.4.custom.css" />
    <link type="text/css" rel="stylesheet" href="../../Resource/js/easyUI/themes/icon.css" />
    <link type="text/css" rel="stylesheet" href="../../Resource/js/moment/css/daterangepicker.css" />
    <link type="text/css" rel="stylesheet" href="../../Resource/js/jqueryUI/theme/ui.jqgrid.css" />
    <link type="text/css" rel="stylesheet" href="../../Resource/js/fileUpload/css/fileUpload.css" />
    <title>对下保费结算管理</title>
</head>
<body>
    <div id="toolbar" class="easyui-panel" style="padding: 4px; border-width:0; border-bottom-width:1px;">
        #{PAGE_TOOLBAR_BUTTONROLE}
    </div>
    <div class="searchParamesPanel">
        <table id="searchParamesTable">
            <tr class="searchParamesTrShow">
                <td class="searchParamesTdTitle">
                    实际起运时间:
                </td>
                <td class="searchParamesTdControl">
                    <input type="text" id="begin_date" class="easyui-datebox" data-options="editable:false"/>
                </td>
                <td width="20px;"></td>
                <td class="searchParamesTdTitle">
                    结算状态:
                </td>
                <td class="searchParamesTdControl">
                    <input type="text" name="js_state" id="js_state" class="easyui-combobox"/>
                </td>
                <td class="searchParamesTdControl">
                    <div id="divVehicle_Project"></div>
                </td>
            </tr>
        </table>
    </div>
    <div id="gridControl">
        <table id="gridTable">
        </table>
        <div id="gridPager">
        </div>
    </div>
<script type="text/javascript" src="../../Resource/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery.i18n.properties.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../../Resource/js/base/commonControl.js"></script>
<script type="text/javascript" src="../../Resource/js/base/globalVariable.js"></script>
<script type="text/javascript" src="../../Resource/js/base/commonBusiness.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/i18n/grid.locale-cn.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/plugins/grid.setcolumns.js"></script>
<script type="text/javascript" src="../../Resource/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="../../Resource/js/moment/js/moment.min.js"></script>
<script type="text/javascript" src="../../Resource/js/moment/js/jquery.daterangepicker.js"></script>
<script type="text/javascript" src="../../Resource/js/fileUpload/js/upload.js"></script>
<script type="text/javascript" src="../../Resource/js/fileUpload/js/file.js"></script>
<script language="javascript" type="text/javascript">
    $(function () {
        initScript();
        initData();
        initStyle();
    });

    $(window).load(function () {
        hideLoading();
    });

    var initStyle = function () {
        enterTriggerEvent("searchParamesTable", "searchData");
    }

    var initScript = function() {
        $(window).resize(function() {
            setGridHeightWidth();
            setToolbarHeightWidth();
        });
    };

    var initData = function () {
        formatDate();
        getDictionaryData([{
            //加载运输方式字典
            ADD_ALL: true,
            dicTypeCode : Global_DicType.CAR_TYPE,
            callback : function(callbackData) {
              /*  $("#car_type").combobox({
                    valueField: 'dicvalue',
                    textField: 'dictext',
                    panelHeight: 200,
                    panelWidth: 250,
                    editable: true,
                    onSelect:function(record){
                        searchData();
                    }
                });
                $("#car_type").combobox("loadData", callbackData);*/
            }
        },{
            //加载对下保费状态
            dicTypeCode : Global_DicType.Premium_State,
            ADD_ALL: true,
            callback : function(callbackData) {
                window.Premium_StateList = {};
                for(var i = 0; i < callbackData.length; i++){
                    Premium_StateList[callbackData[i].dicvalue] = callbackData[i].dictext;
                }
            }
        },{
            //车辆项目
            dicTypeCode : Global_DicType.Vehicle_Project,
            ADD_ALL: true,
            callback : function(callbackData) {
                window.Vehicle_ProjectList = {};
                for(var i = 0; i < callbackData.length; i++){
                    Vehicle_ProjectList[callbackData[i].dicvalue] = callbackData[i].dictext;
                }
                var formatData = { data: callbackData, needChooseAll: false, chooseAllValue: "", defaultValue: "1",
                    bindBoxName: "divVehicle_Project", bindControlPrefix: "vehicle_project", onClick:function(){
                        searchData();
                } };
                formatDefaultRadio_Local(formatData);
            }
        },{
            //加载结算状态
            dicTypeCode : Global_DicType.Premium_Js_State,
            ADD_ALL: true,
            callback : function(callbackData) {
                window.JsStateList = {};
                for(var i = 0; i < callbackData.length; i++){
                    JsStateList[callbackData[i].dicvalue] = callbackData[i].dictext;
                }
                $("#js_state").combobox({
                    valueField: 'dicvalue',
                    textField: 'dictext',
                    panelHeight: 100,
                    panelWidth: 200,
                    editable: true,
                    onSelect:function(record){
                        searchData();
                    }
                });
                $("#js_state").combobox("loadData", callbackData);
            }
        }]);
        loadList();
    }

    function searchData() {
        $("#gridTable").jqGrid('setGridParam', {
            url: getSearchGridUrl(),
            datatype: 'json',
            postData: { "filters": "" },
            page: 1
        }).trigger("reloadGrid");
    }

    function getSearchGridUrl() {
        var customSearchFilters = encodeURI(getSearchFilters());
        return '../../jsgl/premium/findPremiumGroupPageVO?t=' + Math.random() + '&customSearchFilters=' + customSearchFilters;
    }

    function getSearchFilters() {
        var parmsArray = [
            /*{ name : 'car_type',value : $("[id=car_type]").combobox('getValue'),op : "eq"},*/
            { name: 'begin_date_month', value: $("#begin_date").textbox("getValue"), op: "eq" },
            { name: 'vehicle_project', value: $("#divVehicle_Project [name=vehicle_project]:checked").val(), op: "eq" }
        ];
        return formatSearchParames(parmsArray);
    }

    function loadList() {
        $("#gridTable").jqGrid({
            url: getSearchGridUrl(),
            datatype: "json",
            width: "none",
            colNames: [
                'rownum',
                $.i18n.prop('VEHICLE_PROJECT'),
                $.i18n.prop('DATA_STATE'),
                $.i18n.prop('JS_STATE'),
                $.i18n.prop('CAR_TYPE'),
                $.i18n.prop('DATA_COUNT'),
                $.i18n.prop('NOT_TAX_PRICE'),
                $.i18n.prop('NOT_TAX_AMOUNT'),
                $.i18n.prop('BEGIN_DATE')
            ],
            colModel: [
                { name: 'rownum', index: 'rownum',key: true, hidden: true },
                { name: 'vehicle_project', index : 'vehicle_project', align : 'center', isSort : false, width : 60, type: 'string', search : true, searchoptions : { sopt: ['cn', 'eq', 'ne']},
                    formatter : function(value, grid, rows) {
                        return window.Vehicle_ProjectList[value];
                    }},
                { name: 'data_state', index : 'data_state', align : 'center', isSort : false, width : 60, type: 'string', search : true, searchoptions : { sopt: ['cn', 'eq', 'ne']},
                    formatter : function(value, grid, rows) {
                        return window.Premium_StateList[value];
                    }},
                { name: 'js_state', index: 'js_state', align: 'center', width: 100, type: 'string',  search: true, searchoptions: { sopt: ['cn', 'eq', 'ne']},
                    formatter : function(value, grid, rows) {
                        return window.JsStateList[value];
                    }},
                { name: 'car_type', index : 'car_type', align : 'center', issort : false, width : 100, type: 'string', search : true, searchoptions : { sopt: ['cn', 'eq', 'ne']}},
                { name: 'data_count', index: 'data_count', align: 'center', width: 100, type: 'string',  search: true, searchoptions: { sopt: ['cn', 'eq', 'ne']} },
                { name: 'not_tax_price', index: 'not_tax_price', align: 'center', width: 150, type: 'string',  search: true, searchoptions: { sopt: ['cn', 'eq', 'ne']} },
                { name: 'not_tax_amount', index: 'not_tax_amount', align: 'center', width: 100, type: 'string',  search: true, searchoptions: { sopt: ['cn', 'eq', 'ne']} },
                { name: 'begin_date_month', index: 'begin_date_month', align: 'center', width: 100, type: 'string',  search: true, searchoptions: { sopt: ['cn', 'eq', 'ne']} }
            ],
            shrinkToFit: false,
            altRows: true,
            altclass: 'gridSpacingClass',
            forceFit: true,
            cellLayout: 0,
            scroll: false,
            autowidth: true,
            sortname: 'car_type',
            sortorder: "desc",
            loadonce: false,
            mtype: "POST",
            viewrecords: true,
            rownumbers: true,
            multiselect: true,
            rowNum: 15,
            height: "100%",
            rowList: [100, 200, 300, 500],
            pager: "#gridPager",
            jsonReader: {
                root: "rows",
                total: "total",
                page: "page",
                records: "records",
                repeatitems: false
            },
            gridComplete: function () {
                $(".cbox").shiftSelect();
                afterRedRow();
            },
            ondblClickRow: function (id) {
                showChildModule(id);
            },
            loadComplete: function (xhr) {
                $('.gridViewPicLink').tooltip({
                    position: 'bottom',
                    content: $(this).attr("title"),
                    onShow: function () {
                        $(this).tooltip('tip').css({
                            backgroundColor: '#FCF8E3',
                            borderColor: '#FAEBCC'
                        });
                    }
                });
                FailResultDataToTip(xhr);
            }
        });
        $('#gridTable').jqGrid('navGrid', '#gridPager',{
            add : false,
            edit : false,
            del : false,
            refresh : true
        }, {}, {}, {}, {
            multipleSearch : true,
            closeOnEscape : true,
            closeAfterSearch : true
        });
        $('#gridTable').jqGrid('navButtonAdd', '#gridPager', {
            caption : $.i18n.prop('TOGGLE_GRID_COLUMNS'),
            title : 'Set Columns',
            onClickButton : toggleGridColumns
        });
        $('#gridTable').jqGrid('navButtonAdd', '#gridPager', {
            caption : $.i18n.prop('TOGGLE_GRID_SEARCH_TOOLBAR'),
            title : 'Quick Search',
            onClickButton : toggleGridSearchToolbar
        });
        setGridHeightWidth();
    }

    //jqGrid加载
    function afterRedRow() {
        var ids = $("#gridTable").jqGrid("getDataIDs");
        for (var i = 0; i < ids.length; i++) {
            var rowData = $("#gridTable").getRowData(ids[i]);
            //质损非正常标注为红色
            if (rowData.js_state == '已结算') {
                $('#gridTable #' + ids[i]).find("td").css('color', "#298b0b");
            }
        }
    }

    /**结算保费
     * 正常状态参与结算
     * */
    function settlementData() {
        var selectRowItems = $("#gridTable").jqGrid("getGridParam", "selarrrow");
        if (selectRowItems.length==0) {
            errorNotification({
                SimpleMessage : $.i18n.prop("selectLeastOneDataRowOperator")
            });
            return;
        }
        var list=[];
        var rowData = null;
        for (var i = 0; i < selectRowItems.length; i++) {
            rowData = $("#gridTable").jqGrid('getRowData', selectRowItems[i]);
            if(rowData.js_state=='0' || rowData.js_state=='未结算' ) {
                list.push({"car_type":rowData.car_type,"begin_date":rowData.begin_date});
            } else {
                errorNotification({SimpleMessage: $.i18n.prop("JS_STATE_NOTIFICATION")});
                return;
            }
        }
        $.messager.confirm($.i18n.prop("prompt"), $.i18n.prop("sureTodo"), function (r) {
            if (r) {
                showLoading();
                $.ajax({
                    url : "../../jsgl/premium/settlement",
                    data:JSON.stringify(list),
                    type:"POST",
                    contentType:'application/json; charset=utf-8',
                    success:function(dataObj){
                        if (isServerResultDataPass(dataObj)) {
                            correctNotification({ SimpleMessage:dataObj.resultDataFull.simpleMessage });
                            searchData();
                        } else {
                            FailResultDataToTip(dataObj);
                        }
                        hideLoading();
                    }
                });
            }
        });
    }
    /**格式化日期*/
    function formatDate() {
        $('#begin_date').datebox({
            //显示日趋选择对象后再触发弹出月份层的事件，初始化时没有生成月份层
            onShowPanel: function () {
                //触发click事件弹出月份层
                span.trigger('click');
                if (!tds)
                //延时触发获取月份对象，因为上面的事件触发和对象生成有时间间隔
                    setTimeout(function() {
                        tds = p.find('div.calendar-menu-month-inner td');
                        tds.click(function(e) {
                            //禁止冒泡执行easyui给月份绑定的事件
                            e.stopPropagation();
                            //得到年份
                            var year = /\d{4}/.exec(span.html())[0] ,
                                //月份
                                //之前是这样的month = parseInt($(this).attr('abbr'), 10) + 1;
                                month = parseInt($(this).attr('abbr'), 10);

                            //隐藏日期对象
                            $('#begin_date').datebox('hidePanel')
                            //设置日期的值
                                .datebox('setValue', year + '-' + month);
                        });
                    }, 0);
            },
            //配置parser，返回选择的日期
            parser: function (s) {
                if (!s) return new Date();
                var arr = s.split('-');
                return new Date(parseInt(arr[0], 10), parseInt(arr[1], 10) - 1, 1);
            },
            //配置formatter，只返回年月 之前是这样的d.getFullYear() + '-' +(d.getMonth());
            formatter: function (d) {
                var currentMonth = (d.getMonth()+1);
                var currentMonthStr = currentMonth < 10 ? ('0' + currentMonth) : (currentMonth + '');
                return d.getFullYear() + '-' + currentMonthStr;
            },
            onChange : function () {
                searchData();
            }
        });

        //日期选择对象
        var p = $('#begin_date').datebox('panel'),
            //日期选择对象中月份
            tds = false,
            //显示月份层的触发控件
            span = p.find('span.calendar-text');
        var curr_time = new Date();

        //设置前当月
        $("#begin_date").datebox("setValue", myformatter(curr_time));
    };
    //格式化日期
    function myformatter(date) {
        //获取年份
        var y = date.getFullYear();
        //获取月份
        var m = date.getMonth() + 1;
        return y + '-' + m;
    }
</script>
</body>
</html>
