<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link type="text/css" rel="stylesheet" href="../../Resource/css/index/customLightBlue.css" />
<link type="text/css" rel="stylesheet" href="../../Resource/js/easyUI/themes/easyuiLightBlue.css" />
<link type="text/css" rel="stylesheet" href="../../Resource/js/jqueryUI/theme/jqgridLightBlue/jquery-ui-1.10.4.custom.css" />

</head>
<body>
	<div id="easyui-tabs" class="easyui-tabs" data-options="tabPosition:'top',fit:true,headerWidth:80,tabWidth:80">
		<div
			data-locale-title="ACCOUNTS"
			style="padding: 0px;"
			data-options="tabWidth:125">
			<iframe
				scrolling="auto"
				name='AccountsToLedger'
				frameborder="0"
				src="AccountsToLedger.html"
				style="width: 100%; height: calc(100% - 3px);">
	        </iframe>
		</div>
		<div
			data-locale-title="STATISTICS"
			style="padding: 0px"
			data-options="tabWidth:125">
			<iframe
				scrolling="auto"
				name='StatisticsBill'
				frameborder="0"
				src=""
				style="width: 100%; height: calc(100% - 3px);">
	        </iframe>
		</div>
		<div
			data-locale-title="JS_NO"
			style="padding: 0px"
			data-options="tabWidth:125">
			<iframe
				scrolling="auto"
				name='JsnoToLedger'
				frameborder="0"
				src=""
				style="width: 100%; height: calc(100% - 3px);">
			</iframe>
		</div>
		<div
			data-locale-title="DOWN_JS_NO"
			style="padding: 0px"
			data-options="tabWidth:125">
			<iframe
				scrolling="auto"
				name='DownCompensationToLedger'
				frameborder="0"
				src=""
				style="width: 100%; height: calc(100% - 3px);">
			</iframe>
		</div>
  </div>
<script type="text/javascript" src="../../Resource/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery.i18n.properties.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../../Resource/js/base/commonControl.js"></script>
<script type="text/javascript">
    window.sencodTab=true;
	$(function(){
		$(".easyui-tabs").tabs({
		    onSelect:function(title,index){
                onIframeSelect(title,index);
                if(window.frames[index].setGridHeightWidth){
                    //iframe嵌套存在问题，切换界面后，jqgrid表格变形了，手动调整下
                    setTimeout(window.frames[index].setGridHeightWidth, 50);
                }
		    }
		});
	});

    function onIframeSelect(title,index){
        var src=$("iframe:eq("+index+")").attr("src");
        if(src!="")
            return;
        if(index==1)
            src="StatisticsBill.html?tv="+Math.random();
        else if(index==2)
            src="JsnoToLedger.html?tv="+Math.random();
        else if(index==3)
            src="DownCompensationToLedger.html?tv="+Math.random();
        $("iframe:eq("+index+")").attr("src", src);
    }
</script>
</body>
</html>