@charset "utf-8";
/* CSS Document */
body{
	width: 1200px; 
}
.zong{
	width: 1200px;
}
.bt{
	text-align:center;
	font-weight:bold;
}
.dw{
position:absolute;left:20px;
	font-weight:bold;
}
.bm{
	position:absolute;left:745px;
	font-weight:bold;
}
.hth{
	margin-left: 965px;
	font-weight:bold;
}
.cc{
	/* line-height: 30px; */
	margin-top: 30px;
}
.tb tr td{
	text-align:center;
}
.tb{
	font-size: 10px;
}
