<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link id="CustomTheme" type="text/css" rel="stylesheet" href="../../Resource/css/index/customLightBlue.css" />
    <link id="EasyuiTheme" type="text/css" rel="stylesheet" href="../../Resource/js/easyUI/themes/easyuiLightBlue.css" />    
    <link id="JqgridTheme" type="text/css" rel="stylesheet" href="../../Resource/js/jqueryUI/theme/jqgridLightBlue/jquery-ui-1.10.4.custom.css" />
    <link type="text/css" rel="stylesheet" href="../../Resource/js/easyUI/themes/icon.css" />
    <link type="text/css" rel="stylesheet" href="../../Resource/js/jqueryUI/theme/ui.jqgrid.css" />
    <title>#{SysLanguage_title}</title>
</head>
<body>
    <div style="display: table; width: 100%;">
        <div id="left_body" style="display: table-cell;   height: 900px; width: 25%; padding: 10px;
            border-right: 1px solid #E8E8E8;">
            <input type="hidden" id="hdmoduleid" value="" />
            <ul id="treeModule" class="easyui-tree" style="width: 210px; height: 900px; overflow: auto;
                font-family: 微软雅黑; font-size: 14px;">
            </ul>
        </div>
        <div  id="middle_body" style="display: table-cell; width: 1%;">
            &nbsp;&nbsp;
        </div>
        <div  id="right_body" style="display: table-cell; vertical-align: top; overflow: auto; height: 900px; width: 74%;">
            <div id="toolbar" class="easyui-panel" style="width:100%;padding: 4px; border-width: 0; border-bottom-width: 1px;">
                #{PAGE_TOOLBAR_BUTTONROLE}
            </div>
            <div style="width:100%;height: 10px;overflow:hidden;">
            </div>
            <div id="gridControl">
                <table id="gridTable">
                </table>
                <div id="gridPager">
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../Resource/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery.i18n.properties.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../../Resource/js/base/commonControl.js"></script>
<script type="text/javascript" src="../../Resource/js/base/commonBusiness.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/i18n/grid.locale-cn.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/plugins/grid.setcolumns.js"></script>
<script type="text/javascript" src="../../Resource/js/jsLinq/linq.js"></script>
<script language="javascript" type="text/javascript">
    var moduleid = 0;
    var savedRow = null;
    var savedCol = null;
    var editRow={};
    $(function () {
        var parms = getUrlParms();
        moduleid = parms["moduleId"];
        initScript();
        initData();
        initStyle();
    });

    $(window).load(function() {
        hideLoading();
    });

    var initStyle = function () {
    }

    var oldSetGridHeightWidth = setGridHeightWidth;
    var setGridHeightWidth = function(){
    	// 重写自适应方法
    	var l=211;
    	var m=8;
    	$("#left_body").width(l+"px")
    	$("#middle_body").width(m+"px");
    	var w=l+m+17;
    	$("#right_body,#toolbar").width($(window).width()-w);
    	$(".easyui-fluid").width($(window).width()-w);
    	oldSetGridHeightWidth(w,100);	
    }
    
    var initScript = function () {
    	showLog({id:"toolbar",operateModuleGlobal:"中英文管理",moduleId: moduleid });
        $(window).resize(function () {
            setGridHeightWidth();
            $("#treeModule").height($(window).height()-10); // 自适应高度
            setToolbarHeightWidth();
        });
    }

    var initData = function () {

        loadModuleTree();
        loadList();
    }

    var loadModuleTree = function () {
        showLoading();
        var parmsArray = [];
        var serverUrl = "../../admin/module/findModuleLeftList";
        $.getJSON(serverUrl, {}, function (dataObj) {
            if (isServerResultDataPass(dataObj)) {
                formatTree(dataObj);
            } else {
                setModuleTree([]);
                FailResultDataToTip(dataObj);
            }
            hideLoading();
        });
    }

    var formatTree = function (dataObj) {
        // 格式化数据
        var lang=GetLang();
        var moduleList = [];
        Enumerable.From(dataObj.resultDataFull)
                    .Where(function (i) { return i.modulefatherid == 0; })
                    .ToArray()
                    .forEach(function (i) {
                        var fatherModule = {};
                        fatherModule.id = i.moduleid;
                        fatherModule.text = (lang=="en"?i.modulename_en:i.modulename);
                        fatherModule.children = loadModulesChild(dataObj.resultDataFull, i.moduleid);
                        moduleList.push(fatherModule);
                    });

        setModuleTree(moduleList);
        $("#treeModule").height($(window).height()-10); // 自适应高度
    }

    var setModuleTree = function (moduleList) {
        $('#treeModule').tree({
            checkbox: false,
            data: moduleList,
            animate: true,
            open: false,
            onClick: function (node) {
                 showLoading();
                 $('#hdmoduleid').val(node.id);
                 searchData();
            },
            onSelect: function (node) {
                $(this).tree('expand', node.target);
            }
        });
    }

    var loadModulesChild = function (moduleJson, moduleid) {
    	var lang=GetLang();
        var moduleList = [];
        Enumerable.From(moduleJson)
            .Where(function (i) { return i.modulefatherid == moduleid; })
            .ToArray()
            .forEach(function (i) {
                var childModule = {};
                childModule.id = i.moduleid;
                childModule.text = (lang=="en"?i.modulename_en:i.modulename);
                moduleList.push(childModule);
            });

        return moduleList;
    }

    var verified = function () {
        var errorMessage = "";
        var gridAllData = $("#gridTable").jqGrid("getRowData");
        for (var i = 0; i < gridAllData.length; i++) {
            if (gridAllData[i]["code"] == "") {
                errorMessage += "<p>#{SysLanguage_di}" + (i + 1) + "#{SysLanguage_target_noempty}</p>";
            }

            if (gridAllData[i]["zh"] == "") {
                errorMessage += "<p>#{SysLanguage_di}" + (i + 1) + "#{SysLanguage_zh_noempty}</p>";
            }
            /*
            if (gridAllData[i]["en"] == "") {
                errorMessage += "<p>#{SysLanguage_di}" + (i + 1) + "行 英文 不能为空</p>";
            }
            */
        }

        if (errorMessage.length != "") {
            errorNotification({
                SimpleMessage: $.i18n.prop('SysLanguage_gridchecknopass'),
                MoreMessage: errorMessage
            });
            return false;
        }

        return true;
    }

    var save = function () {
        loseGridFocus();
        if (!verified()) {
            return;
        }
        showLoading();
        var moduleid=$('#hdmoduleid').val();
        var buttonList = $("#gridTable").jqGrid("getRowData");
        for(var i=0,ilen=buttonList.length;i<ilen;i++)
        {
        	buttonList[i].moduleid=moduleid;
        }
        var url="../../admin/syslanguage/savelanguage?t="+Math.random();
        var data = {"lang":encodeURI(JSON.stringify(buttonList))};
        $.post(url,data,function(data){
        	 if (isServerResultDataPass(data)) {
	                searchData();
	                correctNotification({
	                    SimpleMessage: data.resultDataFull.simpleMessage
	                });
	            } else {
	                FailResultDataToTip(data);
	            }
	            hideLoading();
        },'json');
    }

    var closeChild = function (dialogId) {
        $("#" + dialogId).dialog('destroy');
    }

    var loseGridFocus = function () {
        if (savedRow && savedCol) {
            $('#gridTable').jqGrid('saveCell', savedRow, savedCol);
        }
    }

    var add = function () {
        loseGridFocus();
        var ids = $("#gridTable").jqGrid('getDataIDs');
        var rowid = Math.max.apply(Math, ids);
        if (rowid == "-Infinity"){
            rowid = 0;
        }
        var newrowid = rowid + 1;
        var dataRow = {
        	rowid: newrowid,
            sn: "0",
            within_code: "0",
            whcenter: "0",
            moduleid: $('#hdmoduleid').val(),
            code: "",
            zh: "",
            en: "",
            remark:""
        };
        $("#gridTable").jqGrid("addRowData", newrowid, dataRow, "last");
    }

    var remove = function () {
        var rolebuttonIdArray = [];
        var selectRowItems = $("#gridTable").jqGrid("getGridParam", "selarrrow");
        if (selectRowItems.length == 0) {
            errorNotification({
                SimpleMessage: $.i18n.prop('SysLanguage_selectonerow')
            });
            return;
        }
        for (var i = 0; i < selectRowItems.length; i++) {
            var rowData = $("#gridTable").jqGrid('getRowData', selectRowItems[i]);
            rolebuttonIdArray.push(rowData.sn);
        }
        $.messager.confirm($.i18n.prop('SysLanguage_alert'), $.i18n.prop('SysLanguage_delete'), function (r) {
            if (r) {
                var buttonList = [];
                for (var i = selectRowItems.length-1; i >=  0; i--) {
                    var curRowData = $("#gridTable").jqGrid("getRowData", selectRowItems[i]);
                    if (curRowData.sn == "0") {
                        $("#gridTable").jqGrid("delRowData", selectRowItems[i]);
                    } else {
                         var buttonVO= {sn:curRowData.sn}
                         buttonList.push(buttonVO);
                    }
                }
                if (buttonList.length > 0) {
                    showLoading();
                	$.ajax({
                		url : "../../admin/syslanguage/dellanguage?t="+Math.random(),
                		data:JSON.stringify(buttonList),
                		type:"POST",
                		contentType:'application/json;charset=utf-8',
                		success:function(data){
                			  if (isServerResultDataPass(data)) {
                	                searchData();
                	                correctNotification({
                	                    SimpleMessage: data.resultDataFull.simpleMessage
                	                });
                	            } else {
                	                FailResultDataToTip(data);
                	            }
                	            hideLoading();
                		}
                	});
                }
            }
        });
    }

    var searchData = function () {
        $("#gridTable").jqGrid('setGridParam', {
            url: getSearchGridUrl(),
            datatype: 'json',
            postData: { "filters": "" },
            page: 1
        }).trigger("reloadGrid");
    }

    var getSearchGridUrl = function () {
    	var customSearchFilters = encodeURI(getSearchFilters());
        return '../../admin/syslanguage/getListForGrid?t='+ Math.random() + '&customSearchFilters=' + customSearchFilters;
    }

    var getSearchFilters = function () {
        var parmsArray = [
          { name: 'moduleid', value: $('#hdmoduleid').val() }
        ];

        return formatSearchParames(parmsArray);
    }

    var loadList = function () {
        $("#gridTable").jqGrid({
            url: "",
            datatype: "json",
            width: "100%",
            colNames: ['sn', $.i18n.prop('SysLanguage_within_code'), $.i18n.prop('SysLanguage_whcenter'), $.i18n.prop('SysLanguage_modeleid'), $.i18n.prop('SysLanguage_target'), $.i18n.prop('SysLanguage_zh'),$.i18n.prop('SysLanguage_en'),$.i18n.prop('SysLanguage_remark')],
            colModel: [
                { name: 'sn', index: 'sn', width: 70, hidden: true  },
                { name: 'within_code', index: 'within_code', width: 70, hidden: true  },
                { name: 'whcenter', index: 'whcenter', width: 70, hidden: true  },
                { name: 'moduleid', index: 'moduleid', width: 70, hidden: true  },
                { name: 'code', index: 'code', editable: true, edittype: 'text', align: 'left', fixed: true, width: 220, search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] }
	                , editoptions: {
	                    dataEvents: [{ type: 'focus', data: {}, fn: function () {
	                        $(this).select();
	                    }
	                    }]
	                }
                },
                { name: 'zh', index: 'zh', editable: true, edittype: 'text', align: 'left', fixed: true, width: 220, search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] }
	                , editoptions: {
	                    dataEvents: [{ type: 'focus', data: {}, fn: function () {
	                        $(this).select();
	                    }
	                    }]
	                }
            	},
            	{ name: 'en', index: 'en', editable: true, edittype: 'text', align: 'left', fixed: true, width: 220, search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] }
	                , editoptions: {
	                    dataEvents: [{ type: 'focus', data: {}, fn: function () {
	                        $(this).select();
	                    }
	                    }]
	                }
        		},
        		{ name: 'remark', index: 'remark', editable: true, edittype: 'text', align: 'left', fixed: true, width: 180, search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] }
	                , editoptions: {
	                    dataEvents: [{ type: 'focus', data: {}, fn: function () {
	                        $(this).select();
	                    }
	                    }]
	                }
    			}
            ],
            cellEdit: true,
            cellsubmit: 'clientArray',
            shrinkToFit: false,
            altRows: true,
            altclass: 'gridSpacingClass',
            forceFit: true,
            cellLayout: 0,
            scroll: false,
            autowidth: true,
            sortname: 'sn',
            sortorder: "asc",
            loadonce: false,
            mtype: "POST",
            viewrecords: true,
            rownumbers: true,
            multiselect: true,
            rowNum: 100,
            height: "100%",
            rowList: [15, 20, 30, 50, 100],
            pager: "#gridPager",
            jsonReader: {
                root: "rows",
                total: "total",
                page: "page",
                records: "records",
                repeatitems: false
            },
            gridComplete: function () {
            },
            loadComplete: function (xhr) {
                FailResultDataToTip(xhr);
                hideLoading();
            },
            onSelectRow: function () {
            }
        });
        setGridHeightWidth();
        $("#gridTable").jqGrid('navGrid', '#gridPager', { add: false, edit: false, del: false, refresh: true }, {}, {}, {}, { multipleSearch: true, closeOnEscape: true, closeAfterSearch: true });

        $("#gridTable").jqGrid('navButtonAdd', '#gridPager', {
            caption: $.i18n.prop('SysLanguage_setcolumn'),
            title: "Reorder Columns",
            onClickButton: toggleGridColumns
        });

        $("#gridTable").jqGrid('navButtonAdd', '#gridPager', {
            caption: $.i18n.prop('SysLanguage_search'),
            title: "",
            onClickButton: toggleGridSearchToolbar
        });

        $('#gridTable').setGridParam({
            beforeEditCell: function (rowid, cellname, value, iRow, iCol) {
                savedRow = iRow;
                savedCol = iCol;
            }
        });
    }
</script>
</html>
