<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link id="CustomTheme" type="text/css" rel="stylesheet" href="../../Resource/css/index/customLightBlue.css" />
    <link id="EasyuiTheme" type="text/css" rel="stylesheet" href="../../Resource/js/easyUI/themes/easyuiLightBlue.css" />    
    <link id="JqgridTheme" type="text/css" rel="stylesheet" href="../../Resource/js/jqueryUI/theme/jqgridLightBlue/jquery-ui-1.10.4.custom.css" />
    <link type="text/css" rel="stylesheet" href="../../Resource/js/easyUI/themes/icon.css" />
    <link type="text/css" rel="stylesheet" href="../../Resource/js/jqueryUI/theme/ui.jqgrid.css" />
    <title>#{SysRoleButtons_Page_Title}</title>
</head>
<body>
    <div style="display: table; width: 100%;">
        <div id="left_body" style="display: table-cell; height: 900px; width: 25%; padding: 10px; border-right: 1px solid #E8E8E8;">
            <input type="hidden" id="hdmoduleid" value="" />
            <ul id="treeModule" class="easyui-tree" style="width: 210px; height: 900px; overflow: auto;
                font-family: 微软雅黑; font-size: 14px;">
            </ul>
        </div>
        <div id="middle_body" style="display: table-cell; width: 1%;">
            &nbsp;&nbsp;
        </div>
        <div id="right_body" style="display: table-cell; vertical-align: top; overflow: auto; height: 900px; width: 74%;">
            <div id="toolbar" class="easyui-panel" style="width:100%;padding: 4px; border-width: 0; border-bottom-width: 1px;">
                #{PAGE_TOOLBAR_BUTTONROLE}
            </div>
            <div style="width:100%;height: 10px;overflow:hidden;">
            </div>
            <div id="gridControl">
                <table id="gridTable">
                </table>
                <div id="gridPager">
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../Resource/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery.i18n.properties.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../../Resource/js/base/commonControl.js"></script>
<script type="text/javascript" src="../../Resource/js/base/commonBusiness.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/i18n/grid.locale-cn.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/plugins/grid.setcolumns.js"></script>
<script type="text/javascript" src="../../Resource/js/jsLinq/linq.js"></script>
<script language="javascript" type="text/javascript">
    var moduleid = 0;
    var savedRow = null;
    var savedCol = null;
    var editRow={};
    $(function () {
        var parms = getUrlParms();
        moduleid = parms["moduleId"];
        initScript();
        initData();
        initStyle();
    });

    $(window).load(function() {
        hideLoading();
    });

    var initStyle = function () {
    }

    var oldSetGridHeightWidth = setGridHeightWidth;
    var setGridHeightWidth = function(){
    	// 重写自适应方法1171
    	var l=211;
    	var m=8;
    	$("#left_body").width(l+"px")
    	$("#middle_body").width(m+"px");
    	var w=l+m+17;
    	$("#right_body,#toolbar").width($(window).width()-w);
    	$(".easyui-fluid").width($(window).width()-w);
    	oldSetGridHeightWidth(w,100);	
    }
    
    var initScript = function () {
    	//showLog({id:"toolbar",operateModuleGlobal:"按钮管理",moduleId: moduleid });
        $(window).resize(function () {
            setGridHeightWidth();
            $("#treeModule").height($(window).height()-10); // 自适应高度
            setToolbarHeightWidth();
        });
    }

    var initData = function () {

        loadModuleTree();
        loadList();
    }

    var loadModuleTree = function () {
        showLoading();
        var parmsArray = [];
        
        var serverUrl = "../../admin/module/findModuleLeftList?t="+Math.random();
        $.getJSON(serverUrl, {}, function (dataObj) {
            if (isServerResultDataPass(dataObj)) {
                formatTree(dataObj);
            } else {
                setModuleTree([]);
                FailResultDataToTip(dataObj);
            }
            hideLoading();
        });
    }

    var formatTree = function (dataObj) {
        // 格式化数据
        var lang=GetLang();
        var moduleList = [];
        Enumerable.From(dataObj.resultDataFull)
                    .Where(function (i) { return i.modulefatherid == 0; })
                    .ToArray()
                    .forEach(function (i) {
                        var fatherModule = {};
                        fatherModule.id = i.moduleid;
                        fatherModule.text = (lang=="en"?i.modulename_en:i.modulename);
                        fatherModule.children = loadModulesChild(dataObj.resultDataFull, i.moduleid);
                        moduleList.push(fatherModule);
                    });

        setModuleTree(moduleList);
        $("#treeModule").height($(window).height()-10); // 自适应高度
    }

    var setModuleTree = function (moduleList) {
        $('#treeModule').tree({
            checkbox: false,
            data: moduleList,
            animate: true,
            open: false,
            onClick: function (node) {
                if (node.children == undefined) {
                    showLoading();
                    $('#hdmoduleid').val(node.id);
                    searchData();
                }
            },
            onSelect: function (node) {
                $(this).tree('expand', node.target);
            }
        });
    }

    var loadModulesChild = function (moduleJson, moduleid) {
    	var lang=GetLang();
        var moduleList = [];
        Enumerable.From(moduleJson)
            .Where(function (i) { return i.modulefatherid == moduleid; })
            .ToArray()
            .forEach(function (i) {
                var childModule = {};
                childModule.id = i.moduleid;
                childModule.text = (lang=="en"?i.modulename_en:i.modulename);
                moduleList.push(childModule);
            });

        return moduleList;
    }

    var verified = function () {
        var errorMessage = "";
        var gridAllData = $("#gridTable").jqGrid("getRowData");
        for (var i = 0; i < gridAllData.length; i++) {
            if (gridAllData[i]["buttonName"] == "") {
                errorMessage += "<p>#{SysRoleButtons_start}" + (i + 1) + "#{SysRoleButtons_name_nonull}</p>";
            }

            if (gridAllData[i]["buttonUse"] == "") {
                errorMessage += "<p>#{SysRoleButtons_start}" + (i + 1) + "#{SysRoleButtons_code_nonull}</p>";
            }
        }

        if (errorMessage.length != "") {
            errorNotification({
                SimpleMessage: $.i18n.prop('SysRoleButtons_invalid'),
                MoreMessage: errorMessage
            });
            return false;
        }

        return true;
    }

    var save = function () {
        loseGridFocus();
        if (!verified()) {
            return;
        }
        
        var gridAllData = $("#gridTable").jqGrid("getRowData");
        if(gridAllData.length<=0)
        {
        	errorNotification({ SimpleMessage: $.i18n.prop('SysRoleButtons_nosave')});
		     return;
        }
       
        var error="";
        for (var i = 0; i < gridAllData.length; i++)
        {
            var gridAllDataItem = gridAllData[i];
            var buttonIcon = gridAllDataItem['buttonIcon'];
            if (buttonIcon.indexOf($.i18n.prop('SysRoleButtons_selectico')) == -1) {
                var iconstar = buttonIcon.indexOf('icon-');
                var iconend = buttonIcon.indexOf('"', iconstar);
                gridAllData[i]['buttonIcon'] = buttonIcon.substring(iconstar, iconend);
            }
            else {
                gridAllData[i]['buttonIcon'] = '';
            }
 
            if(gridAllDataItem['buttonUse']=='')
            {
            	error=$.i18n.prop('SysRoleButtons_buttoncodenonull');
            	break;
            }
            if(gridAllDataItem['buttonName']=='')
            {
            	error=$.i18n.prop('SysRoleButtons_buttonnamenonull');
            	break;
            }
            if(gridAllDataItem['buttonOrder']=='')
            {
            	error=$.i18n.prop('SysRoleButtons_buttonordernonull');
            	break;
            }
        }
		if(error!="")
		{
			 errorNotification({ SimpleMessage: error});
		     return;
		}
        
        console.log(gridAllData);
        $.messager.confirm({ 
            title: $.i18n.prop('SysRoleButtons_alert'),
            msg: $.i18n.prop('SysRoleButtons_savedata'),
            fn: function (r) {
                if (r) {

				        showLoading();
				        $.ajax({
				    		url : "../../admin/button/updatButton?t="+Math.random(),
				    		data:JSON.stringify(gridAllData),
				    		type:"POST",
				    		contentType:'application/json;charset=utf-8',
				    		success:function(data){
				    			  if (isServerResultDataPass(data)) {
				    	                searchData();
				    	                correctNotification(data.resultDataFull);
				    	            } else {
				    	                FailResultDataToTip(data);
				    	            }
				    	            hideLoading();
				    		}
				    	});
                }
            }
        });
    }

    var closeChild = function (dialogId) {
        $("#" + dialogId).dialog('destroy');
    }

    var loseGridFocus = function () {
        if (savedRow && savedCol) {
            $('#gridTable').jqGrid('saveCell', savedRow, savedCol);
        }
    }

    var add = function () {
        loseGridFocus();
        var ids = $("#gridTable").jqGrid('getDataIDs');
        var rowid = Math.max.apply(Math, ids);
        if (rowid == "-Infinity"){
            rowid = 0;
        }
        var newrowid = rowid + 1;
        var dataRow = {
        	rowid: newrowid,
            operateType: "add",
            buttonId: "0",
            moduleid: $('#hdmoduleid').val(),
            buttonName: "",
            buttonIcon: '',
            buttonOrder: ($("#gridTable").jqGrid('getRowData').length+1)*10,
            buttonSdescription: "",
            buttonUse: ""
        };

        $("#gridTable").jqGrid("addRowData", newrowid, dataRow, "last");
    }

     

    
    var remove = function () {
        var rolebuttonIdArray = [];
        var selectRowItems = $("#gridTable").jqGrid("getGridParam", "selarrrow");
        if (selectRowItems.length == 0) {
            errorNotification({
                SimpleMessage: $.i18n.prop('SysRoleButtons_selectgriddata')
            });
            return;
        }
        for (var i = 0; i < selectRowItems.length; i++) {
            var rowData = $("#gridTable").jqGrid('getRowData', selectRowItems[i]);
            rolebuttonIdArray.push(rowData.buttonId);
        }
        $.messager.confirm($.i18n.prop('SysRoleButtons_alert'), $.i18n.prop('SysRoleButtons_deletedata'), function (r) {
            if (r) {
                var buttonList = [];
                for (var i = selectRowItems.length-1; i >=  0; i--) {
                    var curRowData = $("#gridTable").jqGrid("getRowData", selectRowItems[i]);
                    if (curRowData.operateType == "add") {
                        $("#gridTable").jqGrid("delRowData", selectRowItems[i]);
                    } else {
                         var buttonVO= {buttonId:curRowData.buttonId,moduleid:curRowData.moduleid}
                         buttonList.push(buttonVO);
                    }
                }
                if (buttonList.length > 0) {
                    showLoading();
                	$.ajax({
                		url : "../../admin/button/deleteButton?t="+Math.random(),
                		data:JSON.stringify(buttonList),
                		type:"POST",
                		contentType:'application/json;charset=utf-8',
                		success:function(data){
                			  if (isServerResultDataPass(data)) {
                	                searchData();
                	                correctNotification({
                	                    SimpleMessage: data.resultDataFull,
                	                    MoreMessage: data.resultDataFull
                	                });
                	            } else {
                	                FailResultDataToTip(data);
                	            }
                	            hideLoading();
                		}
                	});
                }
            }
        });
    }

    var searchData = function () {
        $("#gridTable").jqGrid('setGridParam', {
            url: getSearchGridUrl(),
            datatype: 'json',
            postData: { "filters": "" },
            page: 1
        }).trigger("reloadGrid");
    }

    var getSearchGridUrl = function () {
    	var customSearchFilters = encodeURI(getSearchFilters());
        return '../../admin/button/findButtonListById?t='+ Math.random() + '&customSearchFilters=' + customSearchFilters;
    }

    var getSearchFilters = function () {
        var parmsArray = [
          { name: 'moduleid', value: $('#hdmoduleid').val() }
        ];

        return formatSearchParames(parmsArray);
    }

    var loadList = function () {
        $("#gridTable").jqGrid({
            url: "",
            datatype: "json",
            width: "100%",
            colNames: [$.i18n.prop('SysRoleButtons_operatemode'), $.i18n.prop('SysRoleButtons_rolecode'), $.i18n.prop('SysRoleButtons_systemcode'), $.i18n.prop('SysRoleButtons_name_zh'),$.i18n.prop('SysRoleButtons_name_en'), $.i18n.prop('SysRoleButtons_button_code'),$.i18n.prop('SysRoleButtons_button_ico'),$.i18n.prop('SysRoleButtons_button_order'), $.i18n.prop('SysRoleButtons_button_description')],
            colModel: [
                { name: 'operateType', index: 'operateType', width: 0, hidden: true },
                { name: 'buttonId', index: 'buttonId', editable: true, edittype: 'text', align: 'center', sorttype: 'int', search: false, sortable: true, hidden: true, width: 40, key: true },
                { name: 'moduleid', index: 'moduleid', editable: true, edittype: 'text', align: 'center', sorttype: 'int', search: false, sortable: true, hidden: true, width: 40, key: true },
                { name: 'buttonName', index: 'buttonName', editable: true, edittype: 'text', align: 'center', fixed: true, width: 100, search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] }
                , editoptions: {
                    dataEvents: [{ type: 'focus', data: {}, fn: function () {
                        $(this).select();
                    }
                    }]
                }
                },
                
                { name: 'buttonName_en', index: 'buttonName_en', editable: true, edittype: 'text', align: 'center', fixed: true, width: 100, search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] }
                , editoptions: {
                    dataEvents: [{ type: 'focus', data: {}, fn: function () {
                        $(this).select();
                    }
                    }]
                }
                },
                
                { name: 'buttonUse', index: 'buttonUse', editable: true, edittype: 'text', align: 'center', fixed: true, width: 100, search: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] }
                , editoptions: {
                    dataEvents: [{ type: 'focus', data: {}, fn: function () {
                        $(this).select();
                    }
                    }]
                }
                },
                {
                    name: 'buttonIcon', index: 'buttonIcon', editable: false, edittype: 'text', align: 'center', fixed: true, width: 120, search: false 
                         , formatter: function (value, grid, rows) {
                             if (rows.buttonIcon == null || rows.buttonIcon == undefined || rows.buttonIcon == 'null' || rows.buttonIcon == '')
                                 return '<a href="javascript:;" onclick="selectIcon(this)" style="color:blue">选择图标</a>';
                             else
                                 return '<a href="javascript:;" onclick="selectIcon(this)"><span class="' + rows.buttonIcon + '" style="display: inline-block;width: 16px;height:16px;">&nbsp;</span></a>';
                         }
                 },
                 {
                    name: 'buttonOrder', index: 'buttonOrder', editable: true, edittype: 'text', align: 'center', fixed: true, width: 120, search: false 
                     , editoptions: {
                         dataEvents: [{
                             type: 'focus', data: {}, fn: function (e) {
                                 $(this).select();
                             }
                         }]
                     }
                   },
                { name: 'buttonSdescription', index: 'buttonSdescription', editable: true, edittype: 'text', align: 'center', fixed: true, width: 150, search: true,  searchoptions: { sopt: ['cn', 'eq', 'ne'] }
                    , editoptions: {
                        dataEvents: [{ type: 'focus', data: {}, fn: function () {
                            $(this).select();
                        }
                        }]
                    }
                }
            ],
            cellEdit: true,
            cellsubmit: 'clientArray',
            shrinkToFit: false,
            altRows: true,
            altclass: 'gridSpacingClass',
            forceFit: true,
            cellLayout: 0,
            scroll: false,
            autowidth: true,
            sortname: 'buttonOrder',
            sortorder: "asc",
            loadonce: false,
            mtype: "POST",
            viewrecords: true,
            rownumbers: true,
            multiselect: true,
            rowNum: 15,
            height: "100%",
            rowList: [15, 20, 30, 50],
            pager: "#gridPager",
            jsonReader: {
                root: "rows",
                total: "total",
                page: "page",
                records: "records",
                repeatitems: false
            },
            gridComplete: function () {
            },
            loadComplete: function (xhr) {
                FailResultDataToTip(xhr);
                hideLoading();
            },
            onSelectRow: function () {
            }
        });
        
        $("#gridTable").jqGrid('navGrid', '#gridPager', { add: false, edit: false, del: false, refresh: true }, {}, {}, {}, { multipleSearch: true, closeOnEscape: true, closeAfterSearch: true });

        $("#gridTable").jqGrid('navButtonAdd', '#gridPager', {
            caption: $.i18n.prop('SysRoleButtons_setcolumn'),
            title: "Reorder Columns",
            onClickButton: toggleGridColumns
        });

        $("#gridTable").jqGrid('navButtonAdd', '#gridPager', {
            caption: $.i18n.prop('SysRoleButtons_search'),
            title: "",
            onClickButton: toggleGridSearchToolbar
        });

        $('#gridTable').setGridParam({
            beforeEditCell: function (rowid, cellname, value, iRow, iCol) {
                savedRow = iRow;
                savedCol = iCol;
            }
        });

        setGridHeightWidth();
    }
    
    var IconRowCell = null;
    var selectIcon = function (t)
    {
        showLoading();
        IconRowCell = t;
        var dialogID = 'selectIconChoose';
        var href = "../View/SysInfo/SelectIcon.html?callerDialogId=" + dialogID+"&t="+Math.random();
        window.top.open({ title: $.i18n.prop('SysRoleButtons_selectico'), id: dialogID, width: 320, height: 285, isResize: true, href: href });
    }
    function afterSelectPng(strReturn) {
        $(IconRowCell).empty();
        $(IconRowCell).html('<span class="' + strReturn + '" style="display: inline-block;width: 16px;height:16px;">&nbsp;</span>');
    }

</script>
</html>
