<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link id="CustomTheme" type="text/css" rel="stylesheet" href="../../Resource/css/index/customLightBlue.css" />
    <link id="EasyuiTheme" type="text/css" rel="stylesheet" href="../../Resource/js/easyUI/themes/easyuiLightBlue.css" />    
    <link id="JqgridTheme" type="text/css" rel="stylesheet" href="../../Resource/js/jqueryUI/theme/jqgridLightBlue/jquery-ui-1.10.4.custom.css" />
    <link type="text/css" rel="stylesheet" href="../../Resource/js/easyUI/themes/icon.css" />
    <title>快捷键管理</title>
</head>
<body>
    <div style="display: table; width: 100%; padding: 10px;">
        <div style="display: table-cell; overflow: hidden; height: 325px; width: 30%; padding: 10px;
            border-right: 1px solid #E8E8E8;">
            <ul id="treeModule" class="easyui-tree" style="width: 210px; height: 325px; overflow: auto;
                font-family: 微软雅黑; font-size: 14px;">
            </ul>
        </div>
        <div style="display: table-cell; width: 1%;">
            &nbsp;&nbsp;
        </div>
        <div style="display: table-cell; vertical-align: top; overflow: auto; height: 325px;
            width: 69%;">
            <div id="toolbar" class="easyui-panel" style="padding: 4px; width: 328px;">
                <a href="javascript:reset();" id="reset" class="easyui-linkbutton" style="display: none;"
                    plain="true" iconcls="icon-reload">重置</a> 
                    <a href="javascript:save();" id="save"
                        class="easyui-linkbutton" style="display: inline-block;" plain="true" data-options="iconCls:'icon-save'">保存</a><a href="javascript:close();" id="close" class="easyui-linkbutton" style="display: inline-block;"
                            plain="true" iconcls="icon-cancel"> 关闭</a>
            </div>
            <form id="addForm" class="easyui-form" method="post" data-options="novalidate:true" enctype="multipart/form-data">
            <input type="hidden" id="id" name="id" />
            <table class="editTable">
                <tr>
                    <td class="editTitle">
                        系&nbsp;统&nbsp;模&nbsp;块:
                    </td>
                    <td class="editControl">
                        <input type="hidden" id="link" name="link" value="" />
                        <span id="spChooseModule" style="color: #999999;">未选择任何模块</span>
                    </td>
                </tr>
                <tr>
                    <td class="editTitle">
                        自定义标题:
                    </td>
                    <td class="editControl">
                        <input type="text" missingmessage="自定义标题不能为空" data-options="required:true" name="title"
                            id="title" class="easyui-textbox" />
                    </td>
                </tr>
                <tr>
                    <td class="editTitle">
                        自定义图标:
                    </td>
                    <td class="editControl">
                        <div style="height: 40px; width: 40px;">
                            <img  id="imgIco" style="width: 40px; height: 40px; cursor: pointer;"
                                src="../../Resource/images/index/defaultCompanyPic.png" />
                            <!-- <input type="hidden" id="ico" name="ico" value="../../Resource/images/index/defaultCompanyPic.png" /> -->
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="editTitle">
                        上传图片:
                    </td>
                    <td class="editControl">
                        <input type="file" name="file" />
                    </td>
                </tr>
            </table>
            </form>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../Resource/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery.i18n.properties.js"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../../Resource/js/base/commonControl.js"></script>
<script type="text/javascript" src="../../Resource/js/base/commonBusiness.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="../../Resource/js/jsLinq/linq.js"></script>
<script language="javascript" type="text/javascript">

    $(function () {
        var parms = getUrlParms();
        $("#id").val(parms["id"]);
        initScript();
        initData();
        initStyle();
    });

    $(window).load(function () {
        hideLoading();
    });

    var initStyle = function () {
    }

    var initScript = function () {
        loadform();
    }

    var initData = function () {
        if ($("#id").val() != "0") {
            loadDetail();
        }

        loadModuleTree();
    }

    var close = function () {
        closeDialog("SysShortCutLinkDetail");
    }

    var loadModuleTree = function () {
        showLoading();
        $.ajax({
        	url : "../../admin/module/getModulesForMenu?"+Math.random(),
        	type : "POST",
        	success : function(dataObj){
        		if (isServerResultDataPass(dataObj)) {
                    formatTree(dataObj);
                } else {
                    FailResultDataToTip(dataObj);
                }
        	}
        });
    }

    var formatTree = function (dataObj) {
        // 格式化数据
        var moduleList = [];
        Enumerable.From(dataObj.resultDataFull)	   
                    .Where(function (i) { return i.modulefatherid == 0; })
                    .ToArray()
                    .forEach(function (i) {
                        var fatherModule = {};
                        fatherModule.id = i.moduleid;
                        fatherModule.text = i.modulename;
                        fatherModule.url = i.moduleurl;
                        fatherModule.children = loadModulesChild(dataObj.resultDataFull, i.moduleid);
                        moduleList.push(fatherModule);
                    });
        setModuleTree(moduleList);
    }
	
    var setModuleTree = function (moduleList) {
        $('#treeModule').tree({
            checkbox: false,
            data: moduleList,
            animate: true,
            open: false,
            onClick: function (node) {
                if (node.children == undefined) {
                    chooseModule(node.text, node.url+"?moduleId="+node.id);
                }
            },
            onSelect: function (node) {
                $(this).tree('expand', node.target);
            }
        });
    }

    var loadModulesChild = function (moduleJson, moduleId) {
        var moduleList = [];
        Enumerable.From(moduleJson)
            .Where(function (i) { return i.modulefatherid == moduleId; })
            .ToArray()
            .forEach(function (i) {
                var childModule = {};
                childModule.id = i.moduleid;
                childModule.text = i.modulename;
                childModule.url = i.moduleurl;
                moduleList.push(childModule);
            });

        return moduleList;
    }

    var chooseModule = function (title, url) {
        $("#title").textbox('setValue', title);
        $("#spChooseModule").html(title);
        $('#link').val(url);
    }

    var reset = function () {
        if ($("#id").val() == "0") {
            $('form').form('clear');
        } else {
            loadDetail();
        }
    }

    var save = function () {
        var validated = $("#addForm").form('enableValidation').form('validate');
        if (!validated) {
            errorNotification({
                SimpleMessage: "保存操作中部分数据验证不通过"
            });
            return;
        }

        // 额外自定义判断
        if ($("#link").val() == "") {
            errorNotification({
                SimpleMessage: "保存操作中部分数据验证不通过",
                MoreMessage: "请选择系统模块"
            });
            return;
        }

        $.messager.confirm('提示', '确定保存吗?', function (r) {
            if (r) {
                showLoading();
                $("#addForm").submit();
            }
        });
    }

    var loadDetail = function () {
        showLoading();
        $.ajax({
        	url : "../../sysInfo/shortCutLink/getDetail?id="+$("#id").val(),
        	type : "POST",
        	success : function(dataObj){
	       		 if (isServerResultDataPass(dataObj)) {
                    $("#id").val(dataObj.resultDataFull.id);
                    $("#link").val(dataObj.resultDataFull.link);
                    $("#title").textbox('setValue', dataObj.resultDataFull.title);
                    if (dataObj.resultDataFull.ico != "" && dataObj.resultDataFull.ico != null) {
                        //$("#ico").val(dataObj.resultDataFull.ico);
                        $("#imgIco").attr("src",dataObj.resultDataFull.ico);
                    }
                } else {
                    FailResultDataToTip(dataObj);
                }
                hideLoading();
        	}
        });
    }

    var loadform = function () {
        $('#addForm').form({
            url: "../../sysInfo/shortCutLink/saveDetail1?" + Math.random(),
            onSubmit: function () {
            },
            success: function (data) {
                var dataObj = eval('(' + data + ')');
                if (isServerResultDataPass(dataObj)) {
                    correctNotification(dataObj.resultDataFull);
                    hideLoading();
                    getCurrentTab("frameTabHomePage").loadShortCut();
                    close();
                } else {
                    hideLoading();
                    FailResultDataToTip(dataObj);
                }
            }
        });
    }

    var choosePng = function () {
        showLoading();
        var href = "../View/SysInfo/SysIcoChoose.html?callerDialogId=SysShortCutLinkDetail";
        window.top.open({ title: "选择图片", id: 'SysIcoChoose', width: 730, height: 480, isResize: true, href: href });
    }

    var afterChoosePng = function (imgSrc) {
        $("#imgIco").attr("src", imgSrc);
        $("#ico").val(imgSrc);
    }

</script>
</html>
