<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8"/><meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <link id="CustomTheme" type="text/css" rel="stylesheet" href="../../Resource/css/index/customLightBlue.css" />
    <link id="EasyuiTheme" type="text/css" rel="stylesheet" href="../../Resource/js/easyUI/themes/easyuiLightBlue.css" />    
    <link id="JqgridTheme" type="text/css" rel="stylesheet" href="../../Resource/js/jqueryUI/theme/jqgridLightBlue/jquery-ui-1.10.4.custom.css" />
    <link type="text/css" rel="stylesheet" href="../../Resource/js/easyUI/themes/icon.css" />
    <link type="text/css" rel="stylesheet" href="../../Resource/js/moment/css/daterangepicker.css" />
    <link type="text/css" rel="stylesheet" href="../../Resource/js/jqueryUI/theme/ui.jqgrid.css" />
    <link type="text/css" rel="stylesheet" href="../../Resource/js/fileUpload/css/fileUpload.css" />
    <title>#{supplier.thisPage}</title>
</head>
<body>
    <div id="toolbar" class="easyui-panel" style="padding: 4px; border-width: 0; border-bottom-width: 1px;">
         #{PAGE_TOOLBAR_BUTTONROLE}
    </div>
    <div class="searchParamesPanel">
        <table id="searchParamesTable">
                <tr>
                    <td class="editRequiredTitle" >
                            <label data-locale="code"/>
                    </td>
                    <td class="editControl">
                        <input class="easyui-textbox" id="code" name="code" style="width: 157px;"/>
                    </td>
                    
                    <td class="editRequiredTitle" >
                            &nbsp&nbsp&nbsp<label data-locale="sel_tihuo"/>
                    </td>
                    <td class="editControl">
                        <input class="easyui-combobox" id="sel_tihuo" name="sel_tihuo" style="width: 157px;"
                        data-options="valueField:'id',textField:'text',data:selList"/>
                    </td>
                    
                    <td class="editRequiredTitle" >
                            &nbsp&nbsp&nbsp<label data-locale="vision"/>
                    </td>
                    <td class="editControl">
                        <input class="easyui-combobox" id="vision" name="vision" style="width: 157px;"
                        data-options="valueField:'id',textField:'text',data:verList"/>
                    </td>
                </tr>
        </table>
    </div>
    <div id="gridControl">
        <table id="gridTable">
            </table>
        <div id="gridPager">
    </div>
</body>
<script type="text/javascript"	src="../../Resource/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery.i18n.properties.js"></script>
<script type="text/javascript" src="../../Resource/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../../Resource/js/easyUI/jquery.easyuiExtend.min.js"></script>
<script type="text/javascript" src="../../Resource/js/base/commonControl.js"></script>
<script type="text/javascript" src="../../Resource/js/base/globalVariable.js"></script>
<script type="text/javascript" src="../../Resource/js/base/commonBusiness.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/i18n/grid.locale-cn.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="../../Resource/js/jqueryUI/plugins/grid.setcolumns.js"></script>
<script type="text/javascript" src="../../Resource/js/fileUpload/js/upload.js"></script>
<script type="text/javascript" src="../../Resource/js/fileUpload/js/file.js"></script>
<script language="javascript" type="text/javascript">
    var sn1="";
    var selList = [
   		{
    		id : "",
    		text : $.i18n.prop('all')
   		},{
    		id : "Y",
    		text : $.i18n.prop('allow')
   		},{
    		id : "N",
    		text : $.i18n.prop('unallow')
   		}
   	];
    var verList = [
    {
        id : "",
        text : $.i18n.prop('all')
    },{
        id : "0",
        text : $.i18n.prop('standard')
    },{
        id : "1",
        text : $.i18n.prop('enterprise')
    },{
        id : "2",
        text : $.i18n.prop('luxury')
    }
   	];
    $(function () {
        var parms = getUrlParms();
        initData();

    });


    $(window).load(function () {
        hideLoading();
    });

    var oldSetGridHeightWidth = setGridHeightWidth;
    var setGridHeightWidth = function() {
    	oldSetGridHeightWidth(40,170);
    	oldSetGridHeightWidth(5, 128);
    };

    var initData = function () {
        $('#sel_tihuo').combobox('setValue','')
        $('#vision').combobox('setValue','')

        loadList();  

        $('#code').textbox({
            onChange: function(){
                searchData();
            }
        });
        $('#sel_tihuo').combobox({
            onChange: function(){
                searchData();
            }
        });
        $('#vision').combobox({
            onChange: function(){
                searchData();
            }
        });
    }

    function searchData() {
        $("#gridTable").jqGrid('setGridParam', {
            url: getSearchGridUrl(),
            datatype: 'json',
            postData: { "filters": "" },
            page: 1
        }).trigger("reloadGrid");
    }
    
    //从SAP更新数据
    var refreshBySAP = function() {
		$.ajax({
			url : '../../scts/supplier/SAPUpdates?t='+ Math.random(),
			type : 'GET',
			success : function(dataObj) {
				if (isServerResultDataPass(dataObj)) 
				{
					var message = {};
					message.autoHide=true;
					message.moreMessage="";
					message.showMoreMessage=false;
					message.simpleMessage=dataObj.resultDataFull;
					correctNotification(message);
				} else 
				{
					FailResultDataToTip(dataObj);
				}
			}
		});
    }
    
    var update = function () {
    	var selectRowItems = $("#gridTable").jqGrid("getGridParam", "selarrrow");
        if (selectRowItems.length > 1 || selectRowItems.length == 0) {
            errorNotification({
                SimpleMessage: $.i18n.prop('SysUsersManage_selectgridrow')
            });
            return;
        }
        var rowData = $("#gridTable").jqGrid('getRowData', selectRowItems);
        openDetail(rowData.code);
    }
    	

    var getSearchGridUrl = function () {
        return '../../sys/withinSet/searchWithinSet?t=' + Math.random() + '&setFilters=' + encodeURI(getSearchFilters());
    }

    var getSearchFilters = function () {
        var parmsArray = [
          { name: 'CODE', value: $("#code").val(), op: "eq" },
          { name: 'SEL_TIHUO', value: $("#sel_tihuo").combobox('getValue'), op: "eq" },
          { name: 'VISION', value: $("#vision").combobox('getValue'), op: "eq" }
        ];
        return formatSearchParames(parmsArray);
    }

    var add = function () {
        openDetail("");
    }
    
    var openDetail = function (code) {
    	showLoading("#{supplier.page.detail.title}...");
        var href = "../View/SysInfo/SysWithinSetDetail.html?code="+ code;
        openDialog({ title: $.i18n.prop('withinSetDetail'), id: 'SupplierDetail', width: 1000, height: 240, isResize: true, href: href, closable: true });
    }

    var loadList = function () {
        $("#gridTable").jqGrid({
            url: getSearchGridUrl(),
            datatype: "json",
            width: "none",
            colNames: ['',$.i18n.prop('code'),$.i18n.prop('sel_tihuo'),$.i18n.prop('vision'),$.i18n.prop('end_date'),$.i18n.prop('amount')],
            colModel: [
            {hidden: true,name: 'sn', index: 'sn', key: true,align: 'center', sorttype: 'int', search: false, sortable: false, width: 40},
            {hidden: false, name: 'code', index: 'code', align: 'center', width: 80, type: 'string', search: true, searchoptions: { sopt: ['cn', 'eq', 'ne']} },
            {hidden: false,name: 'sel_tihuo', index: 'sel_tihuo', align: 'center', width: 80, type: 'string', search: true,formatter: function (value, grid, row){
 					if(row.sel_tihuo=='Y'){
 						return $.i18n.prop('allow');
 					}
 					if(row.sel_tihuo == 'N'){
 						return $.i18n.prop('unallow');
 					}
 					return $.i18n.prop('unallow');
 				}},
            {hidden: false,name: 'vision', index: 'vision', align: 'center', width: 80, type: 'string', search: true,formatter: function (value, grid, row){
                if(row.vision=='0'){
                    return $.i18n.prop('standard');
                }
                if(row.vision == '1'){
                    return $.i18n.prop('enterprise');
                }
                if(row.vision == '2'){
                    return $.i18n.prop('luxury');
                }
                return $.i18n.prop('standard');
            }},
            {hidden: false,name: 'end_date', index: 'end_date', align: 'center', width: 100, type: 'string', search: true, searchoptions: { sopt: ['cn', 'eq', 'ne']}},
            {hidden: false, name: 'amount', index: 'amount', align: 'center', width: 80, type: 'string', search: true, searchoptions: { sopt: ['cn', 'eq', 'ne']} }
            ],
            shrinkToFit: false,
            altRows: true,
            altclass: 'gridSpacingClass',
            forceFit: true,
            cellLayout: 0,
            scroll: false,
            autowidth: true,
            sortname: 'amount',
            sortorder: "asc", 
            loadonce: false,
            mtype: "POST",
            viewrecords: true,
            rownumbers: true,
            multiselect: true,
            rowNum: 15,
            height: "100%",
            rowList: [15, 20, 30, 50],
            pager: "#gridPager",
            jsonReader: {
                root: "rows",
                total: "total",
                page: "page",
                records: "records",
                repeatitems: false
            },
            gridComplete: function () {
                $(".cbox").shiftSelect();
            },
            ondblClickRow: function (index,row,i) {
            	update();
            },
            loadComplete: function (xhr) {
                $('.gridViewPicLink').tooltip({
                    position: 'bottom',
                    content: $(this).attr("title"),
                    onShow: function () {
                        $(this).tooltip('tip').css({
                            backgroundColor: '#FCF8E3',
                            borderColor: '#FAEBCC'
                        });
                    }
                });
                FailResultDataToTip(xhr);
            }
        });

        $("#gridTable").jqGrid('navGrid', '#gridPager', { add: false, edit: false, del: false, refresh: true,search: false }, {}, {}, {}, { multipleSearch: true, closeOnEscape: true, closeAfterSearch: true });
        $("#gridTable").jqGrid('navButtonAdd', '#gridPager', {
            caption: $.i18n.prop('set line'),
            title: $.i18n.prop('set line'),
            onClickButton: toggleGridColumns
        });

        $("#gridTable").jqGrid('navButtonAdd', '#gridPager', {
            caption: $.i18n.prop('simple search'),
            title: $.i18n.prop('simple search'),
            onClickButton: toggleGridSearchToolbar
        });
        
        $("#gridTable").jqGrid('navButtonAdd', '#gridPager', {
            caption: $.i18n.prop('export data'),
            title: $.i18n.prop('export date'),
            buttonicon: "ui-icon-disk",
            onClickButton: function(){
           	ExportToExcel.call(this, {
           		 url : "../../jcda/ZdCus/export?t=" + Math.random()
           	 }); 
            }
        });
        setGridHeightWidth();
    }

    var importContacts = function(){
    	if($("#fileUpload").css("display")!="none"){
    		$("#fileUpload").css("display","none");
    		$("#fileUploadByContacts").css("display","block");
    	}
    	var url = '../../scts/supplier/importUserMailExcel?t=' + Math.random();
        $("#fileUploadByContacts").zyUpload({
            itemWidth: "60px", // 文件项的宽度
            itemHeight: "60px", // 文件项的高度
            url: url,
            multiple: false, // 是否可以多个文件上传
            dragDrop: true, // 是否可以拖动上传文件
            del: true, // 是否可以删除文件
            finishDel: false, // 是否在上传文件完成后删除预览
            close: true,
            fileTypeFilter: ['xls', 'xlsx'],
            remark: "<p>#{supplier.message.excelValid}</p>",
            isDownModuleFile: true,
            downModuleFileUrl: '../../scts/supplier/exportUserMailExcelModel?t=' + Math.random(),
            /* 外部获得的回调接口 */
            onSelect: function (files, allFiles) { // 选择文件的回调方法
            },
            onDelete: function (file, surplusFiles) { // 删除一个文件的回调方法
            },
            onSuccess: function (file) { // 文件上传成功的回调方法
            },
            onFailure: function (file) { // 文件上传失败的回调方法
            },
            onComplete: function (responseInfo) { // 上传完成的回调方法
            	hideLoading();
                var dataObj = JSON.parse(responseInfo);
                if (isServerResultDataPass(dataObj)) {
                	 searchData();
                	 hideLoading();
                     correctNotification(dataObj.resultDataFull);
                } else {
                    FailResultDataToTip(dataObj);
                }
                $("#fileUploadByContacts").empty();
                $("#fileUploadByContacts").hide();
            }
        });
    }
    
    var importData = function () {
    	
    	if($("#fileUploadByContacts").css("display")!="none"){
    		$("#fileUploadByContacts").css("display","none");
    		$("#fileUpload").css("display","block");
    	}
    	
        var url = "../../scts/supplier/importExcel?t=" + Math.random();
        $("#fileUpload").zyUpload({
            itemWidth: "60px", // 文件项的宽度
            itemHeight: "60px", // 文件项的高度
            url: url,
            multiple: false, // 是否可以多个文件上传
            dragDrop: true, // 是否可以拖动上传文件
            del: true, // 是否可以删除文件
            finishDel: false, // 是否在上传文件完成后删除预览
            close: true,
            fileTypeFilter: ['xls', 'xlsx'],
            remark: "<p>#{supplier.message.excelValid}</p>",
            isDownModuleFile: true,
            downModuleFileUrl: "../../scts/supplier/exportExcelModel?t=" + Math.random(),
            /* 外部获得的回调接口 */
            onSelect: function (files, allFiles) { // 选择文件的回调方法
            },
            onDelete: function (file, surplusFiles) { // 删除一个文件的回调方法
            },
            onSuccess: function (file) { // 文件上传成功的回调方法
            },
            onFailure: function (file) { // 文件上传失败的回调方法
            },
            onComplete: function (responseInfo) { // 上传完成的回调方法
            	hideLoading();
                var dataObj = JSON.parse(responseInfo);
                if (isServerResultDataPass(dataObj)) {
                	 searchData();
                	 hideLoading();
                     correctNotification(dataObj.resultDataFull);
                } else {
                    FailResultDataToTip(dataObj);
                }
                $("#fileUpload").empty();
                $("#fileUpload").hide();
            }
        });
    }
  </script>
</html>