/*쐙킬催쨭*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form,
	fieldset, img, button, textarea {
	margin: 0;
	padding: 0;
	border: none;
}

.mask {
	position: absolute;
	top: 33px;
	filter: alpha(opacity = 100);
	background-color: #ffffff;
	z-index: 1002;
	left: 0px;
	opacity: 1;
	-moz-opacity: 1;
}

dl, dt, dd, ul, ol, li, p {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

em, cite, th, h1, h2, h3, h4, h5, h6 {
	font-style: normal;
	font-weight: normal;
}

input, img {
	vertical-align: middle;
	display: block;
	margin: 0;
	padding: 0;
	border: none;
}

html, body {
	height: 100%;
}

body {
	font-family: "풕턼환쥌", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
	font-family: "풕턼환쥌", Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	cursor: pointer;
}

input:focus, textarea:focus {
	outline: none;
}

.clearfix {
	clear: both;
}
/*---쟈웚얁첤---*/
.fix {
	*zoom: 1;
}

.fix:after {
	display: block;
	content: "clear";
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}

/*---훱楞輝---*/
.container {
	width: 1140px;
	margin: 0 auto;
	padding: 30px 0;
}

.order-detail {
	width: 100%;
	background: #fdfcfc;
	border: 1px solid #e3e3e3;
	padding: 10px 0;
}

/* 쟚호 */
label {
	font-size: 12px;
	cursor: pointer;
}

label i {
	font-size: 12px;
	font-style: normal;
	display: inline-block;
	width: 13px;
	height: 13px;
	text-align: center;
	line-height: 13px;
	color: #fff;
	vertical-align: middle;
	margin: -3px 4px 0px 0px;
	border: #ccc 1px solid;
}

input[type="checkbox"], input[type="radio"] {
	display: none;
}

input[type="radio"]+i {
	border-radius: 50%;
}

input[type="checkbox"]:checked+i, input[type="radio"]:checked+i {
	background: #7595ca;
	border: 1px solid #7595ca;
}

input[type="checkbox"]:disabled+i, input[type="radio"]:disabled+i {
	border-color: #ccc;
}

input[type="checkbox"]:checked:disabled+i, input[type="radio"]:checked:disabled+i
	{
	background: #ccc;
}

.zaitu {
	padding: 15px 40px 0px;
}

.way {
	float: left;
	margin-right: 15px;
}

.order-table td {
	line-height: 24px;
}

.filltitle {
	color: #666;
	font-size: 12px;
}

.form-style {
	width: 180px;
	height: 28px;
	padding-left: 10px;
	font-family: 풕턼환쥌;
	font-size: 12px;
	border: 1px solid #e4e7e8;
	border-image: initial;
	border-radius: 2px;
}

.form-style2 {
	width: 420px;
}

.place a {
	color: #6482b4;
	font-size: 12px;
	text-decoration: underline;
	padding-left: 4px;
}

.xz {
	padding-left: 2px;
	font-size: 12px;
}

.w01 {
	width: 8%;
	float: left;
}

.w02 {
	width: 13%;
	float: left;
}

.w03 {
	width: 10%;
	float: left;
}

.w04 {
	width: 12%;
	float: left;
}

.w05 {
	width: 12%;
	float: left;
}

.w06 {
	width: 10%;
	float: left;
}

.w07 {
	width: 10%;
	float: left;
}

.w08 {
	width: 10%;
	float: left;
}

.w09 {
	width: 15%;
	float: left;
}

.w11 {
	width: 8%;
	float: left;
}

.w12 {
	width: 15%;
	float: left;
}

.w13 {
	width: 15%;
	float: left;
}

.w14 {
	width: 15%;
	float: left;
}

.w15 {
	width: 15%;
	float: left;
}

.w16 {
	width: 12%;
	float: left;
}

.w17 {
	width: 20%;
	float: left;
}

.order-list ul li {
	width: 100%;
	font-family: 풕턼환쥌;
	font-size: 12px;
	color: #666;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-top: 1px solid #eaeaea;
}

.order-list {
	border: 1px solid #e3e3e3;
	margin-top: 12px;
	width: 100%;
}

.panel {
	display: none;
}

.zhanshi img {
	margin: 0 auto;
	padding-top: 15px;
}

.yincang img {
	margin: 0 auto;
	padding-top: 15px;
}

.tab-list {
	width: 100%;
	font-family: "풕턼환쥌";
	background: #fafafa;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
}

.tab-list th {
	margin: 0;
	background-color: #f5f5f5;
	font-size: 12px;
	color: #666;
	font-weight: bold;
}

.tab-list tr {
	margin: 0;
	color: #666;
	font-size: 12px;
	height: 40px;
	background-color: #fafafa;
}

.tab-list tr td {
	border-top: 1px solid #eaeaea;
}

.operation {
	background: #fafafa;
	height: 52px;
}

.add {
	float: left;
	width: 74px;
	height: 32px;
	line-height: 32px;
	background: #406ebc;
	border-radius: 2px;
	color: #fff;
	font-size: 14px;
	margin-top: 10px;
	margin-left: 488px;
}

.add p {
	padding-left: 34px;
	background: url(../images/add.png) 12px 8px no-repeat;
}

.delete {
	float: left;
	width: 74px;
	height: 32px;
	line-height: 32px;
	background: #9fa8b7;
	border-radius: 2px;
	color: #fff;
	font-size: 14px;
	margin-left: 12px;
	margin-top: 10px;
}

.back {
	float: left;
	width: 74px;
	height: 32px;
	line-height: 32px;
	background: #406ebc;
	border-radius: 2px;
	color: #fff;
	font-size: 14px;
	margin-left: 12px;
	margin-top: 10px;
}

.back p {
	padding-left: 34px;
	background: url(../images/add.png) 12px 8px no-repeat;
}

.delete p {
	padding-left: 34px;
	background: url(../images/shut.png) 12px 8px no-repeat;
}

select {
	-webkit-appearance: none;
	padding-right: 10px;
	width: 192px;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	font-size: 12px;
	font-family: 풕턼환쥌;
	border: 1px solid #e4e7e8;
	border-radius: 2px;
	background: url(../images/arrow-down.png) no-repeat scroll right 6px
		center transparent;
}

.detailSelected {
	background : #7EC0EE;
}

.part1 {
	width: 100%;
	border: 1px solid #e3e3e3;
}

.part-left {
	float: left;
	width: 60px;
	background: #f9fbfb;
	border-right: 1px solid #e8ebec;
	text-align: center;
	font-size: 14px;
	color: #556e98;
	font-weight: 600;
}

.part-left img {
	margin: 0 auto;
	margin-bottom: 5px;
}

.part-right {
	float: left;
	width: 1078px;
	padding: 10px 0;
}

.height1 {
	height: 190px;
}

.height1 img {
	margin-top: 65px;
}

.height2 {
	height: 110px;
}

.height2 img {
	margin-top: 32px;
}

.height4 {
	height: 70px;
}

.height4 img {
	margin-top: 13px;
}